Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Review changes
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

Add rules
  .eslintrc.json
Due: none

not using the GestureBasicSrc files other than for legacy and simplified pinch gesture boundary check
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
Due: none

Correct import
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.web.tsx
Due: prettier --write, eslint

Correct imports yet again
  apps/common-app/src/legacy/release_tests/combo/InfoButton.tsx
Due: prettier --write, eslint

Add `AGENTS.md` (#4085)
  AGENTS.md
  CLAUDE.md
Due: none

Update packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

SwipeableProps from RefObject to Ref (#3759)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

prevent recognizers Android
  ANDROID_ARCHITECTURE.md
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootViewManager.kt
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

rename
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

remove smth
  ANDROID_ARCHITECTURE.md
Due: none

fixed pinch gesture example
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
Due: none

updated legacy a nd versioned docs to also not rely on the SrcFiles
  packages/docs-gesture-handler/docs/legacy-gestures/fling-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pan-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/rotation-gesture.md
  packages/docs-gesture-handler/static/examples/FlingGestureBasicSrc.js
  packages/docs-gesture-handler/static/examples/PanGestureBasicSrc.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasicSrc.js
  packages/docs-gesture-handler/static/examples/RotationGestureBasicSrc.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/fling-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pan-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pinch-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/rotation-gesture.md
Due: none

Update yarn.lock
  yarn.lock
Due: none

fixed the incosistent size of pan gesture example compared to other
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/TapGestureBasic.js
Due: none

fixed inconsitent container sizes
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/static/examples/TapGestureBasic.js
Due: none

removed vidoes from v2 docs and added examples in v2 api
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/FlingGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/HoverGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/LongPressGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PanGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/RotationGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/TapGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/fling-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/hover-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/long-press-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pan-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pinch-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/rotation-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/tap-gesture.md
Due: none

fixed visual inconsitencies in v2 api the same as in v3
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PanGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/TapGestureBasic.js
Due: none

updated pinch gesture to work the same way in the v2 doc as in v3
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

updated the min size for pinch gesture box
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

fixed stucture incosistency in pinch on v3 and v2
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
Due: none

fixed the refs passed from GestureHandlerRootView
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PanGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

fixed the style placement
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PanGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

testing v3
  apps/common-app/src/new_api/tests/rnResponderCancellationPerRoot/index.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

fixed scroll bug with pinch example
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

removed pointer events from dots in pinch to avoid blocked interaction
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

better example
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellationPerRoot/index.tsx
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: prettier --write, eslint, yarn format:apple

set preventRecognizers on gesture handlers
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
Due: prettier --write, eslint

Update packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Fix message
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

fix docx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
Due: none

Do not export AttachedGestureState as default
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/dropHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/needsToReattach.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/types.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
Due: prettier --write, eslint

[General] Move the end flag to the event passed to `onDeactivate` and `onFinalize` (#3887)
  apps/common-app/src/new_api/components/switchAndInput/index.tsx
  apps/common-app/src/new_api/hover_mouse/hover/index.tsx
  apps/common-app/src/new_api/showcase/overlap/index.tsx
  apps/common-app/src/new_api/simple/longPress/index.tsx
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-callbacks.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/docs/under-the-hood/state.md
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/touchEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
  skills/gesture-handler-3-migration/SKILL.md
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
