Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Add cpp format script
  .lintstagedrc.json
  packages/react-native-gesture-handler/package.json
  scripts/format-cpp.js
Due: node scripts/check-rn-versions.js

Remove some gates
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Handle calling setGestureState from other threads
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

iOS changes after review
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RNGHRuntimeDecorator.h
Due: yarn format:apple, yarn format:cpp

Throw error when no methods available
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint

Android changes from review
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
Due: yarn format:cpp

Changes to shared
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RNGHRuntimeDecorator.h
Due: yarn format:apple, yarn format:cpp

Don't try to decorate UI runtime without Reanimated and throw on failure
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/reanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Release `javaPart` on module invalidate
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:cpp

Bump reanimated to beta 5
  .lintstagedrc.json
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/src/HomeScreen.tsx
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Mark `tagMessage` as worklet
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

Increase memory for basic-example build
  apps/basic-example/android/gradle.properties
Due: none

Continuously check whether ui runtime was decorated
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Make `createGestureHandler` synchronous and run on the JS thread
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Bump Reanimated
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint, yarn format:apple

Use Reanimated 4 beta
  apps/basic-example/ios/Podfile.lock
  yarn.lock
Due: none

Extract runtime decoration to shared code
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: yarn format:cpp

Bump reanimated to beta 5
  apps/basic-example/ios/Podfile.lock
  yarn.lock
Due: none

Bootstrap native detector
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetectorManager.m
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Setup custom shadow node iOS
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorComponentDescriptor.h
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorState.h
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
Due: prettier --write, eslint, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Setup custom node on Android
  packages/react-native-gesture-handler/android/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/react-native.config.js
  packages/react-native-gesture-handler/shared/runtime/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RuntimeDecorator.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorComponentDescriptor.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorState.h
Due: node scripts/check-rn-versions.js, yarn format:cpp

Setup detector to match child's size
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
  packages/react-native-gesture-handler/src/NativeDetector.tsx
Due: prettier --write, eslint, yarn format:cpp

Add events to the spec
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Allow handlers to be detached without destroing them
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

POC gesture lifecycle
  apps/basic-example/src/App.tsx
  packages/react-native-gesture-handler/apple/RNGestureHandlerActionType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/useGesture.ts
Due: prettier --write, eslint, yarn format:apple

Android gesture lifecycle and basic event logic
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Simple event dispatching ios
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/src/NativeDetector.tsx
Due: prettier --write, eslint, yarn format:apple

Update podfile lock
  apps/macos-example/macos/Podfile.lock
Due: none

Add TODO
  packages/react-native-gesture-handler/src/useGesture.ts
Due: prettier --write, eslint

Fix conflicts
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.h
  packages/react-native-gesture-handler/shared/runtime/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RuntimeDecorator.h
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:cpp

Inject module id into the runtimes
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.h
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp

Send entire events on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerNativeEventUtils.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerNativeEventUtils.mm
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
Due: prettier --write, eslint, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Align android events to the same structure as on iOS
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/FlingGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/GestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/HoverGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/LongPressGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/NativeGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PanGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PinchGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/RotationGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/TapGestureHandlerEventDataBuilder.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Create handlers in useMemo to prevent race conditions
  packages/react-native-gesture-handler/src/useGesture.ts
Due: prettier --write, eslint

Run createGestureHandler on JS thread
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Avoid handler tag conflicts between different instances of Gesture Handler module
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerRootViewNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Format c++
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorComponentDescriptor.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorState.h
Due: yarn format:cpp

Format Android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Format iOS
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerNativeEventUtils.mm
Due: yarn format:apple

Fix js lint
  apps/basic-example/src/App.tsx
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/useGesture.ts
Due: prettier --write, eslint
