Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Drawer
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Mark activeCursor as web prop
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
Due: none

Remove tables
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
Due: none

Remove old badges component
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

Make platforms prop optional
  packages/docs-gesture-handler/src/components/HeaderWithBadges/index.tsx
Due: prettier --write, eslint

It builds :o
  apps/macos-example/Gemfile
  apps/macos-example/Gemfile.lock
  apps/macos-example/macos/MacOSExample-macOS/Info.plist
  apps/macos-example/macos/MacOSExample.xcodeproj/project.pbxproj
  apps/macos-example/macos/Podfile
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/metro.config.js
  apps/macos-example/package.json
  apps/macos-example/tsconfig.json
  yarn.lock
Due: none

not passing viewRef to native
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Use shared release action
  .github/actions/publish-npm-package/action.yml
  .github/workflows/publish-release.yml
  .github/workflows/run-jest-tests.yml
  package.json
  scripts/release/__tests__/get-version.test.js
  scripts/release/__tests__/parse-arguments.test.js
  scripts/release/__tests__/should-be-latest.test.js
  scripts/release/__tests__/validate-latest-version.test.js
  scripts/release/__tests__/validate-non-latest-version.test.js
  scripts/release/__tests__/version-utils.test.js
  scripts/release/get-version.js
  scripts/release/npm-utils.js
  scripts/release/parse-arguments.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/validate-latest-version.js
  scripts/release/validate-non-latest-version.js
  scripts/release/version-utils.js
Due: none

rename to fromManual
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

fix self
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
Due: yarn format:apple

remove the fling override altogether
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

fix it
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

Fix macos template
  apps/macos-example/macos/MacOSExample-macOS/AppDelegate.mm
  apps/macos-example/macos/MacOSExample.xcodeproj/project.pbxproj
  apps/macos-example/macos/Podfile
  apps/macos-example/macos/Podfile.lock
  yarn.lock
Due: none

Remove Slider
  apps/common-app/package.json
  apps/common-app/src/legacy/release_tests/combo/index.tsx
  apps/expo-example/package.json
  apps/macos-example/package.json
  yarn.lock
Due: prettier --write, eslint

copilot
  apps/macos-example/macos/Podfile
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  yarn.lock
Due: none

Bump target
  apps/macos-example/macos/MacOSExample.xcodeproj/project.pbxproj
Due: none

[iOS] Rename `fromManual:` to `fromManualStateChange:` in gesture handler API (#3996)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Remove context menu prop
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
Due: none

Update browserlist
  packages/docs-gesture-handler/yarn.lock
Due: none

Badges
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/mouse-button.mdx
Due: none

cleaner fix
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

Correct default value for scaleChange
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
Due: prettier --write, eslint

Move defaults to handlers
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useGestureEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

Pin nightlies to 3.0.0
  .github/workflows/publish-release.yml
Due: none

Use action from the main org
  .github/workflows/publish-release.yml
Due: none

docs: add banner rotator
  packages/docs-gesture-handler/src/components/HandIcon/index.tsx
  packages/docs-gesture-handler/src/components/TopPromoRotator/index.tsx
  packages/docs-gesture-handler/src/components/TopPromoRotator/styles.module.css
  packages/docs-gesture-handler/src/theme/Navbar/index.js
Due: prettier --write, eslint

Add default values to hover
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
Due: prettier --write, eslint

Revert "Export new `createNativeWrapper` (#3971)"
  packages/docs-gesture-handler/docs/components/create-native-wrapper.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
  skills/gesture-handler-3-migration/SKILL.md
Due: prettier --write, eslint

FlatList type
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

Change to Ref
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

Export with legacy prefix
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
  apps/common-app/src/legacy/release_tests/combo/index.tsx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/react-native-gesture-handler/src/index.ts
  skills/gesture-handler-3-migration/SKILL.md
Due: prettier --write, eslint

Remove forwardedRef
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Remove empty dependency array
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Add useMemo
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Add legacy prefix
  apps/common-app/src/legacy/release_tests/nestedText/index.tsx
  packages/react-native-gesture-handler/src/components/Text.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Do not pass fillInDefaultValues to native side
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Bring back dependency array
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint
