Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

[Web] Detector DOM props (#3877)
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Fix hover
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
Due: none

Another links
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/gestures/_shared/gesture-detector-functional1.md
  packages/docs-gesture-handler/docs/gestures/gesture-detector.md
  packages/docs-gesture-handler/docs/gestures/state-manager.md
  packages/docs-gesture-handler/docs/gestures/touch-events.md
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/guides/swipe-and-scroll.md
  packages/docs-gesture-handler/docs/guides/testing.md
  packages/docs-gesture-handler/docs/under-the-hood/state.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/gesture.md
Due: none

Compatibility table definitely not stolen from reanimated I swear
  packages/docs-gesture-handler/components/Compatibility/index.tsx
  packages/docs-gesture-handler/components/Compatibility/styles.module.css
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
  packages/react-native-gesture-handler/compatibility.json
Due: prettier --write, eslint

Pass `testID` to native in dev
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Throw when no gesture
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
Due: prettier --write, eslint

[General] Throw when no gesture is passed to the `GestureDetector` (#3884)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
Due: prettier --write, eslint

Fixing number of touches becoming 0 issue for pan gestures in apple track pad (#3865)
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
Due: yarn format:apple

Reduce number of times the same callback is passed under different names
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/composition/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
Due: prettier --write, eslint

Rename event handlers
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/composition/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
Due: prettier --write, eslint

Memoize callback once
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Rename again
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/composition/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
Due: prettier --write, eslint

hover effect
  apps/common-app/src/new_api/platform_specific/hover/index.tsx
  apps/common-app/src/new_api/platform_specific/hoverable_icons/index.tsx
Due: prettier --write, eslint

fix comment
  apps/common-app/src/new_api/showcase/shared_value/index.tsx
Due: prettier --write, eslint

Move end flag to event
  apps/common-app/src/components/switchAndInput/index.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/touchEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

colors in animated example
  apps/common-app/src/new_api/showcase/animated/index.tsx
Due: prettier --write, eslint

button feedback
  apps/common-app/src/new_api/components/buttons/index.tsx
Due: prettier --write, eslint

Fix buttons in a hacky way to work with the new detector
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Remove scroll view hack
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Check for enchanced scroll view
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Fix manual activation crash
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

[iOS] Fix manual activation crash (#3890)
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

Release v2.30.0
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Add new lines
  packages/docs-gesture-handler/components/Compatibility/styles.module.css
  packages/react-native-gesture-handler/compatibility.json
Due: none

Change import
  packages/docs-gesture-handler/components/Compatibility/index.tsx
Due: prettier --write, eslint

explicit check
  apps/common-app/App.tsx
Due: prettier --write, eslint

button styling
  apps/common-app/App.tsx
Due: prettier --write, eslint

remove feedback handle
  apps/common-app/src/common.tsx
Due: prettier --write, eslint

easing linear
  apps/common-app/src/new_api/complicated/camera/index.tsx
Due: prettier --write, eslint

global.d
  packages/react-native-gesture-handler/src/global.d.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/tsconfig.json
Due: prettier --write, eslint

remove useless prop
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
Due: none

fix warning
  apps/common-app/src/common.tsx
  apps/common-app/src/new_api/platform_specific/hover/index.tsx
  apps/common-app/src/new_api/platform_specific/mouse_buttons/index.tsx
  apps/common-app/src/new_api/showcase/nested_text/nested_text.tsx
  apps/common-app/src/new_api/showcase/svg/index.tsx
Due: prettier --write, eslint

Add warning to requireToFail
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
Due: none

One composition
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.md
  packages/docs-gesture-handler/docs/gestures/gesture-composition.md
  packages/docs-gesture-handler/docs/gestures/gesture-detector.md
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
Due: none

fix babel error
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Remove outdated info
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.md
Due: none

Remove SharedValue notes
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.md
Due: none

removed worklet directive
  apps/common-app/src/new_api/complicated/camera/index.tsx
  apps/common-app/src/new_api/complicated/chat_heads/index.tsx
  apps/common-app/src/new_api/complicated/lock/index.tsx
  apps/common-app/src/new_api/platform_specific/hover/index.tsx
  apps/common-app/src/new_api/platform_specific/hoverable_icons/index.tsx
  apps/common-app/src/new_api/platform_specific/mouse_buttons/index.tsx
  apps/common-app/src/new_api/platform_specific/stylus_data/index.tsx
  apps/common-app/src/new_api/showcase/animated/index.tsx
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
  apps/common-app/src/new_api/showcase/nested_text/nested_text.tsx
  apps/common-app/src/new_api/showcase/overlap/index.tsx
  apps/common-app/src/new_api/showcase/shared_value/index.tsx
  apps/common-app/src/new_api/showcase/svg/index.tsx
  apps/common-app/src/new_api/simple/fling/index.tsx
  apps/common-app/src/new_api/simple/hover/index.tsx
  apps/common-app/src/new_api/simple/longPress/index.tsx
  apps/common-app/src/new_api/simple/pan/index.tsx
  apps/common-app/src/new_api/simple/pinch/index.tsx
  apps/common-app/src/new_api/simple/rotation/index.tsx
  apps/common-app/src/new_api/simple/tap/index.tsx
  apps/expo-example/package.json
  yarn.lock
Due: prettier --write, eslint
