Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Bring back comment
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Remove `opacity` from `Swipeable` action panels (#4271)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Fix text getting selected on gestures
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add synchronized
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix ConcurrentModificationException in GestureHandlerOrchestrator
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Release v3.0.2
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Update compatibility table
  packages/react-native-gesture-handler/compatibility.json
Due: none

Bump matrix in readme
  README.md
Due: none

[Docs] Update compatibility tables (#4275)
  README.md
  packages/react-native-gesture-handler/compatibility.json
Due: none

address review
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix build
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[General] Don't use context from `useHandler` (#4143)
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

[Android] Fix text getting selected during gestures (#4273)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

init
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.h
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp

use resolver for worklets detection
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

add jsiexecutor to CMakeLists
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
Due: none

checksums
  apps/basic-example/ios/Podfile.lock
Due: none

Change cancelation method
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Clean timeouts in interactionsEnd
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Fix handling keyboard should persists taps (#4158)
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/keyboardShouldPersistTaps/index.tsx
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/__tests__/mocks.test.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

[iOS] Move `Tap` cancelation to `dispatch_after` (#4280)
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Do not call onPress on buttons while dismissing keyboard
  apps/common-app/src/new_api/tests/keyboardShouldPersistTaps/index.tsx
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Tests
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
Due: prettier --write, eslint

Android hover
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Pointer up outside
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Handle enabled
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update docs
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

Hover on apple
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Copilot review
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Remove useless assignment
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Remove obsolete version checks
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.h
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Remove redundant assignment
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

Add check
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useDetectorAttachmentGuard.ts
Due: prettier --write, eslint

Potential fix for pull request finding
  packages/react-native-gesture-handler/src/v3/detectors/useDetectorAttachmentGuard.ts
Due: prettier --write, eslint

Fix reattaching
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/src/web/tools/NodeManager.ts
Due: prettier --write, eslint

Guard detach against unbound handler
  packages/react-native-gesture-handler/src/web/tools/NodeManager.ts
Due: prettier --write, eslint

[Web] Do not detach gestures from other detectors (#4286)
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/src/web/tools/NodeManager.ts
Due: prettier --write, eslint

Remove obsolete version checks (#4284)
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.h
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Add effective hover
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android
