Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Rename method
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add method on iOS
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Remove `dispatchesAnimatedEvents` from the native detector
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Rename also on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Remove `dispatchesAnimatedEvents` from the native detector (#3652)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

native gesture web
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Update touchables.md
  packages/docs-gesture-handler/docs/components/touchables.md
Due: none

Update pressable.mdx
  packages/docs-gesture-handler/docs/components/pressable.mdx
Due: none

Update drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/drawer-layout.mdx
Due: none

docs: update touchables.md (#3655)
  packages/docs-gesture-handler/docs/components/touchables.md
Due: none

docs: update pressable.mdx (#3656)
  packages/docs-gesture-handler/docs/components/pressable.mdx
Due: none

docs: update drawer-layout.mdx (#3657)
  packages/docs-gesture-handler/docs/components/drawer-layout.mdx
Due: none

changed dependencies
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Remove unnecessary checks
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

moved forAnimated to config
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

removed forAnimated from attachHandlers
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
Due: prettier --write, eslint

type predicate using protected props ref
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

native gesture bugfix
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

reattaching children
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

removed forAnimated
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Adapt `NativeViewGestureHandler` to `NativeDetector` (#3638)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

removed wrapping
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Handle shared values on JS
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Update config on android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update config on iOS
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Rename
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

removed fix
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

removed usecallback
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

private isInitialized
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

removed type predicate
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

removed unnecessary type indications
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

typing wherever possible
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Change method in ForceTouch
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
Due: yarn format:apple

Update mocks
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
Due: prettier --write, eslint

safe detaching
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/web/tools/NodeManager.ts
Due: prettier --write, eslint

Rename ID variable
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
