Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

[docs] Add sorn25 banner to readme (#3893)
  README.md
Due: none

[docs] Remove sorn25 banner from readme (#3922)
  README.md
Due: none

fix(iOS): handles `pointerEvents` for `Pressable` component (#3925)
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerEvents.h
Due: yarn format:apple

fix(android): handles `pointerEvents` for `Pressable` component (#3927)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Update the script responsible for updating the package version (#3934)
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/version-utils.js
Due: none

remove unnecessary noop
  apps/common-app/src/new_api/showcase/svg/index.tsx
Due: prettier --write, eslint

not mocking handlers
  packages/react-native-gesture-handler/src/mocks/module.tsx
Due: prettier --write, eslint

Update mocks (#3854)
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/__mocks__/RNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
  packages/react-native-gesture-handler/src/mocks/GestureButtons.tsx
  packages/react-native-gesture-handler/src/mocks/gestureComponents.tsx
  packages/react-native-gesture-handler/src/mocks/hostDetector.tsx
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
  packages/react-native-gesture-handler/src/mocks/module.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useEnsureGestureHandlerRootView.ts
Due: prettier --write, eslint

fix web
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint

Fix shoudlCancelWhenOutside not tracking the view
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Check if detector has children
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Check for detector and view on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

fix android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update tests
  packages/react-native-gesture-handler/src/__tests__/Events.test.tsx
Due: prettier --write, eslint

revert styling
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Cleaning manually activated handlers (#3943)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

[Native] Fix `shouldCancelWhenOutside` not tracking the view (#3942)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[General] Update existing events tests (#3944)
  packages/react-native-gesture-handler/src/__tests__/Events.test.tsx
Due: prettier --write, eslint

Remove ForceTouch redbox
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Child to descendant
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

buttons
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Bump to 0.84.0-rc.3
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

[docs] State management (#3905)
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
  packages/docs-gesture-handler/docs/fundamentals/states-events.mdx
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step1.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step2.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step3.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step4.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step5.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step6.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step7.md
  packages/docs-gesture-handler/docs/gestures/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/gestures/state-manager.md
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-manual-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step1.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step3.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step4.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step5.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step6.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step7.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/index.md
  packages/docs-gesture-handler/docs/guides/troubleshooting.md
  packages/docs-gesture-handler/docs/under-the-hood/state.md
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/GestureEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/TouchEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/index.ts
  packages/docs-gesture-handler/src/theme/MDXComponents/Details.js
  packages/docs-gesture-handler/yarn.lock
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: prettier --write, eslint, yarn format:apple

Run all jest tests on ci
  .github/workflows/run-jest-tests.yml
  package.json
Due: none

Always run the second test set
  .github/workflows/run-jest-tests.yml
Due: none

Mention state manager
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

[docs] Migration guide (#3896)
  packages/docs-gesture-handler/docs/guides/migrating-off-rnghenabledroot.md
  packages/docs-gesture-handler/docs/guides/troubleshooting.md
  packages/docs-gesture-handler/docs/guides/upgrading-to-2.md
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/src/components/CodeComparison/index.tsx
  packages/docs-gesture-handler/src/components/CollapsibleCode/index.tsx
  packages/docs-gesture-handler/src/css/overrides.css
  packages/docs-gesture-handler/src/hooks/useFormattedCode.tsx
Due: prettier --write, eslint

Fix type
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/ReanimatedTypes.ts
Due: prettier --write, eslint

Fix jest type
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Fix Pan types
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
Due: prettier --write, eslint

Export ActiveCursor
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Add comment
  packages/react-native-gesture-handler/src/v3/types/ReanimatedTypes.ts
Due: prettier --write, eslint

Merge exports and add comment
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Rename
  .github/workflows/run-jest-tests.yml
  package.json
Due: none

revertex hotfix
  apps/common-app/src/new_api/showcase/svg/index.tsx
Due: prettier --write, eslint

proper fix for svg
  apps/common-app/src/new_api/showcase/svg/index.tsx
Due: prettier --write, eslint

Fix `HitSlop` type in config. (#3946)
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/ReanimatedTypes.ts
Due: prettier --write, eslint

update workflow
  .github/workflows/main.yml
Due: none

test
  .github/workflows/main.yml
Due: none

ugh?
  .github/workflows/check-archs-consistency.yml
Due: none
