Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[iOS] Fix JS touches being cancelled when a ScrollView wrapped in a native gesture starts scrolling
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

[iOS] Keep the native scroll recognizer exception off macOS
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

[Android] Dispatch onPressIn when the native press starts
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Newline
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Flush pending pressout on re-entry
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Flush pending pressout on re-entry
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Bots review
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Copilot review
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
Due: prettier --write, eslint

Flush on detach
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Docs update
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

[CI] Update argent cloud workflow
  .github/actions/install-argent-cloud/action.yml
  .github/workflows/argent-cloud-issue-repro.yml
  .github/workflows/helper/argent-cloud-issue-repro/repro-prompt.md
Due: none

[Web] Map event coordinates through the view's full transform (#4566)
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/__tests__/utils.test.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

[CI] Update argent cloud workflow (#4569)
  .github/actions/install-argent-cloud/action.yml
  .github/workflows/argent-cloud-issue-repro.yml
  .github/workflows/helper/argent-cloud-issue-repro/repro-prompt.md
Due: none

[Android] Cancel detector gestures when a native view above them takes over the touch
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Compare the grab's event time so a takeover on a later pointer's DOWN is caught
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Bump to rc.4
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Add Reanimated API detection
  packages/react-native-gesture-handler/src/__tests__/legacyWrapRef.test.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint

Make wheel listener passive
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

[Android] Fix NPE when a touch cancel callback finishes the handler mid-transition
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Web] Register the wheel listener as passive and only for Pan (#4583)
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

[Android] Fix NPE when a touch cancel callback finishes the handler mid-transition (#4584)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[General] Link late-mounted gesture objects and skip mount reactions without external relations (#4562)
  packages/react-native-gesture-handler/src/__tests__/useMountReactions.test.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/types.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Delay InteractionFinished event
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Delay InteractionFinished event
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Update packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/pressable.mdx
Due: none

Update packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

Revert "Compare the grab's event time so a takeover on a later pointer's DOWN is caught"
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Apply the detector rule to native gestures attached through a detector
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

docs: fix broken heading anchors
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/guides/testing.mdx
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
