Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Add shouldActivateOnStart
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Don't send duplicated events on iOS in Native gesture
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Add nullability sepcifier
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
Due: yarn format:apple

Change callback order
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Review changes
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Cancel button gesture when other handlers are extracted before
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update example
  apps/common-app/src/new_api/tests/nestedTouchables/index.tsx
Due: prettier --write, eslint

Review
  packages/docs-gesture-handler/docs/components/wrapped-components.mdx
Due: none

Review v2
  packages/docs-gesture-handler/docs/components/wrapped-components.mdx
Due: none

Make simultaneous check symmetric
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add new handler to list after `shouldBeginWithRecorded` call
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Cancel button gestures
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
  packages/react-native-gesture-handler/src/web/tools/GestureLifecycleEvents.ts
Due: prettier --write, eslint

updated version and tests
  apps/basic-example/package.json
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/testConstants.ts
  apps/e2eApp/App.tsx
  apps/e2eApp/android/app/build.gradle
  apps/e2eApp/android/app/debug.keystore
  apps/e2eApp/android/app/proguard-rules.pro
  apps/e2eApp/android/app/src/main/AndroidManifest.xml
  apps/e2eApp/android/app/src/main/java/com/e2eapp/MainActivity.kt
  apps/e2eApp/android/app/src/main/java/com/e2eapp/MainApplication.kt
  apps/e2eApp/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/e2eApp/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/e2eApp/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/e2eApp/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/e2eApp/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/e2eApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/e2eApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/e2eApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/e2eApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/e2eApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/e2eApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/e2eApp/android/app/src/main/res/values/strings.xml
  apps/e2eApp/android/app/src/main/res/values/styles.xml
  apps/e2eApp/android/build.gradle
  apps/e2eApp/android/gradle.properties
  apps/e2eApp/android/gradle/wrapper/gradle-wrapper.jar
  apps/e2eApp/android/gradle/wrapper/gradle-wrapper.properties
  apps/e2eApp/android/gradlew
  apps/e2eApp/android/gradlew.bat
  apps/e2eApp/android/settings.gradle
  apps/e2eApp/e2e/long-press.test.ts
  apps/e2eApp/e2e/rotation.test.ts
  apps/e2eApp/metro.config.js
  apps/e2eApp/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

updated fling tests
  apps/e2eApp/e2e/fling.test.ts
  apps/e2eApp/tsconfig.json
Due: prettier --write, eslint

Clear refs
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

DisplayName
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/constants.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Rename method
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename method
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Remove unknown cast
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Activate ios buttons on pointer up
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint, yarn format:apple

Fix rebase
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Update comment
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
Due: prettier --write, eslint

Handle also VirtualDetector
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
Due: prettier --write, eslint

Handle view recycling
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Remove redundant definition
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
Due: yarn format:apple

Review changes
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Rename local var
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
Due: prettier --write, eslint

navigation works
  apps/common-app/src/e2e_screens/HomeScreen.tsx
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
  apps/common-app/src/e2e_screens/gesturesNavigation.tsx
  apps/common-app/src/e2e_screens/index.tsx
  apps/common-app/src/e2e_screens/integration/DrawerLayout.tsx
  apps/common-app/src/e2e_screens/integration/MultipleHandlers.tsx
  apps/common-app/src/e2e_screens/integration/Swipeable.tsx
  apps/common-app/src/e2e_screens/integrationNavigation.tsx
Due: prettier --write, eslint

added a section for composition and interaction
  apps/common-app/src/e2e_screens/HomeScreen.tsx
  apps/common-app/src/e2e_screens/compositionNavigation.tsx
  apps/common-app/src/e2e_screens/index.tsx
  apps/common-app/src/e2e_screens/integration/DrawerLayout.tsx
  apps/common-app/src/e2e_screens/integration/Swipeable.tsx
Due: prettier --write, eslint

Remove explicit reset
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/HoverGestureHandler.ts
Due: prettier --write, eslint

Gate `onPointerCancel`
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Declare the new config field
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
Due: prettier --write, eslint

Android implementation
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

iOS implementation
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Web implementation
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Opt-in touchable
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Update docs
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
Due: none

Treat RootViewHandler as native
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Change visibility of `RootViewGestureHandler` to internal and use the symbol directly
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add missing check
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
