Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Rename to HeaderWithBadges
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/src/components/HeaderWithBadges/index.tsx
Due: prettier --write, eslint

Revert gesture-composition sidebar change
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.mdx
Due: none

Change badge color
  packages/docs-gesture-handler/src/components/HeaderWithBadges/index.tsx
Due: prettier --write, eslint

Copilot review
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

Remove todo
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

Rename generic types
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

Move null to createNativeWrapper
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

dont rely on reset
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Bump to stable 0.84
  .yarn/patches/react-native-reanimated-npm-4.2.1-8be3b216b9.patch
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Generic the Third
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.web.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/touchEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useGestureEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
  packages/react-native-gesture-handler/src/v3/types/UtilityTypes.ts
Due: prettier --write, eslint

ExtendedHandlerData
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/touchEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useGestureEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/composition/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Type in tests
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
Due: prettier --write, eslint

xcode played me
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

go through begin
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Split hooks and types
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/LongPressTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/ManualProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/ManualTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/PinchProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/PinchTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/RotationProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/RotationTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/index.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
  packages/react-native-gesture-handler/src/v3/types/UtilityTypes.ts
Due: prettier --write, eslint

Fix types
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

Remove ts-ignore
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
Due: prettier --write, eslint

Remove OptionalProps
  packages/react-native-gesture-handler/src/v3/types/UtilityTypes.ts
Due: prettier --write, eslint

Default value for DetectorCallback
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
Due: prettier --write, eslint

[docs] Buttons (#3968)
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Add badges to buttons
  packages/docs-gesture-handler/docs/components/buttons.mdx
Due: none

Badge styling
  packages/docs-gesture-handler/src/components/HeaderWithBadges/index.tsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
Due: prettier --write, eslint

Copilot review
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint

Hover android
  packages/docs-gesture-handler/docs/components/pressable.mdx
Due: none

Sort badges
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

Allow gesture detector to have multiple children
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/src/findNodeHandle.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp

handle common props
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
Due: prettier --write, eslint

Simplify detector cast
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix style propagation
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

update name
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

not duplicating children
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
Due: prettier --write, eslint

remove todo
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
Due: prettier --write, eslint

eliminate recursion ios
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Add wrapper for handleGesture
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

Add stable Reanimated
  .yarn/patches/react-native-reanimated-npm-4.2.1-8be3b216b9.patch
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Update `GestureButton` props type (#3973)
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

Point to legacy-docs
  packages/docs-gesture-handler/redirects.json
Due: none

Wrap
  packages/docs-gesture-handler/src/components/HeaderWithBadges/index.tsx
  packages/docs-gesture-handler/src/components/HeaderWithBadges/styles.module.css
Due: prettier --write, eslint
