Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Implement module method for updating relations
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

remove merge remnants
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

removed obsolete comment
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Add blocksHandlers array
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Lazily initialize handlers fields
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useTouchEvent.ts
Due: prettier --write, eslint

Use shorter syntax
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useTouchEvent.ts
Due: prettier --write, eslint

Handle Simultaneous as root
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
Due: prettier --write, eslint

Change name to enum
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useExclusive.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useRace.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useSimultaneous.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Move DFS to other file
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
Due: prettier --write, eslint

Do not traverse single gestures
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
Due: prettier --write, eslint

Remove console.logs
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useTouchEvent.ts
Due: prettier --write, eslint

Lazy addition of callbacks to `useHandler` (#3674)
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useTouchEvent.ts
Due: prettier --write, eslint

Removing native synthetic event
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Handle external relations
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Reanimated composedHandler
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useSimultaneous.ts
Due: prettier --write, eslint

ios styling
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

android styling
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

android styling 2
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update metro configs
  apps/basic-example/metro.config.js
  apps/expo-example/metro.config.js
Due: none

Bump basic example
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

proper update
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Bump expo example
  .yarn/patches/@react-native-community-slider-npm-5.0.0-32e63cc751.patch
  apps/common-app/package.json
  apps/expo-example/package.json
  yarn.lock
Due: none

Update Podfile.lock macos
  apps/macos-example/macos/Podfile.lock
  yarn.lock
Due: none

Bump examples to React Native 0.81 (#3676)
  .yarn/patches/@react-native-community-slider-npm-5.0.0-32e63cc751.patch
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/metro.config.js
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/metro.config.js
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

properly checking bools
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

fix after review
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

fixed too many checks
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

moved subview check
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

more comment moving
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

comment update
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

using common type for touchevent
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Remove paper support (#3639)
  .github/workflows/check-archs-consistency.yml
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerDelegate.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerInterface.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerDelegate.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerInterface.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerComponentsRegistry.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRootViewComponentView.mm
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
  packages/react-native-gesture-handler/package.json
  scripts/codegen-check-consistency.js
  scripts/codegen-sync-archs.js
  scripts/codegen-utils.js
Due: node scripts/check-rn-versions.js, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Downgrade libs
  .yarn/patches/@react-native-community-slider-npm-4.5.7-658e0e58c9.patch
  apps/common-app/package.json
  apps/expo-example/package.json
  yarn.lock
Due: none

Fix native gesture reattach (#3672)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix `paper` CI (#3677)
  .yarn/patches/@react-native-community-slider-npm-4.5.7-658e0e58c9.patch
  apps/common-app/package.json
  apps/expo-example/package.json
  yarn.lock
Due: none

[Web] v3 typing and using handler data (#3651)
  packages/react-native-gesture-handler/src/handlers/GestureHandlerEventPayload.ts
  packages/react-native-gesture-handler/src/handlers/gestureHandlerCommon.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/HoverGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Do not freeze config
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
Due: prettier --write, eslint

removed weird files
  packages/react-native-gesture-handler/android/kls_database.db
Due: none

styling
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Use operation block
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple
