Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Touchables
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/__tests__/mocks.test.tsx
  packages/react-native-gesture-handler/src/mocks/Touchables.tsx
  packages/react-native-gesture-handler/src/mocks/gestureComponents.tsx
Due: prettier --write, eslint

pass preventRecognizers per Android root view
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add legacy mocks (#4055)
  packages/docs-gesture-handler/docs/guides/testing.md
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
  packages/react-native-gesture-handler/src/__tests__/mocks.test.tsx
  packages/react-native-gesture-handler/src/mocks/GestureButtons.tsx
  packages/react-native-gesture-handler/src/mocks/Touchables.tsx
  packages/react-native-gesture-handler/src/mocks/gestureComponents.tsx
Due: prettier --write, eslint

Update packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Add touchables section
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

[Docs] `Touchable` (#4022)
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/components/touchables.md
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  skills/gesture-handler-3-migration/SKILL.md
Due: prettier --write, eslint

preventRecognizers per gesture detector
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellationPerRoot/index.tsx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.h
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.web.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/mocks/module.tsx
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Fix rotation
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Pinch
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
Due: prettier --write, eslint

Rotation
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Point to module
  packages/react-native-gesture-handler/jest-utils/package.json
Due: none

Improve docs
  packages/docs-gesture-handler/docs/guides/testing.md
Due: none

Blank
  packages/docs-gesture-handler/docs/guides/testing.md
Due: none

Components
  packages/react-native-gesture-handler/ReanimatedDrawerLayout/package.json
  packages/react-native-gesture-handler/ReanimatedSwipeable/package.json
Due: none

Add example configs
  packages/docs-gesture-handler/docs/guides/testing.mdx
Due: none

Remove invokeNullableMethod
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

[Android] Correct `Rotation` handler (#4079)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add missing return
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

[General] Replace `enabled` with `disabled` prop on Clickable (#4057)
  apps/common-app/src/new_api/components/touchable_stress/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint

Add comment
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
Due: prettier --write, eslint

[Web] Fix `Pinch` and `Rotation` (#4078)
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Rephrase warning
  packages/docs-gesture-handler/docs/guides/testing.mdx
Due: none

Remove remaining `commonjs` references (#4083)
  packages/docs-gesture-handler/docs/guides/testing.mdx
  packages/react-native-gesture-handler/ReanimatedDrawerLayout/package.json
  packages/react-native-gesture-handler/ReanimatedSwipeable/package.json
  packages/react-native-gesture-handler/jest-utils/package.json
Due: none

[Web] Remove `invokeNullableMethod` (#4084)
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Update AGENTS.md
  AGENTS.md
Due: none

Update yarn.lock
  yarn.lock
Due: none

Update podfile lock
  apps/macos-example/macos/Podfile.lock
Due: none

Fix examples
  apps/common-app/src/new_api/hover_mouse/hover/index.tsx
  apps/common-app/src/new_api/showcase/overlap/index.tsx
  apps/common-app/src/new_api/simple/longPress/index.tsx
Due: prettier --write, eslint

Add complex transformations example
  apps/common-app/src/legacy/v2_api/transformations/index.tsx
Due: prettier --write, eslint

V3 example
  apps/common-app/src/new_api/complicated/transformations/index.tsx
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

updated pan gesture view and pan gesture example to use v3 api
  packages/docs-gesture-handler/babel.config.js
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PanGestureBasicSrc.js
  packages/docs-gesture-handler/yarn.lock
Due: none

removed videos and migarted examples in all gesture pages
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/static/examples/FlingGestureBasic.js
  packages/docs-gesture-handler/static/examples/FlingGestureBasicSrc.js
  packages/docs-gesture-handler/static/examples/HoverGestureBasic.js
  packages/docs-gesture-handler/static/examples/LongPressGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasicSrc.js
  packages/docs-gesture-handler/static/examples/RotationGestureBasic.js
  packages/docs-gesture-handler/static/examples/RotationGestureBasicSrc.js
  packages/docs-gesture-handler/static/examples/TapGestureBasic.js
Due: none

Update docs
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-callbacks.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/docs/under-the-hood/state.md
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
