Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Reset `enableTrackpadTwoFingerGesture` in web `PanGestureHandler` (#4480)
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
Due: prettier --write, eslint

[Web] Fix incorrectly calculated `timeDelta` (#4329)
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
Due: prettier --write, eslint

[Android] Fix mouse interactions (#4265)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[iOS] Fix js responder cancelation in modals (#4306)
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Clear pending timers on unmount in StatefulPressable (#4413)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Fix docs CI
  packages/docs-gesture-handler/docs/gesture-handlers/pan-gh.md
  packages/docs-gesture-handler/docs/gestures/pan-gesture.md
Due: none

[Web] Drop handlers that never began from the orchestrator (#4505)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

[Android] Stop nested scroll when a native handler's gesture ends (#4492)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Reset `numberOfPointers` in `LongPressGestureHandler` (#4479)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Forward `borderless` and `foreground` from `android_ripple` (#4442)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Release v2.33.0
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

fix: review changes
  packages/react-native-gesture-handler/Package.swift
  packages/react-native-gesture-handler/apple/RNGHStylusData.h
  packages/react-native-gesture-handler/include/.gitkeep
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js, yarn format:apple

ci: add gesture handler build with worklets
  .github/workflows/ios-spm-build-test.yml
Due: none

Skip hidden and transparent buttons in hit testing
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Align the alpha traversal gate with iOS
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

feat(touchable): expose native visual press changes
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/__typetests__/buttonEventTest.ts
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerButtonVisualPressEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/__tests__/touchableVisualPress.test.tsx
  packages/react-native-gesture-handler/src/__tests__/webButtonVisualPress.test.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

test(touchable): add native visual feedback example
  apps/basic-example/src/App.tsx
  apps/basic-example/src/VisualPress.tsx
Due: prettier --write, eslint

ci: use macos-26
  .github/workflows/ios-spm-build-test.yml
Due: none

fix: worklets exists path
  packages/react-native-gesture-handler/Package.swift
Due: none

ci: simplify spm build
  .github/workflows/ios-spm-build-test.yml
Due: none

Bump to rc.0
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

[Web] Ignore repeated keydown while an activation key is held
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
  packages/react-native-gesture-handler/src/web/tools/__tests__/KeyboardEventManager.test.ts
Due: prettier --write, eslint

Fix manual activation
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

[iOS] add SPM build support (#4510)
  .github/workflows/ios-spm-build-test.yml
  packages/react-native-gesture-handler/.gitignore
  packages/react-native-gesture-handler/Package.swift
  packages/react-native-gesture-handler/apple/RNGHStylusData.h
  packages/react-native-gesture-handler/include/.gitkeep
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/react-native.config.js
Due: node scripts/check-rn-versions.js, yarn format:apple

Refactor KeyboardEventManager to use key pointer
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
Due: prettier --write, eslint

Update types
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerRootViewNativeComponent.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Add missing descriptors
  packages/react-native-gesture-handler/react-native.config.js
Due: none

[iOS] Fix `manualActivation` being ignored after a config update mid-gesture (#4520)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

[Android] Register all component descriptors in react-native.config.js (#4521)
  packages/react-native-gesture-handler/react-native.config.js
Due: none

Keep detector-owned DOM props across a full config replace
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/constants.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Bots review
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

[E2E] Update flows to await console to hide
  .argent/flows/basic-long-press-test.yaml
  .argent/flows/basic-tap-test.yaml
  .argent/flows/nested-touchables-test.yaml
  .argent/flows/shared-value-test.yaml
Due: none

Expose the module id through a sync TurboModule method instead of a JSI global
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.h
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/globals.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/mocks/module.tsx
  packages/react-native-gesture-handler/src/moduleId.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[Web] Introduce key pointer in KeyboardEventManager (#4519)
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
Due: prettier --write, eslint

Add missing annotation
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Detect composed gesture changes in the detector
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Keep NativeViewGestureHandler flags across a partial config update
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Bump to rc.1
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
