Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Update state flow chart
  packages/docs-gesture-handler/docs/under-the-hood/state.md
  packages/docs-gesture-handler/docs/under-the-hood/state.mdx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/index.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/Arrow.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/ChartItem.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/ChartManager.ts
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/FlowChart.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/index.tsx
  packages/docs-gesture-handler/versioned_docs/version-2.x/fundamentals/states-events.mdx
Due: prettier --write, eslint

Arrows
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/index.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
Due: prettier --write, eslint

[Web] Refactor `Touchable` not to rely on `GestureDetector` (#4344)
  packages/react-native-gesture-handler/src/ActionType.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/src/web/tools/ButtonEvents.ts
Due: prettier --write, eslint

Remove legend
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/index.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
Due: prettier --write, eslint

Reset
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/index.tsx
Due: prettier --write, eslint

[iOS] Check if `enableTrackpadTwoFingerGesture` is `nil` before applying (#4349)
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

Move Interceptor on `ScrollView`, not its content (#4331)
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
Due: prettier --write, eslint

Add callback charts
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/GestureEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/TouchEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/index.ts
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/GestureCallbacksExample.tsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/TouchCallbacksExample.tsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/index.ts
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/shared.tsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/styles.module.css
  packages/docs-gesture-handler/yarn.lock
Due: prettier --write, eslint

Don't rely on order
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/TouchCallbacksExample.tsx
Due: prettier --write, eslint

Remove old sponsors
  README.md
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
  packages/docs-gesture-handler/src/components/Sponsors/index.tsx
  packages/docs-gesture-handler/static/img/shopify-dark.svg
  packages/docs-gesture-handler/static/img/shopify.svg
  packages/docs-gesture-handler/versioned_docs/version-2.x/fundamentals/introduction.md
Due: prettier --write, eslint

[General] Pass `null` on when `hitSlop` is not set
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[Docs] Update sponsors section (#4355)
  README.md
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
  packages/docs-gesture-handler/src/components/Sponsors/index.tsx
  packages/docs-gesture-handler/static/img/shopify-dark.svg
  packages/docs-gesture-handler/static/img/shopify.svg
  packages/docs-gesture-handler/versioned_docs/version-2.x/fundamentals/introduction.md
Due: prettier --write, eslint

Bump to rc.3
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Reset only one gesture
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/index.tsx
Due: prettier --write, eslint

Use predefined color
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
Due: none

Remove box-shadow
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
Due: none

Old box-shadow
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
Due: none

Use predefined colors
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/styles.module.css
Due: none

Remove duplicated if
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/TouchCallbacksExample.tsx
Due: prettier --write, eslint

[General] Pass `null` hitSlop instead of coercing it to zero (#4356)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Remove new font
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/styles.module.css
Due: none

Remove imported font
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
Due: none

[Docs] Reintroduce states flow chart (#4352)
  packages/docs-gesture-handler/docs/under-the-hood/state.md
  packages/docs-gesture-handler/docs/under-the-hood/state.mdx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/index.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExample/styles.module.css
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/Arrow.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/ChartItem.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/ChartManager.ts
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/FlowChart.tsx
  packages/docs-gesture-handler/src/examples/GestureStateFlowExampleLegacy/index.tsx
  packages/docs-gesture-handler/versioned_docs/version-2.x/fundamentals/states-events.mdx
Due: prettier --write, eslint

[Docs] Add callbacks flow charts (#4354)
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/GestureEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/TouchEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/index.ts
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/GestureCallbacksExample.tsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/TouchCallbacksExample.tsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/index.ts
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/shared.tsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/styles.module.css
  packages/docs-gesture-handler/yarn.lock
Due: prettier --write, eslint

Apply previous props in recycle
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[Android] Batch native handler updates for after transaction ends
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Correct the stale comment on the button's `moduleId` setter
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Clear the button's managed handler state when the view is dropped
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Apply the button's managed handler config once per prop transaction (#4357)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Avoid using native maps for button config
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Configure the button's handler directly instead of through a `ReadableMap` (#4358)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Don't build button underlay when it's never shown
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Do not highlight onBegin transition
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/GestureCallbacksExample.tsx
Due: prettier --write, eslint

[Docs] Do not highlight wrong `onBegin` transition (#4361)
  packages/docs-gesture-handler/src/examples/CallbacksFlowExamples/GestureCallbacksExample.tsx
Due: prettier --write, eslint

Add Getting Started
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/getting-started.mdx
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

Fix redirects
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/redirects.json
Due: none
