Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Remove deprecated components (#3734)
  .github/workflows/yarn-validation.yml
  apps/common-app/App.tsx
  apps/common-app/src/basic/horizontalDrawer/index.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/BetterHorizonatalDrawer.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/index.tsx
  apps/common-app/src/new_api/swipeable/index.tsx
  apps/common-app/src/release_tests/combo/InfoButton.tsx
  apps/common-app/src/release_tests/combo/index.tsx
  apps/common-app/src/release_tests/rows/index.tsx
  apps/common-app/src/release_tests/swipeableReanimation/index.tsx
  apps/common-app/src/showcase/swipeable/AppleStyleSwipeableRow.tsx
  apps/common-app/src/showcase/swipeable/GmailStyleSwipeableRow.tsx
  apps/common-app/src/showcase/swipeable/index.tsx
  packages/docs-gesture-handler/docs/components/drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/swipeable.md
  packages/react-native-gesture-handler/DrawerLayout/package.json
  packages/react-native-gesture-handler/Swipeable/package.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/DrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/Swipeable.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Update comment
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Use not operator
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Check worklets only for callbacks
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Do not use handleGestureEvent for Animated.Event
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
Due: prettier --write, eslint

fix swipeable
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Legacy prefix
  apps/common-app/src/new_api/drag_n_drop/Draggable.tsx
  packages/react-native-gesture-handler/src/__tests__/Events.test.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Revert "Do not use handleGestureEvent for Animated.Event"
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
Due: prettier --write, eslint

Do not use `handleGestureEvent` for `Animated.Event` (#3748)
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
Due: prettier --write, eslint

one detector to rule them all
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
Due: prettier --write, eslint

Change logic of `worklet` detection in config (#3745)
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

[Web] Disable `onPointerMove` on hover on gestures other than `Hover` (#3727)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
Due: prettier --write, eslint

Split `utils` into multiple files (#3746)
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/touchEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Remove props lists from configUtils
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

split types
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/types.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
  packages/react-native-gesture-handler/src/v3/types/ReanimatedTypes.ts
  packages/react-native-gesture-handler/src/v3/types/UtilityTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Add `runOnJS` to config (#3743)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Bump bob
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Fix grabbing delegate in `setPressed` (#3742)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix typo
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/DelegateDetector.tsx
Due: prettier --write, eslint

returning logic detector
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/useDetectorContext.ts
Due: prettier --write, eslint

Add missing types (#3731)
  apps/basic-example/src/NativeDetector.tsx
  apps/common-app/src/new_api/drag_n_drop/Draggable.tsx
  packages/react-native-gesture-handler/src/__tests__/Events.test.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTap.ts
Due: prettier --write, eslint

renamed delegate detector
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/GestureDetectorBoundary.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
Due: prettier --write, eslint

fix ssr with useIsomorphicLayoutEffect
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useIsomorphicLayoutEffect.tsx
Due: prettier --write, eslint

moved to utils
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useIsomorphicLayoutEffect.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Split types (#3750)
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/types.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
  packages/react-native-gesture-handler/src/v3/types/ReanimatedTypes.ts
  packages/react-native-gesture-handler/src/v3/types/UtilityTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Bump node in actions
  .github/workflows/android-build-paper.yml
  .github/workflows/android-build.yml
  .github/workflows/check-archs-consistency.yml
  .github/workflows/docs-check.yml
  .github/workflows/ios-build-paper.yml
  .github/workflows/ios-build.yml
  .github/workflows/kotlin-lint.yml
  .github/workflows/macos-build.yml
  .github/workflows/static-example-apps-checks.yml
  .github/workflows/static-root-checks.yml
  .github/workflows/yarn-validation.yml
Due: none

Bump `node` on CI (#3753)
  .github/workflows/android-build-paper.yml
  .github/workflows/android-build.yml
  .github/workflows/check-archs-consistency.yml
  .github/workflows/docs-check.yml
  .github/workflows/ios-build-paper.yml
  .github/workflows/ios-build.yml
  .github/workflows/kotlin-lint.yml
  .github/workflows/macos-build.yml
  .github/workflows/static-example-apps-checks.yml
  .github/workflows/static-root-checks.yml
  .github/workflows/yarn-validation.yml
Due: none

[iOS] Fix gestures not ending properly on `iOS` 26 (#3740)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Bump `react-native-builder-bob` (#3751)
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

simplify
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

fixed shared value handling
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Bump versions
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Fix handlers
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Run format
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Update packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

fixed reanimated handlers
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Fix hasWorkletEventHandlers
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Fix `hasWorkletEventHandlers` (#3758)
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

[iOS] Fix gestures on iOS 26 (#3756)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple
