Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

[General] Implement basic button interactions using native primitives (#4032)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonManager.mm
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Fix callbacks on iOS native side
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Simplify button
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Pressable
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

One send
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Old buttons
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
Due: prettier --write, eslint

Fix active state handling for non-Android platforms in BaseButton
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

docs: remove paradise banner
  packages/docs-gesture-handler/src/components/TopPromoRotator/index.tsx
Due: prettier --write, eslint

docs: remove paradise banner (#4037)
  packages/docs-gesture-handler/src/components/TopPromoRotator/index.tsx
Due: prettier --write, eslint

Bring back pointerInside check
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Support rc.6
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

[android] fix talkback on pressable (#4017)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/useIsScreenReaderEnabled.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Add `Pan` offset props to `PropsToFilter` (#4026)
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Simplify Clickable to use new button animations
  apps/common-app/src/new_api/components/clickable/index.tsx
  apps/common-app/src/new_api/components/clickable_stress/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
Due: prettier --write, eslint

Fix tests
  apps/common-app/src/new_api/components/clickable_stress/index.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

Should cancel when outside
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Unify buttons across platforms
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Remove platform checks
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Unbind actions
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Pressable last event
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Ignore apple's "feature"
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Handle `FullWindowOverlay` as the native root
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Review changes
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Revert "Pressable last event"
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Remove misleading comment
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Bump Reanimated
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/src/ListWithHeader/ListWithHeader.tsx
  apps/expo-example/package.json
  apps/macos-example/macos/MacOSExample.xcodeproj/project.pbxproj
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

fix?
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Move declaration
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

[iOS] Handle `FullWindowOverlay` as the native root (#4039)
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Release v2.30.1
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Bump in common-app
  apps/basic-example/ios/Podfile.lock
  apps/common-app/package.json
  yarn.lock
Due: none

Fix types in examples
  apps/common-app/src/ListWithHeader/ListWithHeader.tsx
  apps/common-app/src/common_assets/AnimatedCameraView/AnimatedCameraView.tsx
  apps/common-app/src/legacy/release_tests/gesturizedPressable/delayedPressExample.tsx
  apps/common-app/src/legacy/v2_api/calculator/index.tsx
  apps/common-app/src/legacy/v2_api/chat_heads/index.tsx
  apps/common-app/src/legacy/v2_api/drag_n_drop/Draggable.tsx
  apps/common-app/src/legacy/v2_api/manualGestures/index.tsx
  apps/common-app/src/new_api/tests/pressable/delayedPress.tsx
Due: prettier --write, eslint

Do not blacklist Reanimated
  apps/basic-example/metro.config.js
Due: none

Correct jestSetup
  packages/react-native-gesture-handler/jestSetup.js
Due: none

fix(android): compile RNGestureHandlerModule with Kotlin 2.3
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Revert contents-based button
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonWrapperViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonWrapper.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonWrapper.mm
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/react-native.config.js
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperComponentDescriptor.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperState.h
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonWrapperNativeComponent.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Handle missing styles in button
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Don't use 0 as "not set"
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android
