Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

removed wrapper
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Update tsconfig
  tsconfig.json
Due: none

Components
  packages/react-native-gesture-handler/src/components/DrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/Swipeable.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableHighlight.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableNativeFeedback.android.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableOpacity.tsx
Due: prettier --write, eslint

override
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

handlers
  packages/react-native-gesture-handler/src/handlers/ForceTouchGestureHandler.ts
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/forceTouchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureComposition.ts
  packages/react-native-gesture-handler/src/handlers/gestures/hoverGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/longPressGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/manualGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/nativeGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/panGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/pinchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/rotationGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/tapGesture.ts
Due: prettier --write, eslint

web/handlers
  packages/react-native-gesture-handler/src/web/handlers/FlingGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/HoverGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/ManualGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
Due: prettier --write, eslint

web/tools
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

Exclude override flag in common-app
  apps/common-app/tsconfig.json
Due: none

Inline updateGestureHandler
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Move extracting SharedValues into separate effect
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

removed unused
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

[Web] Adapt `NativeViewGestureHandler` to `NativeDetector` (#3653)
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Store shared values in array
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

use universal view instead of splitting
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

fixed android?
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename functions
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Do not store shared values
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Add `override` keyword to `TypeScript` part of codebase (#3667)
  apps/common-app/tsconfig.json
  packages/react-native-gesture-handler/src/components/DrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/Swipeable.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableHighlight.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableNativeFeedback.android.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableOpacity.tsx
  packages/react-native-gesture-handler/src/handlers/ForceTouchGestureHandler.ts
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/forceTouchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureComposition.ts
  packages/react-native-gesture-handler/src/handlers/gestures/hoverGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/longPressGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/manualGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/nativeGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/panGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/pinchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/rotationGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/tapGesture.ts
  packages/react-native-gesture-handler/src/web/handlers/FlingGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/HoverGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/ManualGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
  tsconfig.json
Due: prettier --write, eslint

add RNGHWindow type
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

add RNGHScrollView type
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

fix: ensure SwipeDirection is imported as a value in ReanimatedSwipeable
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

fixed native gesture
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

styling
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix native gesture ios
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Fix link to the example app in the documentation (#3629)
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
Due: none

[Web] fixed texinput submition when inside pressable (#3623)
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
Due: prettier --write, eslint

Deprecate `gestureHandlerRootHOC` (#3632)
  packages/docs-gesture-handler/docs/fundamentals/installation.md
  packages/docs-gesture-handler/docs/guides/migrating-off-rnghenabledroot.md
  packages/docs-gesture-handler/versioned_docs/version-1.x/getting-started.md
  packages/react-native-gesture-handler/src/components/gestureHandlerRootHOC.tsx
Due: prettier --write, eslint

[Web] Fix bottom hitslop (#3644)
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

docs: update reanimated_swipeable.md (#3647)
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.md
Due: none

docs: update swipeable.md (#3648)
  packages/docs-gesture-handler/docs/components/swipeable.md
Due: none

docs: update reanimated-drawer-layout.mdx (#3649)
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
Due: none

docs: update touchables.md (#3655)
  packages/docs-gesture-handler/docs/components/touchables.md
Due: none

docs: update pressable.mdx (#3656)
  packages/docs-gesture-handler/docs/components/pressable.mdx
Due: none

[Android] Revert "fix: turn off build IDs for reproducibility (#3602)" (#3660)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

force use install_modules_dependencies
  packages/react-native-gesture-handler/RNGestureHandler.podspec
Due: none

it works?
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
Due: prettier --write, eslint

fix extra comma
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Implement DFS for gesture relations
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useExclusive.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useRace.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useSimultaneous.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

fixing v2?
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

styling
  packages/react-native-gesture-handler/android/kls_database.db
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android
