Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

revert import ordering change
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

remove unused file from pkg
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

(amend) remove unused file from pkg
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

fix android build crash
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix macos build crash
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

update Podfile.lock file
  apps/macos-example/macos/Podfile.lock
Due: none

iOS base (no touch events yet :c)
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

TouchEvents yay c:
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

handling animated events in sendEvents
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Small refactor
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Android refactor
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Another refactor
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

first refactor
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

using native detector animated event
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

refactor 2
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

simplify macos macro
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

remove unused method
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

use callback in native detector
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

tagMessage
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

should prevent drop
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
Due: prettier --write, eslint

old api compatibility
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

not throwing strings
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

removed unnessary check
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

even more refactoring
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/types.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

throwing when propsref is null
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

helper action type functions
  packages/react-native-gesture-handler/src/ActionType.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

separate paths on touch events
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

removed unsafe memoisation
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

props extending
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Remove animated detector action type on android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove animated detector action type on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerActionType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Rename to forAnimated
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Remove actionType from events
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
Due: yarn format:apple

Improve error message
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename function
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Extract detector to variable
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Simplify init in events
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Throw to remove cast
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add viewForEvents
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Bump to rc.3
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js
