Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, yarn format:android, yarn format:apple, yarn architectures:sync

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": "yarn format:android",
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn architectures:sync"
}

Prefix with underscore
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
Due: prettier --write, eslint

Handle calling setGestureState from other threads
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:android, yarn format:apple

Expose `_setGestureStateAsync` to JS runtime
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: yarn format:apple

Make state manager work also on JS
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint

Add cpp format script
  .lintstagedrc.json
  packages/react-native-gesture-handler/package.json
  scripts/format-cpp.js
Due: none

Format c++
  packages/react-native-gesture-handler/android/src/main/jni/OnLoad.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: none

Bump to Docusaurus 3.7
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/theme/CodeBlock/highlighting-dark.js
  packages/docs-gesture-handler/src/theme/CodeBlock/highlighting-light.js
  packages/docs-gesture-handler/src/theme/MDXComponents/Details.js
  packages/docs-gesture-handler/tsconfig.json
  packages/docs-gesture-handler/versioned_docs/version-1.x/getting-started.md
  packages/docs-gesture-handler/versioned_sidebars/version-1.x-sidebars.json
  packages/docs-gesture-handler/yarn.lock
Due: none

Don't format build folders
  .lintstagedrc.json
  scripts/format-cpp.js
Due: none

bump some deps
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/yarn.lock
Due: none

heh yarn
  packages/docs-gesture-handler/yarn.lock
Due: none

Fix header
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: none

Make base `GestureHandler` on Android non generic (#3491)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerInteractionController.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerRegistry.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ManualGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/OnTouchEventListener.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerFactoryUtil.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/GestureHandlerEventDataBuilder.kt
Due: yarn format:android

Remove some gates
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Bump to rc3
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: none

Don't make global
  .lintstagedrc.json
  packages/react-native-gesture-handler/package.json
Due: none

Fix format
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: yarn format:android

Fix sync architectures command failing on the commit hook (#3534)
  .lintstagedrc.json
Due: none

Fix swipeables
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Add functionality to track subsequent taps
  packages/react-native-gesture-handler/src/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Fix kotlin formatting (#3535)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: yarn format:android

Fix `onSwipeableWillClose` called on opening of `ReanimatedSwipeable` (#3478)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

update lock
  yarn.lock
Due: none

remove forward ref from createNativeWrapper
  packages/react-native-gesture-handler/src/handlers/createNativeWrapper.tsx
Due: prettier --write, eslint

Remove forward refs
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
Due: prettier --write, eslint

Remove AnimatedBaseButton
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
Due: prettier --write, eslint

Deprecate ForceTouch
  packages/docs-gesture-handler/docs/gestures/force-touch-gesture.md
  packages/react-native-gesture-handler/src/handlers/gestures/forceTouchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
Due: prettier --write, eslint

Update gradle
  packages/react-native-gesture-handler/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-gesture-handler/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-gesture-handler/android/gradlew
  packages/react-native-gesture-handler/android/gradlew.bat
Due: none

Migrate from groovy to kotlin
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/build.gradle.kts
  packages/react-native-gesture-handler/android/settings.gradle
  packages/react-native-gesture-handler/android/settings.gradle.kts
Due: none

Update Kotlin versions
  packages/react-native-gesture-handler/android/build.gradle.kts
  packages/react-native-gesture-handler/android/gradle.properties
  packages/react-native-gesture-handler/android/settings.gradle.kts
Due: none

Fix spotless
  packages/react-native-gesture-handler/android/build.gradle.kts
  packages/react-native-gesture-handler/android/settings.gradle.kts
  packages/react-native-gesture-handler/android/spotless.gradle
Due: none

Minor changes
  packages/react-native-gesture-handler/android/build.gradle.kts
  packages/react-native-gesture-handler/android/settings.gradle.kts
Due: none

Use androidX
  packages/react-native-gesture-handler/android/gradle.properties
Due: none

Bring back clangd
  packages/react-native-gesture-handler/android/build.gradle.kts
Due: none

Remove warnings
  packages/react-native-gesture-handler/android/build.gradle.kts
  packages/react-native-gesture-handler/android/settings.gradle.kts
Due: none

Fix hot reload
  apps/expo-example/index.ts
  apps/expo-example/tsconfig.json
Due: prettier --write, eslint

[Web] Fix hot reload (#3540)
  apps/expo-example/index.ts
  apps/expo-example/tsconfig.json
Due: prettier --write, eslint

Bump to rc.4 (+ Reanimated)
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: none

Update plugins versions
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/gradle.properties
Due: none

Fix warning
  packages/react-native-gesture-handler/android/build.gradle
Due: none
