Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[Android] Fix crash with RN Screens FormSheet (#4243)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[iOS] Remove unused old-arch import to fix build with React Native 0.87-nightly (#4247)
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Fix gesture relations after `freeze` (#4244)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureComposition.ts
Due: prettier --write, eslint

Do not pin kotlin version
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Update docs
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
Due: none

Potential fix for pull request finding
  packages/react-native-gesture-handler/android/build.gradle
Due: none

rename main to background
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Rename to rootContainerStyle
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Update docs
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Typeees
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Remove pinning version entirely
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Remove pinned gradle version
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Use if
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Add `rootContainerStyle` prop to `ReanimatedDrawerLayout` (#3846)
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Simultaneous.tsx
  packages/docs-gesture-handler/src/components/CodeComparison/index.tsx
  packages/docs-gesture-handler/src/components/CollapseButton/index.tsx
  packages/docs-gesture-handler/src/components/CollapsibleCode/index.tsx
  packages/docs-gesture-handler/src/components/Hero/StartScreen/index.tsx
  packages/docs-gesture-handler/src/hooks/useFormattedCode.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Stable 0.86
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js

Support React Native 0.86 (#4166)
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js, yarn format:apple

Release v3.0.1
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Account for transform
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Simplify
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Use tempPoint
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Remove getChildInDrawingOrderAtIndex (#4156)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ViewConfigurationHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNViewConfigurationHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix `RNRenderer` import for React Native 0.86+ (#4160)
  packages/react-native-gesture-handler/src/RNRenderer.ts
  packages/react-native-gesture-handler/src/RNRenderer.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

[iOS] Fix duplicated `testID` (#4186)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[Android] Fix discrete gestures not triggering `onFinalize` (#4196)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix wrong reported number of pointers (#4218)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix(pods): Fix invalid `react-native/../react-native` resolution for aliases (#4232)
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

Move ruby utils to module (#4245)
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

[iOS] Fix handler retrieval and mismatched coordinate space (#4199)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

[iOS] Don't iterate to root while resolving recognizer (#4202)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

fix(Android): apply numberOfPointers config to the pointer requirement in LongPressGestureHandler
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix(Android): apply numberOfPointers config to the pointer requirement in LongPressGestureHandler (#4253)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[macOS] Bump example app (#3993)
  apps/basic-example/ios/Podfile.lock
  apps/common-app/package.json
  apps/common-app/src/release_tests/combo/index.tsx
  apps/expo-example/package.json
  apps/macos-example/Gemfile
  apps/macos-example/Gemfile.lock
  apps/macos-example/macos/MacOSExample-macOS/AppDelegate.mm
  apps/macos-example/macos/MacOSExample-macOS/Info.plist
  apps/macos-example/macos/MacOSExample.xcodeproj/project.pbxproj
  apps/macos-example/macos/Podfile
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/metro.config.js
  apps/macos-example/package.json
  apps/macos-example/tsconfig.json
  yarn.lock
Due: prettier --write, eslint

Bump Reanimated (#4040)
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/metro.config.js
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/common-app/src/ListWithHeader/ListWithHeader.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/BetterHorizonatalDrawer.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/index.tsx
  apps/common-app/src/new_api/calculator/index.tsx
  apps/common-app/src/new_api/camera/AnimatedCameraView.tsx
  apps/common-app/src/new_api/chat_heads/index.tsx
  apps/common-app/src/new_api/drag_n_drop/Draggable.tsx
  apps/common-app/src/new_api/manualGestures/index.tsx
  apps/common-app/src/release_tests/gesturizedPressable/delayedPressExample.tsx
  apps/expo-example/metro.config.js
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/metro.config.js
  apps/macos-example/package.json
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Bump `expo` to stable 56 (#4227)
  .github/workflows/ios-build.yml
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/common-app/src/basic/pagerAndDrawer/index.android.tsx
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Support React Native 0.86 (#4166)
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js, yarn format:apple

Remove tsconfig change
  apps/macos-example/tsconfig.json
Due: none

Remove unused component mocks
  packages/react-native-gesture-handler/jestSetup.js
Due: none

Remove worklets mock
  packages/react-native-gesture-handler/jestSetup.js
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
