Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Remove comment headers
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.h
Due: yarn format:cpp

renamed to intercepting gesture detector
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
Due: prettier --write, eslint

not accessing context in v2
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
Due: prettier --write, eslint

styling
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
Due: prettier --write, eslint

export sczacher macher
  apps/basic-example/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
Due: prettier --write, eslint

[iOS] Fix `Pressable` `onPressOut` callback (#3777)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

remove old api component `RNGestureHandlerEnabledRootView`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

remove `gestureHandlerRootHOC` function
  packages/react-native-gesture-handler/src/components/gestureHandlerRootHOC.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

update package.json as `hoist-non-react-statics` is now unused
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Remove EnabledRootView
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEnabledRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove suppress
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix shadow node layout
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
Due: yarn format:cpp

Rename component
  apps/basic-example/src/ContentsButton.tsx
Due: prettier --write, eslint

Rename example
  apps/basic-example/src/Text.tsx
Due: prettier --write, eslint

Update example
  apps/basic-example/src/Text.tsx
Due: prettier --write, eslint

Remove `RNGestureHandlerEnabledRootView` and `gestureHandlerRootHOC` (#3780)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEnabledRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/gestureHandlerRootHOC.tsx
  packages/react-native-gesture-handler/src/index.ts
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

fix ripple
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

styling
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename parameter
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename `event` parameter (#3782)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove UIManager from createHandler
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
Due: prettier --write, eslint

fix crashes on web
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Remove isFabric
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

removed Provider
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

fix ios
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Remove responder from module
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

update comment
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
Due: prettier --write, eslint

Remove suppresion
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove suppresions
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add release scripts
  .eslintrc.json
  .github/actions/publish-npm-package.yml
  .github/workflows/npm-gesture-handler-publish.yml
  .github/workflows/publish-commitly-release.yml
  .github/workflows/publish-stable-release.yml
  scripts/release/npm-utils.js
  scripts/release/parse-version.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
Due: none

Add guards
  .github/actions/publish-npm-package.yml
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
Due: none

Add support for nested Text to LogicDetector (#3778)
  apps/basic-example/src/App.tsx
  apps/basic-example/src/Text.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerRegistry.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix found issues
  .github/actions/publish-npm-package/action.yml
  .github/workflows/publish-commitly-release.yml
  .github/workflows/publish-stable-release.yml
  scripts/release/parse-version.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/version-utils.js
Due: none

Remove duplicate git config
  .github/actions/publish-npm-package/action.yml
Due: none

Add comments
  scripts/release/set-package-version.js
Due: none

Simplify log
  scripts/release/set-package-version.js
Due: none

Remove remaining paper references (#3783)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Remove React19 checks
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

Remove checks for React 19 (#3785)
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

Restore explicit version parsing
  scripts/release/version-utils.js
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
