Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Fix transform handling
  apps/basic-example/src/ContentsButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

Simplify setup
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonWrapperView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonWrapperViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonWrapper.mm
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp

extracted
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/useIsomorphicLayoutEffect.tsx
Due: prettier --write, eslint

removed unused method
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix `Fling` tsdoc (#3724)
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
Due: prettier --write, eslint

Fix: exclude libfbjni.so (#3721)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Support `react-native` 0.82 (#3699)
  apps/basic-example/android/app/src/debug/AndroidManifest.xml
  apps/basic-example/android/app/src/main/AndroidManifest.xml
  apps/basic-example/android/app/src/main/java/com/basicexample/MainApplication.kt
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/ios/BasicExample/Info.plist
  apps/basic-example/ios/Podfile
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

[Android] `build.gradle` cleanup (#3741)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

fix: gesture not activating due to outdated handler tag (#3578)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint

Fix grabbing delegate in `setPressed` (#3742)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Bump `node` on CI (#3753)
  .github/workflows/android-build.yml
  .github/workflows/docs-check.yml
  .github/workflows/ios-build.yml
  .github/workflows/kotlin-lint.yml
  .github/workflows/macos-build.yml
  .github/workflows/static-example-apps-checks.yml
  .github/workflows/static-root-checks.yml
  .github/workflows/yarn-validation.yml
Due: none

[iOS] Fix gestures not ending properly on `iOS` 26 (#3740)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Bump `react-native-builder-bob` (#3751)
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

[iOS] Fix gestures on iOS 26 (#3756)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Release 2.29.0 (#3755)
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Add workflow for releases (#3760)
  .github/workflows/npm-gesture-handler-publish.yml
Due: none

Add working directory to publish workflow (#3762)
  .github/workflows/npm-gesture-handler-publish.yml
Due: none

Allow `GestureHandlerRootView` to be manually made active (#2401)
  packages/docs-gesture-handler/docs/fundamentals/installation.md
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootViewManager.kt
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerRootViewNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Fix swipeable on iOS (#3747)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Fix SSR error with `useLayoutEffect` (#3752)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Fix memory leak with mixed use of `useMemo` (#3763)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Reattach gestures
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Change props lists
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Update node
  .github/workflows/check-relations-traversal-algorithm.yml
Due: none

Bump `node` in DFS CI (#3774)
  .github/workflows/check-relations-traversal-algorithm.yml
Due: none

Clean callbacks when unregistering gesture
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/useDetectorContext.ts
Due: prettier --write, eslint

Reattach gestures when the Detector moves back to the window on iOS (#3771)
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Extracted `useIsomorphicLayoutEffect` to a separate file (#3766)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/useIsomorphicLayoutEffect.tsx
Due: prettier --write, eslint

removed console log that sneaked in
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
Due: prettier --write, eslint

utilised ternary
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
Due: prettier --write, eslint

changed != to =
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix pressable onPressOut
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Update props whitelists (#3773)
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

only necessary changes
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

fix reattaching android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Clean callbacks when unregistering gesture (#3775)
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/useDetectorContext.ts
Due: prettier --write, eslint

Implement android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerRegistry.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add example
  apps/basic-example/src/App.tsx
  apps/basic-example/src/Text.tsx
Due: prettier --write, eslint

Implement iOS
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

preamptive fix on web
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
