Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Reset `enableTrackpadTwoFingerGesture` in web `PanGestureHandler` (#4480)
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
Due: prettier --write, eslint

[Android] Don't let an awaiting parent handler cancel the child it is waiting for (#4476)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Web] Reset NativeViewGestureHandler config on a full config replace (#4486)
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Resolve `DrawerLayoutAndroid` lazily to avoid RN deprecation warning on import (#4493)
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
Due: prettier --write, eslint

Reset accumulated wheel delta in web `WheelEventManager` (#4484)
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

[Android] Stop nested scroll when a native handler's gesture ends (#4492)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Chore: ref forwarding to child in wrap v2 (#4385)
  packages/react-native-gesture-handler/src/__tests__/legacyWrapRef.test.tsx
  packages/react-native-gesture-handler/src/getShadowNodeFromRef.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
  packages/react-native-gesture-handler/src/hostInstance.ts
Due: prettier --write, eslint

fix(fabric): prevent Yoga layout assertion crash in RNGestureHandlerDetectorShadowNode
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
Due: yarn format:cpp

Reset config before update
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Fix docs CI
  packages/docs-gesture-handler/docs/gesture-handlers/pan-gh.md
  packages/docs-gesture-handler/docs/gestures/pan-gesture.md
Due: none

[iOS] Keep button hit testing within its own subtree (#4495)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Fix button disabling mid-gesture
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Fix button disabling mid-gesture
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix button disabling mid-gesture
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
Due: prettier --write, eslint

Remove IDLE handlers from orchestrator
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Preserve disabled button targets under box-none parents
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Bots review
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

[iOS] Cancel an in-progress press when the button gets disabled (#4501)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

[Web] Drop a handler from the orchestrator when it gets disabled mid-gesture (#4504)
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

[Android] Release the press when the button gets disabled (#4502)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix: stop circular GestureStateManagerType import on web
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint

Update v3
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/v3/types/GestureStateManager.ts
Due: prettier --write, eslint

Rename v3 file
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/v3/types/GestureStateManagerTypes.ts
Due: prettier --write, eslint

[Web] Drop handlers that never began from the orchestrator (#4505)
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

[Web] Drop handlers that never began from the orchestrator (#4505)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Skip box-none and none buttons in shouldHandleTouch
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

fix: stop circular GestureStateManagerType import on web (#4508)
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/v3/types/GestureStateManagerTypes.ts
Due: prettier --write, eslint

[iOS] Preserve disabled button targets under box-none parents (#4506)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

fix: stop circular GestureStateManagerType import on web (#4508)
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint

feat(iOS): add SPM build support
  packages/react-native-gesture-handler/.gitignore
  packages/react-native-gesture-handler/Package.swift
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/react-native.config.js
Due: node scripts/check-rn-versions.js

Release v3.3.0
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

ci: add workflow for blank RN app SPM build
  .github/workflows/ios-spm-build-test.yml
Due: none

Update compatibility table
  packages/react-native-gesture-handler/compatibility.json
Due: none

[Docs] Update compatibility table (3.3.0) (#4511)
  packages/react-native-gesture-handler/compatibility.json
Due: none

[General] Align `pointerType` across native and JS (#4403)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerType.h
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple
