Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

added fling gesture
  packages/react-native-gesture-handler/src/__tests__/fireGesture.test.tsx
  packages/react-native-gesture-handler/src/__tests__/jestUtilsCharacterization.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarioTypes.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarios.ts
  packages/react-native-gesture-handler/src/jestUtils/index.ts
Due: prettier --write, eslint

fix Easing import in LongPress example
  packages/docs-gesture-handler/static/examples/LongPressGestureBasic.js
Due: none

added pinch gesture
  packages/react-native-gesture-handler/src/__tests__/fireGesture.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/fireGesture.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarioTypes.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarios.ts
  packages/react-native-gesture-handler/src/jestUtils/index.ts
Due: prettier --write, eslint

add rotation gesture
  packages/react-native-gesture-handler/src/__tests__/fireGesture.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/fireGesture.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarioTypes.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarios.ts
  packages/react-native-gesture-handler/src/jestUtils/index.ts
Due: prettier --write, eslint

fix(android): guard null Handler in ButtonViewGroup press animations (#4294)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Don't delay child pressed state in buttons (#4296)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

add long press gesture
  packages/react-native-gesture-handler/src/__tests__/fireGesture.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/fireGesture.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarioTypes.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarios.ts
  packages/react-native-gesture-handler/src/jestUtils/index.ts
Due: prettier --write, eslint

Don't block JS responder in RootHelper (#4297)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[docs] Add guide for transformations example (#4289)
  apps/common-app/src/new_api/complicated/transformations/index.tsx
  packages/docs-gesture-handler/docs/guides/transformations.mdx
Due: prettier --write, eslint

Revert macos hover change
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Newline
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Remove comment
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Make effective bounding rect recursive
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Add hover coordinates on macos
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Remove comment
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Copilot review
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Add helper
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

[macOS] Add coordinates to `Hover` events (#4304)
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Fix modals
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Cache
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Find non-contents view in absoluteToLocal
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

isScreens
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

[Web] Make `getEffectiveBoundingRect` recursive (#4303)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Use middle point
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

second approach
  packages/react-native-gesture-handler/src/__tests__/recognizerAwareGesture.test.tsx
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/jestUtils/index.ts
  packages/react-native-gesture-handler/src/jestUtils/simulatePointerGesture.ts
  packages/react-native-gesture-handler/src/mocks/hostDetector.tsx
Due: prettier --write, eslint

[iOS] Fix js responder cancelation in modals (#4306)
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Emit coordinates in `Native` gesture events (#4302)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/eventbuilders/NativeGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Add `delaysChildPressedState` to native gesture
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Update docs
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
Due: none

Added new jest API
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/index.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

fixes
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

Make `true` the default
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Wrap with try ... catch
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Bump to rc.0
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/build.gradle
  apps/basic-example/android/gradle.properties
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/tsconfig.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Update comment
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
Due: prettier --write, eslint

add relations api
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/index.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureArbitrator.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
  packages/react-native-gesture-handler/src/web/tools/InteractionManager.ts
Due: prettier --write, eslint

Fix Easing import in LongPress example (#4298)
  packages/docs-gesture-handler/static/examples/LongPressGestureBasic.js
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
