Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[CI] Add basic Argent end-to-end tests (#4318)
  .github/actions/argent-server/action.yml
  .github/workflows/android-e2e.yml
  .github/workflows/android.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios.yml
  apps/common-app/src/common.tsx
Due: prettier --write, eslint

Default `shouldCancelWhenOutside` to `true` in `useTapGesture`
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
Due: prettier --write, eslint

Default `shouldCancelWhenOutside` to `true` in `useTapGesture` (#4475)
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
Due: prettier --write, eslint

[Android] Don't let an awaiting parent handler cancel the child it is waiting for
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Reset `numberOfPointers` in `LongPressGestureHandler`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/LongPressGestureHandler.test.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Reset `enableTrackpadTwoFingerGesture` in web `PanGestureHandler`
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
Due: prettier --write, eslint

[CI] Capture device logs in e2e workflows
  .github/workflows/android-e2e.yml
  .github/workflows/ios-e2e.yml
Due: none

[CI] Await the example button before tapping it in Argent flows
  .argent/flows/basic-long-press-test.yaml
  .argent/flows/basic-tap-test.yaml
  .argent/flows/nested-touchables-test.yaml
  .argent/flows/shared-value-test.yaml
  .argent/flows/timer-test.yaml
Due: none

Reset `numberOfPointers` in `LongPressGestureHandler` (#4479)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/LongPressGestureHandler.test.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Reset `enableTrackpadTwoFingerGesture` in web `PanGestureHandler` (#4480)
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
Due: prettier --write, eslint

[Web] Refresh the DOM after a full config replace
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

[Web] Restore enabled on a full config replace
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
Due: prettier --write, eslint

[Web] Reset NativeViewGestureHandler config on a full config replace
  packages/react-native-gesture-handler/src/__tests__/webNativeViewGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

chore: fix typos in web GestureHandler comments
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Add check for APP_PROCESS in e2e workflow
  .github/workflows/ios-e2e.yml
Due: none

Call stopNestedScroll
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Lazy import DrawerLayout
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
Due: prettier --write, eslint

store drawer in top level
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
Due: prettier --write, eslint

Reset web pan gesture state when a trackpad gesture ends
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

Keep iOS button hit testing within its subtree
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

[CI] Await the example button before tapping it in Argent flows (#4482)
  .argent/flows/basic-long-press-test.yaml
  .argent/flows/basic-tap-test.yaml
  .argent/flows/nested-touchables-test.yaml
  .argent/flows/shared-value-test.yaml
  .argent/flows/timer-test.yaml
Due: none

[CI] Capture device logs in e2e workflows (#4481)
  .github/workflows/android-e2e.yml
  .github/workflows/ios-e2e.yml
Due: none

[Android] Don't let an awaiting parent handler cancel the child it is waiting for (#4476)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Web] Reset NativeViewGestureHandler config on a full config replace (#4486)
  packages/react-native-gesture-handler/src/__tests__/webNativeViewGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

[Web] Refresh the DOM after a full config replace (#4488)
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

[Web] Restore enabled on a full config replace (#4487)
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
Due: prettier --write, eslint

chore: fix typos in web GestureHandler comments (#4490)
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Resolve `DrawerLayoutAndroid` lazily to avoid RN deprecation warning on import (#4493)
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
Due: prettier --write, eslint

Reset accumulated wheel delta in web `WheelEventManager` (#4484)
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

[Android] Stop nested scroll when a native handler's gesture ends (#4492)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Bump dependencies
  .yarn/patches/expo-modules-core-npm-56.0.25-a715438de2.patch
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/build.gradle
  apps/basic-example/android/gradle.properties
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/ios/BasicExample/PrivacyInfo.xcprivacy
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/tsconfig.json
  apps/common-app/package.json
  apps/expo-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js

Fix iOS build on 0.87
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Change moduleResolution to bundler
  tsconfig.json
Due: none

Bump TypeScript to 6.0.3 (#4311)
  apps/basic-example/tsconfig.json
  apps/common-app/package.json
  apps/common-app/tsconfig.json
  apps/expo-example/package.json
  apps/macos-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Update types to respect Strict TS API (#4319)
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/components/Text.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableHighlight.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableNativeFeedback.android.tsx
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerRootViewNativeComponent.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Remaining TS changes
  apps/common-app/src/ListWithHeader/ListWithHeader.tsx
  apps/common-app/src/new_api/calculator/index.tsx
  apps/common-app/src/recipes/panAndScroll/index.tsx
  apps/common-app/src/recipes/scaleAndRotate/index.tsx
  apps/common-app/src/release_tests/combo/index.tsx
  apps/common-app/src/release_tests/nestedFling/index.tsx
  apps/common-app/src/release_tests/touchables/index.tsx
  apps/common-app/src/showcase/bottomSheet/index.tsx
  apps/expo-example/tsconfig.json
  apps/macos-example/tsconfig.json
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/components/Swipeable.tsx
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
Due: prettier --write, eslint

Claude review
  apps/basic-example/android/gradle.properties
  apps/basic-example/src/Navigator.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableOpacity.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
