Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Remove stale todo
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Remove stale todo (#4455)
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

[Web] Activate ScrollView's native gesture on real scroll instead of pointer distance (#4420)
  packages/react-native-gesture-handler/src/__tests__/webNativeViewGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/EventManager.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/ScrollEventManager.ts
Due: prettier --write, eslint

Flatten same-type nested compositions in `useComposedGesture` (#4453)
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/composition/useComposedGesture.ts
Due: prettier --write, eslint

Remove stale todo
  packages/react-native-gesture-handler/src/State.ts
Due: prettier --write, eslint

Remove unused exports
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Add JSON-LD and a build-time llms.txt for the docs
  .github/workflows/docs-check.yml
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/plugins/swm-geo.js
Due: none

Escape the site title before using it in a regex
  packages/docs-gesture-handler/plugins/swm-geo.js
Due: none

[iOS] Remove a stale TODO in `State.ts` and the unused constants export (#4457)
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/State.ts
Due: prettier --write, eslint, yarn format:apple

Update sponsors
  README.md
  packages/docs-gesture-handler/src/components/Sponsors/index.tsx
  packages/docs-gesture-handler/src/components/Sponsors/styles.module.css
  packages/docs-gesture-handler/src/pages/index.js
  packages/docs-gesture-handler/static/img/expo-dark.svg
  packages/docs-gesture-handler/static/img/expo.svg
  packages/docs-gesture-handler/versioned_docs/version-1.x/credits.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/fundamentals/introduction.md
Due: prettier --write, eslint

Remove old V1 section
  packages/docs-gesture-handler/versioned_docs/version-1.x/credits.md
Due: none

Sidebar
  packages/docs-gesture-handler/versioned_sidebars/version-1.x-sidebars.json
Due: none

[Docs] Update sponsors section (#4459)
  README.md
  packages/docs-gesture-handler/src/components/Sponsors/index.tsx
  packages/docs-gesture-handler/src/components/Sponsors/styles.module.css
  packages/docs-gesture-handler/src/pages/index.js
  packages/docs-gesture-handler/static/img/expo-dark.svg
  packages/docs-gesture-handler/static/img/expo.svg
  packages/docs-gesture-handler/versioned_docs/version-1.x/credits.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/fundamentals/introduction.md
  packages/docs-gesture-handler/versioned_sidebars/version-1.x-sidebars.json
Due: prettier --write, eslint

Terminate the workflow file with a newline
  .github/workflows/docs-check.yml
Due: none

Jest todo
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

Drop the page-count echo from the docs check
  .github/workflows/docs-check.yml
Due: none

[Docs] Add JSON-LD and llms.txt for AI search (#4458)
  .github/workflows/docs-check.yml
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/plugins/swm-geo.js
Due: none

Remove the `@ts-ignore TODO` from the event pipeline in `jestUtils` (#4460)
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

Init handler at Gesture creation
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Copilot comment
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Consider requests from outside dispatch pass
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Initialize the `Handler` fields eagerly (#4461)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Escape the JSON-LD against early script termination
  packages/docs-gesture-handler/plugins/swm-geo.js
Due: none

Rephrase comment
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

shouldActivateOnStart
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

coalescing
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

root view
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove unused button search
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

path
  .github/workflows/rngh-api-v3.yml
Due: none

files
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Remove comma
  packages/docs-gesture-handler/plugins/swm-geo.js
Due: none

Escape the JSON-LD against early script termination (#4462)
  packages/docs-gesture-handler/plugins/swm-geo.js
Due: none

Keep ReanimatedSwipeable native handlers stable when event callbacks change
  packages/react-native-gesture-handler/src/__tests__/reanimatedSwipeableCallbacks.test.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Skip scheduleOnRN when ReanimatedSwipeable event callbacks are absent
  packages/react-native-gesture-handler/src/__tests__/reanimatedSwipeableCallbacks.test.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Remove stale TODOs (#4463)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix v3 CI path filter case and remove stale files entry (#4465)
  .github/workflows/rngh-api-v3.yml
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Update comment
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
