Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Update example
  apps/common-app/src/new_api/components/swipeable/index.tsx
Due: prettier --write, eslint

Change `yieldsToNativeGestures` to `yieldsToContinuousGestures`
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ManualGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/HoverGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/ManualGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Began on 2 pointers
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

removed npx detox form the github action
  .github/workflows/e2e.yml
Due: none

Call initialize only once
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

now cache pods instead of the full build
  .github/workflows/e2e.yml
Due: none

Cancel on up
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

added partial cache for the ios build
  .github/workflows/e2e.yml
Due: none

[Web] Assign role for `Native` gesture in detector (#4130)
  .eslintrc.json
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.ts
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.web.ts
  packages/react-native-gesture-handler/src/web/constants.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

[Android] Unify `Pinch` and `Rotation` with respect to `iOS` (#4153)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fixed the yarn test command and added an android-e2e action
  .github/workflows/e2e.yml
  apps/e2eApp/package.json
Due: none

allowed the jobs to run in pararell
  .github/workflows/e2e.yml
Due: none

Add example
  packages/docs-gesture-handler/docs/components/wrapped-components.mdx
Due: none

updated the workfolow for android
  .github/workflows/e2e.yml
Due: none

updated argent usage on the runner
  .github/workflows/e2e.yml
  apps/e2eApp/e2e/ios/rotation.test.ts
Due: prettier --write, eslint

[docs] Add "Wrapped components" section (#4119)
  packages/docs-gesture-handler/docs/components/wrapped-components.mdx
Due: none

changed the argent install command
  .github/workflows/e2e.yml
Due: none

Do not reset role on reset
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

udpate argent install command:)|
  .github/workflows/e2e.yml
Due: none

[Web] Do not reset `role` on handler reset (#4154)
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Continuous Pinch
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
Due: prettier --write, eslint

[General] Change `yieldsToNativeGestures` to `yieldsToContinuousGestures` (#4152)
  apps/common-app/src/new_api/components/swipeable/index.tsx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ManualGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/HoverGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/ManualGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Add `cancelsJSResponder ` prop to the gesture handlers (#4094)
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/MultiHandlerExample.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/SingleHandlerExample.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/OnJSResponderCancelListener.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

update exclusiove handler test and bump macos version on github runner
  .github/workflows/e2e.yml
  apps/e2eApp/e2e/shared/exclusive-gestures.test.ts
  apps/e2eApp/package.json
Due: prettier --write, eslint

udpate xcode version for runner
  .github/workflows/e2e.yml
Due: none

Continuous Rotation
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Return on pointer up
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
Due: prettier --write, eslint

Additional pointer up again
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
Due: prettier --write, eslint

Fix anchor/focal oob
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

for
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
Due: prettier --write, eslint

add to NativeDetector
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

[Android] Remove `getChildInDrawingOrderAtIndex`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ViewConfigurationHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNViewConfigurationHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Remove getChildInDrawingOrderAtIndex (#4156)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ViewConfigurationHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNViewConfigurationHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

feat(ios): publish open swipeable frame for native-stack pop arbitration
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

better example
  apps/common-app/src/new_api/tests/keyboardShouldPersistTaps/index.tsx
Due: prettier --write, eslint
