Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

`NativeDetector` <-> `Reanimated` integration (#3617)
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/useGesture.ts
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Fix link
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
Due: none

Support rc.2
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

capture: true
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
Due: prettier --write, eslint

Fix link to the example app in the documentation (#3629)
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
Due: none

[Web] fixed texinput submition when inside pressable (#3623)
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
Due: prettier --write, eslint

Assign onUpdate to Animated.Event
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Remove TODO
  packages/react-native-gesture-handler/src/v3/hooks/useGestureEvent.ts
Due: prettier --write, eslint

Do not check wrong mappings
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Use undefined instead of empty function
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Use types from RN
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Remove onChange
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Change error message
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Add tsdoc deprecation
  packages/react-native-gesture-handler/src/components/gestureHandlerRootHOC.tsx
Due: prettier --write, eslint

Remove gestureHandlerRootHOC from docs
  packages/docs-gesture-handler/docs/fundamentals/installation.md
  packages/docs-gesture-handler/docs/guides/migrating-off-rnghenabledroot.md
  packages/docs-gesture-handler/versioned_docs/version-1.x/getting-started.md
Due: none

Minor comment change
  packages/react-native-gesture-handler/src/components/gestureHandlerRootHOC.tsx
Due: prettier --write, eslint

Add todo
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Simplify check
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Remove `onChange` callback references (#3631)
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Remove check for payload
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Add todo
  packages/react-native-gesture-handler/src/v3/hooks/useGestureEvent.ts
Due: prettier --write, eslint

Add conditional on android
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/cpp-adapter.cpp
Due: yarn format:cpp

Add conditional on iOS
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  scripts/gesture_handler_utils.rb
Due: yarn format:apple

Beautify ruby
  scripts/gesture_handler_utils.rb
Due: none

Bring back old formatting on Android
  packages/react-native-gesture-handler/android/src/main/jni/cpp-adapter.cpp
Due: yarn format:cpp

Handle `Animated.Event` in `onUpdate` callback (#3630)
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Deprecate `gestureHandlerRootHOC` (#3632)
  packages/docs-gesture-handler/docs/fundamentals/installation.md
  packages/docs-gesture-handler/docs/guides/migrating-off-rnghenabledroot.md
  packages/docs-gesture-handler/versioned_docs/version-1.x/getting-started.md
  packages/react-native-gesture-handler/src/components/gestureHandlerRootHOC.tsx
Due: prettier --write, eslint

Move script to package
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
  yarn.lock
Due: node scripts/check-rn-versions.js

Fix crash when onUpdate is undefined
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Add undefined
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Fix `onUpdate` crash (#3636)
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

basic component
  packages/react-native-gesture-handler/src/v3/NativeDetector.web.tsx
  packages/react-native-gesture-handler/src/web/detectors/GestureHandlerDetector.tsx
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

better useffect triggers:
  packages/react-native-gesture-handler/src/web/detectors/GestureHandlerDetector.tsx
Due: prettier --write, eslint

added todos
  packages/react-native-gesture-handler/src/v3/NativeDetector.web.tsx
  packages/react-native-gesture-handler/src/web/detectors/GestureHandlerDetector.tsx
Due: prettier --write, eslint

moved Gesture handler detectors
  packages/react-native-gesture-handler/src/web/GestureHandlerDetector.tsx
Due: prettier --write, eslint

Attach Native to child
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove todo
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

path fix
  packages/react-native-gesture-handler/src/v3/NativeDetector.web.tsx
Due: prettier --write, eslint
