Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Remove ts block
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
Due: none

Update packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
Due: none

Bring back root view to example in Pressable
  packages/docs-gesture-handler/docs/components/pressable.mdx
Due: none

Do not export PureNativeButton
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Rea and Ani
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
Due: none

Move examples to separate files
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Competing.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Exclusive.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Simultaneous.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/Block.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/RequireToFail.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/SimultaneousWith.tsx
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.mdx
Due: prettier --write, eslint

Rephrase note
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
Due: none

Remove a
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
Due: none

manualActivation
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

[docs] Add gtm (#3969)
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
Due: none

pressable
  apps/common-app/src/common.tsx
  apps/common-app/src/legacy/release_tests/gesturizedPressable/testingBase.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/pressable/androidRipple.tsx
  apps/common-app/src/new_api/tests/pressable/delayedPress.tsx
  apps/common-app/src/new_api/tests/pressable/functionalStyles.tsx
  apps/common-app/src/new_api/tests/pressable/hitSlop.tsx
  apps/common-app/src/new_api/tests/pressable/hoverDelay.tsx
  apps/common-app/src/new_api/tests/pressable/index.tsx
  apps/common-app/src/new_api/tests/pressable/testingBase.tsx
Due: prettier --write, eslint

Fix types
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

Copilot review
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

Native gesture
  packages/docs-gesture-handler/docs/components/buttons.mdx
Due: none

Do not export `PureNativeButton` (#3972)
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Copilot review
  packages/docs-gesture-handler/docs/components/buttons.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

shadow node based fix
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint, yarn format:cpp

Mention onGestureUpdate
  packages/docs-gesture-handler/docs/components/create-native-wrapper.mdx
Due: none

Change header
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
Due: none

Update packages/docs-gesture-handler/docs/fundamentals/installation.mdx
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
Due: none

Redirects
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/redirects.json
  packages/docs-gesture-handler/yarn.lock
Due: none

Add other badges
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

no change fix
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
Due: yarn format:cpp

fix web styling in pressable example
  apps/common-app/src/common.tsx
  apps/common-app/src/new_api/tests/pressable/hitSlop.tsx
  apps/common-app/src/new_api/tests/pressable/index.tsx
Due: prettier --write, eslint

tap me next
  apps/common-app/src/common.tsx
  apps/common-app/src/new_api/tests/reattaching/index.tsx
Due: prettier --write, eslint

unsupported platforms
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

mention trackpad
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

fix mouse buttons
  apps/common-app/src/new_api/hover_mouse/mouse_buttons/index.tsx
Due: prettier --write, eslint

Add badges to pages
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

Test examples (#3961)
  apps/common-app/src/common.tsx
  apps/common-app/src/legacy/release_tests/gesturizedPressable/testingBase.tsx
  apps/common-app/src/new_api/hover_mouse/mouse_buttons/index.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/showcase/timer/index.tsx
  apps/common-app/src/new_api/tests/nestedPressables/index.tsx
  apps/common-app/src/new_api/tests/nestedRootView/index.tsx
  apps/common-app/src/new_api/tests/pointerType/index.tsx
  apps/common-app/src/new_api/tests/pressable/androidRipple.tsx
  apps/common-app/src/new_api/tests/pressable/delayedPress.tsx
  apps/common-app/src/new_api/tests/pressable/functionalStyles.tsx
  apps/common-app/src/new_api/tests/pressable/hitSlop.tsx
  apps/common-app/src/new_api/tests/pressable/hoverDelay.tsx
  apps/common-app/src/new_api/tests/pressable/index.tsx
  apps/common-app/src/new_api/tests/pressable/testingBase.tsx
  apps/common-app/src/new_api/tests/reattaching/index.tsx
  apps/common-app/src/new_api/tests/rectButton/index.tsx
  apps/common-app/src/new_api/tests/twoFingerPan/index.tsx
  apps/common-app/src/new_api/tests/webStylesReset/index.tsx
Due: prettier --write, eslint

[Native] Fix ButtonWrapper Shadow Node custom layout logic (#3974)
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
Due: yarn format:cpp

[docs] `GestureHandlerRootView` (#3970)
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
  packages/docs-gesture-handler/docs/under-the-hood/how-does-it-work.md
Due: none

Export new `createNativeWrapper` (#3971)
  packages/docs-gesture-handler/docs/components/create-native-wrapper.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
  skills/gesture-handler-3-migration/SKILL.md
Due: prettier --write, eslint

Bring back old docs
  packages/docs-gesture-handler/docs/legacy-gestures/_category_.json
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-event-data.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/gesture-detector-functional1.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/v2-info.md
  packages/docs-gesture-handler/docs/legacy-gestures/composed-gestures.md
  packages/docs-gesture-handler/docs/legacy-gestures/fling-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/force-touch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture-composition.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture-detector.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/hover-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/long-press-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/manual-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/native-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pan-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/rotation-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/state-manager.md
  packages/docs-gesture-handler/docs/legacy-gestures/tap-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/touch-events.md
Due: none

Remove unused import
  packages/docs-gesture-handler/docusaurus.config.js
Due: none
