Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Remove old arch CI
  .github/workflows/android-build-paper.yml
  .github/workflows/ios-build-paper.yml
Due: none

Remove old arch CI (#4256)
  .github/workflows/android-build-paper.yml
  .github/workflows/ios-build-paper.yml
Due: none

Release v2.32.0
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Fix detector zIndex
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
Due: yarn format:cpp

Fix hook API not cancelling JS Responder
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Bumped Kotlin to 2.2.0
  packages/react-native-gesture-handler/android/gradle.properties
Due: none

[Android] Make detector aware of child transform (#4251)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Do not set explicit versions in `build.gradle` (#4248)
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/gradle.properties
Due: none

[iOS] Fix hooks API not cancelling JS Responder (#4261)
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

[Native] Fix native GestureDetector `zIndex` handling (#4257)
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
Due: yarn format:cpp

Ignore the `.rnrepo-cache` directory globally within the Metro configuration.
  apps/expo-example/metro.config.js
Due: none

Better path separator and pr fixes
  apps/expo-example/metro.config.js
Due: none

add comment
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint

move to utils
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
Due: prettier --write, eslint

move to reanimatedUtils
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

extract updateResponderEventValue
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
Due: prettier --write, eslint

do not unpack horizontal
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

chore: upgrade gradle and use optimize proguard
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
Due: none

chore: enable optouts
  apps/basic-example/android/gradle.properties
Due: none

feat: adopt AGP9 with backward compat
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/gradle/wrapper/gradle-wrapper.properties
Due: none

fix: pr review
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Fix gestures
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix LongPress
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Invert logic
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Use actionMasked
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Ignore `testID` in production
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

[Android] Fix mouse interactions (#4265)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[General] Ignore `testID` property in production environments (#4266)
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Ignore the `.rnrepo-cache` directory within the Metro config (#4262)
  apps/expo-example/metro.config.js
Due: none

Fix swipeable left actions
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Change comment
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

[Android | Web] Disable pointer events on hidden `Swipeable` actions container (#4192)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

docs: add dynamic topbar banner
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/components/topBarBannerConfig.ts
  packages/docs-gesture-handler/src/theme/Navbar/index.js
  packages/docs-gesture-handler/yarn.lock
Due: prettier --write, eslint

[General] Register mount reactions in layout effect to avoid crash on unmounted detector
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
Due: prettier --write, eslint

docs: remove TypeScript extension from import in docusaurus config
  packages/docs-gesture-handler/docusaurus.config.js
Due: none

docs: add dynamic topbar banner (#4264)
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/components/topBarBannerConfig.ts
  packages/docs-gesture-handler/src/theme/Navbar/index.js
  packages/docs-gesture-handler/yarn.lock
Due: prettier --write, eslint

Remove opacity
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint
