Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Initial events page
  packages/docs-gesture-handler/docs/fundamentals/states-events.mdx
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/yarn.lock
Due: none

remove console log
  apps/common-app/src/legacy/v2_api/camera/index.tsx
  apps/common-app/src/new_api/complicated/camera/index.tsx
Due: prettier --write, eslint

naming fix
  apps/common-app/src/new_api/complicated/camera/index.tsx
Due: prettier --write, eslint

simplify lock
  apps/common-app/src/new_api/complicated/lock/index.tsx
Due: prettier --write, eslint

remove redundant function
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
Due: prettier --write, eslint

remove ''
  apps/common-app/src/new_api/showcase/nested_text/nested_text.tsx
Due: prettier --write, eslint

simplify styling
  apps/common-app/src/new_api/complicated/velocity_test/index.tsx
  apps/common-app/src/new_api/simple/fling/index.tsx
  apps/common-app/src/new_api/simple/hover/index.tsx
  apps/common-app/src/new_api/simple/longPress/index.tsx
  apps/common-app/src/new_api/simple/pan/index.tsx
  apps/common-app/src/new_api/simple/pinch/index.tsx
  apps/common-app/src/new_api/simple/rotation/index.tsx
  apps/common-app/src/new_api/simple/tap/index.tsx
Due: prettier --write, eslint

fix hoverable icons display
  apps/common-app/src/legacy/v2_api/hoverable_icons/index.tsx
  apps/common-app/src/new_api/platform_specific/hoverable_icons/index.tsx
Due: prettier --write, eslint

rename platform specific
  apps/common-app/src/new_api/hover_mouse/context_menu/index.tsx
  apps/common-app/src/new_api/hover_mouse/hover/index.tsx
  apps/common-app/src/new_api/hover_mouse/hoverable_icons/index.tsx
  apps/common-app/src/new_api/hover_mouse/mouse_buttons/index.tsx
  apps/common-app/src/new_api/hover_mouse/stylus_data/index.tsx
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

remove the horizontal scroll demo for now
  apps/common-app/src/new_api/scroll/BottomSheet.tsx
  apps/common-app/src/new_api/scroll/HorizontalScrollView.tsx
  apps/common-app/src/new_api/scroll/index.tsx
Due: prettier --write, eslint

Switch to vis.js
  packages/docs-gesture-handler/docs/fundamentals/states-events.mdx
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/GestureEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/TouchEventChart.jsx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/index.ts
  packages/docs-gesture-handler/yarn.lock
Due: prettier --write, eslint

Adjust resize
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
Due: none

Add theme-common to package.json
  packages/docs-gesture-handler/package.json
Due: none

Rename section
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Bring back prism
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/yarn.lock
Due: none

fix ios hitFrame
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/components/Pressable/Pressable.tsx
Due: prettier --write, eslint, yarn format:apple

fix ios hitFrame
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Add states table
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Add CodeWithDetails
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/src/components/CodeWithTypes/index.tsx
  packages/docs-gesture-handler/src/components/CodeWithTypes/styles.module.css
Due: prettier --write, eslint

Do not mention states outside dedicated page
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
Due: none

fix naming
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint

Add note about complementary callbacks
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Add StateManager page
  packages/docs-gesture-handler/docs/fundamentals/state-manager.md
Due: none

Check for null
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

State manager deactivate (#3910)
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint

[web] Fix handlers not sending events (#3911)
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Bump to 0.84.0-rc.0
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/BasicExample/Info.plist
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

fixed android state manager
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update manual quick guide
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step1.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step2.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step3.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step4.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step5.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step6.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step7.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/index.md
Due: none

[iOS] Fix `ScrollView` detection when used with NativeDetector (#3888)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Pass `testID` to native in dev
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Pass testID in native wrapper
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

[General] Pass `testID` to native side in dev (#3883)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

iOS
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.h
Due: yarn format:apple

Change number of array elements in example
  packages/docs-gesture-handler/docs/guides/manual-gestures/_steps/step3.md
  packages/docs-gesture-handler/docs/guides/manual-gestures/index.md
Due: none

Split states
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/under-the-hood/state.md
Due: none

Update margin in flow chart
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
Due: none

Rename tag to handlerTag
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/composition/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Update check
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
