Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Single workflow for publishing
  .github/workflows/publish-release.yml
Due: none

[android] fix ripple effect after #3742 (#3781)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add concurrecy group
  .github/workflows/publish-release.yml
Due: none

Rename job
  .github/workflows/publish-release.yml
Due: none

Add automated release scripts (#3784)
  .eslintrc.json
  .github/actions/publish-npm-package/action.yml
  .github/workflows/npm-gesture-handler-publish.yml
  .github/workflows/publish-commitly-release.yml
  .github/workflows/publish-release.yml
  scripts/release/npm-utils.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/version-utils.js
Due: none

Remove action, update homepage
  .github/workflows/publish-commitly-release.yml
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Trigger commitly release only when changing the package contents
  .github/workflows/publish-release.yml
Due: none

Update actions for automatic releases (#3788)
  .github/workflows/publish-commitly-release.yml
  .github/workflows/publish-release.yml
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Fix memory leak in ReanimatedSwipeable on programmatic close
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

fixed naming
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

finally fix ios
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

update example
  apps/basic-example/src/Text.tsx
Due: prettier --write, eslint

One detector to rule them all (#3732)
  apps/basic-example/src/NativeDetector.tsx
  apps/basic-example/src/Text.tsx
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
Due: prettier --write, eslint

common
  packages/react-native-gesture-handler/src/ActionType.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

ios
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerActionType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Update callback order
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Go to active throut began
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

`onTouchesDown` before `onBegin`, `onTouchesMove` before `onUpdate`
  packages/react-native-gesture-handler/src/web/handlers/FlingGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/ManualGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
Due: prettier --write, eslint

Go from undetermined to active through began
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint

Queue finished handlers cleanup in a microtask
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Fix diagonal gesture type
  packages/react-native-gesture-handler/src/Directions.ts
Due: prettier --write, eslint

android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/LogicDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

virtual detector
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
Due: prettier --write, eslint

chore: fix typos in docs for force touch gesture
  packages/docs-gesture-handler/docs/gestures/force-touch-gesture.md
Due: none

Fix memory leak in ReanimatedSwipeable on programmatic close (#3790)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

chore: fix typos in docs for force touch gesture (#3797)
  packages/docs-gesture-handler/docs/gestures/force-touch-gesture.md
Due: none

new file
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

Use shorthand syntax
  packages/react-native-gesture-handler/src/Directions.ts
Due: prettier --write, eslint

Use more
  packages/react-native-gesture-handler/src/Directions.ts
Due: prettier --write, eslint

[Android] Remove workaround for touch events allowing to change state too soon (#3793)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[General] Fix `DiagonalDirections` type (#3795)
  packages/react-native-gesture-handler/src/Directions.ts
Due: prettier --write, eslint

Check for RootView
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
Due: prettier --write, eslint

Release v2.29.1
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Fix crash
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

Remove incorrectly passed `gestureEvents` (#3799)
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

detaching old tag
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
Due: prettier --write, eslint
