Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Finally
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Review
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Review v2
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Agents
  AGENTS.md
  CLAUDE.md
Due: none

[tvOS] Fix build error (#4060)
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

[ios] fix pressable with intercepting detector (#4041)
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Add Touchable migration to SKILL
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Finally
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

newline
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
Due: prettier --write, eslint

Rename Clickable to Touchable
  apps/common-app/src/new_api/components/touchable/index.tsx
  apps/common-app/src/new_api/components/touchable_stress/index.tsx
  apps/common-app/src/new_api/index.tsx
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Rename to Touchable
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/components/touchables.md
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Update packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

testid
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
Due: prettier --write, eslint

Other renames
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Touchable replacement note
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

Bump to stable 85
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

initial
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.h
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.web.tsx
  packages/react-native-gesture-handler/src/mocks/module.tsx
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Do not pass index to unmount
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Support React Native 0.85 (#4014)
  apps/basic-example/Gemfile
  apps/basic-example/Gemfile.lock
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/android/gradlew.bat
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/jest.config.js
  apps/basic-example/package.json
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
  apps/common-app/src/legacy/recipes/scaleAndRotate/index.tsx
  apps/common-app/src/legacy/showcase/bottomSheet/index.tsx
  apps/common-app/src/legacy/v2_api/bottom_sheet/index.tsx
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
  packages/react-native-gesture-handler/jest.config.js
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Guard before removing
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Touchable ts errors
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
Due: prettier --write, eslint

[iOS] Fix buttons crash when unmounting children (#4065)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Remove todo
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
Due: prettier --write, eslint

Fix Touchables typescript errors (#4067)
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
Due: prettier --write, eslint

Support React Native 0.85 (#4014)
  apps/basic-example/Gemfile
  apps/basic-example/Gemfile.lock
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/android/gradlew.bat
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/jest.config.js
  apps/basic-example/package.json
  apps/common-app/src/basic/horizontalDrawer/index.tsx
  apps/common-app/src/basic/pagerAndDrawer/index.android.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/BetterHorizonatalDrawer.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/index.tsx
  apps/common-app/src/new_api/bottom_sheet/index.tsx
  apps/common-app/src/recipes/scaleAndRotate/index.tsx
  apps/common-app/src/release_tests/rows/index.tsx
  apps/common-app/src/showcase/bottomSheet/index.tsx
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/jest.config.js
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/DrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/Swipeable.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Fix failing `Jest` CI (#3988)
  packages/react-native-gesture-handler/babel.config.js
Due: none

Do not emit commonjs
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

[Release] 2.31.1 cherry-pick thread (#4068)
  apps/basic-example/Gemfile
  apps/basic-example/Gemfile.lock
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/android/gradlew.bat
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/jest.config.js
  apps/basic-example/package.json
  apps/common-app/src/basic/horizontalDrawer/index.tsx
  apps/common-app/src/basic/pagerAndDrawer/index.android.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/BetterHorizonatalDrawer.tsx
  apps/common-app/src/new_api/betterHorizontalDrawer/index.tsx
  apps/common-app/src/new_api/bottom_sheet/index.tsx
  apps/common-app/src/recipes/scaleAndRotate/index.tsx
  apps/common-app/src/release_tests/rows/index.tsx
  apps/common-app/src/showcase/bottomSheet/index.tsx
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/babel.config.js
  packages/react-native-gesture-handler/jest.config.js
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/DrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/Swipeable.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint, yarn format:apple

Remove commonjs mocks
  packages/react-native-gesture-handler/jestSetup.js
Due: none

Release v2.31.1
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Do not emit `commonjs` (#4069)
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Add on Android
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Rename `Clickable` to `Touchable` (#4063)
  apps/common-app/src/new_api/components/touchable/index.tsx
  apps/common-app/src/new_api/components/touchable_stress/index.tsx
  apps/common-app/src/new_api/index.tsx
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

[Web] Fix focal and anchor points coordinates (#4061)
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Bring back Touchables mocks
  packages/react-native-gesture-handler/src/mocks/gestureComponents.tsx
Due: prettier --write, eslint

Combine exports
  packages/react-native-gesture-handler/src/mocks/gestureComponents.tsx
Due: prettier --write, eslint

Change Clickable to Touchable in mocks test
  packages/react-native-gesture-handler/src/__tests__/mocks.test.tsx
Due: prettier --write, eslint

Add tests for Touchables
  packages/react-native-gesture-handler/src/__tests__/mocks.test.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
