Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Rename logic detector to virtual detector (#3796)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerActionType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/src/ActionType.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

use native
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

Buttons
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

Remove Reanimated
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
Due: prettier --write, eslint

fixed pointers
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Components
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Add proper values to relations
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Bring back old components
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

Deprecate legacy buttons
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  packages/react-native-gesture-handler/src/handlers/gestureHandlerTypesCompat.ts
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Deprecate legacy components
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/GestureComponents.web.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Export new components
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Add web file
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.web.tsx
Due: prettier --write, eslint

Virtual detector native gestures (#3765)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Correctly attach NativeViewGestureHandler
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Add view as variable
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Update import
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

Check for protocol
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

use ref in check
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

Correct refs
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

reanimated swipeable
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

drawer layout
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Throw error when detectors are not placed inside `GestureHandlerRootView` (#3798)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
Due: prettier --write, eslint

removed debug red from detector
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
Due: prettier --write, eslint

added v3 folder
  packages/react-native-gesture-handler/src/v3/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/v3/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/components/ReanimatedSwipeable/ReanimatedSwipeableProps.tsx
  packages/react-native-gesture-handler/src/v3/components/ReanimatedSwipeable/index.tsx
  packages/react-native-gesture-handler/src/v3/components/index.tsx
Due: prettier --write, eslint

moved to v3
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

fix type
  packages/react-native-gesture-handler/src/v3/components/ReanimatedSwipeable/ReanimatedSwipeableProps.tsx
Due: prettier --write, eslint

export
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Fix double `onTouchesCancelled` call
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

fix: `Accessing element.ref was removed in React 19` error
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

[Web] Fixed `Accessing element.ref was removed in React 19` error (#3804)
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

fix types?
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/v3/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/components/ReanimatedSwipeable/ReanimatedSwipeableProps.tsx
  packages/react-native-gesture-handler/src/v3/components/ReanimatedSwipeable/index.tsx
  packages/react-native-gesture-handler/src/v3/components/index.tsx
  yarn.lock
Due: prettier --write, eslint

better solution
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

remove lock changes due to abusive cleaning
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  yarn.lock
Due: none

hover exit
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

gesture handlers not awaiting
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

swipeable shared value binding
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Remove `onUpdate` from discrete gestures
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTap.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

[android] fixed experimental pointers breaking after pan (#3801)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Web] Remove workaround for touch events allowing to change state too soon (#3794)
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/web/handlers/FlingGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/ManualGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Use detector view pointer
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
