Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Format
  apps/expo-example/.detoxrc.js
Due: none

Remove new-app-screen
  apps/expo-example/package.json
Due: none

Make the new thing a prop
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Update docs
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

Update setup-detox-script
  apps/expo-example/setup-detox-android.js
Due: none

Update CI file
  .github/workflows/e2e.yml
Due: none

New line
  apps/expo-example/e2e/jest.config.js
  apps/expo-example/e2e/tsconfig.json
Due: none

Potential fix for pull request finding
  apps/common-app/src/e2e_screens/gestures/pan.tsx
Due: prettier --write, eslint

Potential fix for pull request finding
  apps/expo-example/e2e/__tests__/pan.test.ts
Due: prettier --write, eslint

[iOS] Fix duplicated `testID` (#4186)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Ramove native-stack
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/package.json
  yarn.lock
Due: none

Run E2E CI when modifying e2e paths
  .github/workflows/e2e.yml
Due: none

[Native] Fix buttons staying pressed in after detached from window (#4188)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[Android] Fix buttons cutting of borders of their child views (#4189)
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

[Android] Accept percentage-based border radius (#4185)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Fix children clipping
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix `Touchable` children clipping (#4190)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update compatibility table
  packages/react-native-gesture-handler/compatibility.json
Due: none

[docs] Update compatibility table (#4191)
  packages/react-native-gesture-handler/compatibility.json
Due: none

[Android] Disable pointer events on hidden Swipeable actions container
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Fix attach order
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Iterate over the current order
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Remove unnecessary nativeHandlers tracking
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Correctly attach v3 handlers
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Capitalize component name
  apps/common-app/src/e2e_screens/gestures/Pan.tsx
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

Update script name
  apps/expo-example/package.json
Due: none

Remove usesNativeOrVirtualDetector from ActionType
  packages/react-native-gesture-handler/src/ActionType.ts
Due: prettier --write, eslint

Update scripts on CI
  .github/workflows/e2e.yml
Due: none

Bump to 0.86.0-rc.2
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

yarn.lock
  yarn.lock
Due: none

Merge tests
  apps/expo-example/e2e/__tests__/all.test.ts
  apps/expo-example/e2e/__tests__/fling.test.ts
  apps/expo-example/e2e/__tests__/gestures/fling.test.ts
  apps/expo-example/e2e/__tests__/gestures/long_press.test.ts
  apps/expo-example/e2e/__tests__/gestures/pan.test.ts
  apps/expo-example/e2e/__tests__/gestures/pinch.test.ts
  apps/expo-example/e2e/__tests__/gestures/rotation.test.ts
  apps/expo-example/e2e/__tests__/gestures/tap.test.ts
  apps/expo-example/e2e/__tests__/long_press.test.ts
  apps/expo-example/e2e/__tests__/pan.test.ts
  apps/expo-example/e2e/__tests__/pinch.test.ts
  apps/expo-example/e2e/__tests__/tap.test.ts
  apps/expo-example/e2e/suites/fling.ts
  apps/expo-example/e2e/suites/long_press.ts
  apps/expo-example/e2e/suites/pan.ts
  apps/expo-example/e2e/suites/pinch.ts
  apps/expo-example/e2e/suites/rotation.ts
  apps/expo-example/e2e/suites/tap.ts
Due: prettier --write, eslint

Fix SVG
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Update script in package.json
  apps/expo-example/package.json
Due: none

Add argent to CI
  .github/workflows/e2e.yml
Due: none

[Web] Correctly attach v3 handlers (#4194)
  packages/react-native-gesture-handler/src/ActionType.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Use set
  apps/common-app/src/e2e_screens/TestingScreen.tsx
  apps/common-app/src/e2e_screens/gestures/Fling.tsx
  apps/common-app/src/e2e_screens/gestures/LongPress.tsx
  apps/common-app/src/e2e_screens/gestures/Pan.tsx
  apps/common-app/src/e2e_screens/gestures/Pinch.tsx
  apps/common-app/src/e2e_screens/gestures/Rotation.tsx
  apps/common-app/src/e2e_screens/gestures/Tap.tsx
  apps/common-app/src/e2e_screens/relations/Competing.tsx
  apps/common-app/src/e2e_screens/utils.ts
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/suites/fling.ts
  apps/expo-example/e2e/suites/long_press.ts
  apps/expo-example/e2e/suites/pan.ts
  apps/expo-example/e2e/suites/pinch.ts
  apps/expo-example/e2e/suites/rotation.ts
  apps/expo-example/e2e/suites/tap.ts
  apps/expo-example/e2e/utils.ts
Due: prettier --write, eslint
