Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Improve comment
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Update reanimated_swipeable.md
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.md
Due: none

Update swipeable.md
  packages/docs-gesture-handler/docs/components/swipeable.md
Due: none

Update reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
Due: none

docs: update reanimated_swipeable.md (#3647)
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.md
Due: none

docs: update swipeable.md (#3648)
  packages/docs-gesture-handler/docs/components/swipeable.md
Due: none

docs: update reanimated-drawer-layout.mdx (#3649)
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
Due: none

failing on detach
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Detach on android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Detach on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Small refactor
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Remove `AnimatedEvent` action type from `NativeDetector` (#3646)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerActionType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix iOS
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

iOS go brrrrr
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
Due: yarn format:apple

android go brrrrr
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

one more refactor
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Add dispatchesAnimatedEvent to config
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

display contents
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

removed action type native detector animated event
  packages/react-native-gesture-handler/src/ActionType.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Move shouldUseReanimated to config
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureEvent.ts
Due: prettier --write, eslint

handler data
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Add comment
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

fixed cyclic dependency
  packages/react-native-gesture-handler/src/handlers/GestureHandlerEventPayload.ts
  packages/react-native-gesture-handler/src/handlers/gestureHandlerCommon.ts
  packages/react-native-gesture-handler/src/web/handlers/HoverGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

minor fixes
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Add todo
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
Due: prettier --write, eslint

Update example
  apps/basic-example/src/NativeDetector.tsx
Due: prettier --write, eslint

Automatically assign `dispatchesAnimatedEvents` (#3650)
  apps/basic-example/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureHandlerEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/events/useTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureEvent.ts
Due: prettier --write, eslint

Remove setter and add assert
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Get rid of iOS naming convention on Android c:
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

type predicate
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Remove nullable type from
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Change var to val
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Move properties to implementation
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Add new method
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

readded memoisation
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
