Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Fix conflicts
  apps/basic-example/Gemfile.lock
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint, yarn format:cpp

Dispatch gesture update event to native detector
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerDelegate.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerInterface.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerNativeEventUtils.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerNativeEventUtils.mm
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

rename .tsx to .ts
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

remove func notation
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

[iOS] Fix `GestureDetector` on `Text` (#3591)
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

docs: add Radon IDE banner to TOCItems
  packages/docs-gesture-handler/src/components/RadonBanner/index.tsx
  packages/docs-gesture-handler/src/components/RadonBanner/styles.module.css
  packages/docs-gesture-handler/src/theme/TOCItems/index.js
Due: prettier --write, eslint

Send touch events on Android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/src/NativeDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Add comment about createGestureHandler returning a bool
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Remove todo
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
Due: yarn format:cpp

Make comment start uppercase
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint

Rename method
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

docs: remove unnecessary code
  packages/docs-gesture-handler/src/components/RadonBanner/index.tsx
  packages/docs-gesture-handler/src/theme/TOCItems/index.js
Due: prettier --write, eslint

Rename fields
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Unify format apple and format cpp scripts
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/package.json
  scripts/format-apple.js
  scripts/format-cpp.js
Due: node scripts/check-rn-versions.js

Check for tracked pointers in touch events
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove log
  scripts/format-cpp.js
Due: none

Rename count -> argumentCount
  packages/react-native-gesture-handler/shared/RNGHRuntimeDecorator.cpp
Due: yarn format:cpp

Send touch events on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Add helper method
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Use `wantsEvents`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Simplify condition
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename :kek:
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix `onTouches*` callbacks being called for all gestures (#3596)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Cleanup `ReanimatedSwipeable` (#3579)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/index.ts
Due: prettier --write, eslint

docs: add Radon IDE banner to TOCItems (#3592)
  packages/docs-gesture-handler/src/components/RadonBanner/index.tsx
  packages/docs-gesture-handler/src/components/RadonBanner/styles.module.css
  packages/docs-gesture-handler/src/theme/TOCItems/index.js
Due: prettier --write, eslint

detach initialization from configuration
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/StateMachine.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
Due: prettier --write, eslint

Use `asReversed`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Support animated events
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/src/App.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerActionType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/useGesture.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Add comment
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

rename functions
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
Due: prettier --write, eslint

fix: turn off build IDs for reproducibility
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Simplify event builders
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/FlingGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/GestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/HoverGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/LongPressGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/NativeGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PanGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PinchGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/RotationGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/TapGestureHandlerEventDataBuilder.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Use `asReversed` instead of `reversed` (#3598)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove actions building for the old arch
  .github/workflows/android-build-paper.yml
  .github/workflows/ios-build-paper.yml
  apps/expo-example/app.config.js
  apps/expo-example/package.json
Due: none

Update how Gesture Handler exposes `setGestureState` to the Reanimated UI runtime (#3207)
  .lintstagedrc.json
  apps/basic-example/Gemfile.lock
  apps/basic-example/android/gradle.properties
  apps/basic-example/babel.config.js
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/src/HomeScreen.tsx
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/common/GestureHandlerStateManager.kt
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/reanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/OnLoad.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/android/src/main/jni/cpp-adapter.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerStateManager.h
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/shared/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RNGHRuntimeDecorator.h
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/init.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/utils.ts
  scripts/format-cpp.js
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Simplify Android event builders (#3603)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/FlingGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/GestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/HoverGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/LongPressGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/NativeGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PanGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PinchGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/RotationGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/TapGestureHandlerEventDataBuilder.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update ReanimatedSwipeable module path
  apps/common-app/tsconfig.json
Due: none

Update other paths
  apps/basic-example/tsconfig.json
  apps/expo-example/tsconfig.json
  apps/macos-example/tsconfig.json
Due: none

Remove actions testing build for the old architecture (#3604)
  .github/workflows/android-build-paper.yml
  .github/workflows/ios-build-paper.yml
  apps/expo-example/app.config.js
  apps/expo-example/package.json
Due: none
