Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[Web] Make ScrollView an intercepting detector
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.web.tsx
Due: prettier --write, eslint

[Web] Keep detector-owned DOM props across a full config replace (#4522)
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/constants.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Mark JS responder events for virtual and intercepting detectors
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
Due: prettier --write, eslint

Make the detector frame cover transformed children
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
Due: yarn format:cpp

[Android] PoC: forward touches to a detector's transformed children
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorTouchForwarder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Web] Fix view relative coordinates of trackpad pan events
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

Remove dot
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
Due: yarn format:cpp

[E2E] Update flows to await console to hide (#4524)
  .argent/flows/basic-long-press-test.yaml
  .argent/flows/basic-tap-test.yaml
  .argent/flows/nested-touchables-test.yaml
  .argent/flows/shared-value-test.yaml
Due: none

Make the detector frame cover transformed children (#4532)
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
Due: yarn format:cpp

CodeRabbit review
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
Due: prettier --write, eslint

Expose the module id through a sync TurboModule method instead of a JSI global (#4525)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.h
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/globals.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/mocks/module.tsx
  packages/react-native-gesture-handler/src/moduleId.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Follow the sign of a SharedValue pan offset on every update
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Don't memoize set
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Android manualActivation
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

iOS state manager
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

web state manager
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint

Re-send SharedValue config values from the UI thread after binding
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Add cleanup flag
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Add test
  packages/react-native-gesture-handler/src/__tests__/hitSlopSharedValue.test.ts
Due: prettier --write, eslint

Don't check pointers on begin
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Align with Android
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Align with mobile
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint

Drop orchestrator call
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint

Remove recordHandlerIfNotPresent
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Bump to rc.2
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/BasicExample/AppDelegate.swift
  apps/basic-example/ios/BasicExample/Info.plist
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/ios/SceneDelegate.swift
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Don't change state of handlers without pointers
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[iOS] Keep retrying to attach a handler whose view is mounted late
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

[iOS] Stop attach retries once the handler has left the registry
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

[CI] Read the Node version from `.nvmrc`
  .github/workflows/android-basic.yml
  .github/workflows/android-build.yml
  .github/workflows/android-e2e.yml
  .github/workflows/android.yml
  .github/workflows/docs-check.yml
  .github/workflows/ios-basic.yml
  .github/workflows/ios-build.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios-spm-build-test.yml
  .github/workflows/ios.yml
  .github/workflows/kotlin-lint.yml
  .github/workflows/macos-build.yml
  .github/workflows/publish-release.yml
  .github/workflows/rngh-api-v3.yml
  .github/workflows/run-jest-tests.yml
  .github/workflows/static-example-apps-checks.yml
  .github/workflows/static-root-checks.yml
  .github/workflows/yarn-validation.yml
  .nvmrc
Due: none

[GitHub] Remove `Architecture` from the issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

[CI] Add the Argent Cloud issue reproduction workflow
  .github/actions/install-argent-cloud/action.yml
  .github/actions/publish-argent-report/action.yml
  .github/workflows/argent-cloud-issue-repro.yml
  .github/workflows/helper/argent-cloud-issue-repro-report.ts
  .github/workflows/helper/argent-cloud-issue-repro/allowed-dependencies.json
  .github/workflows/helper/argent-cloud-issue-repro/build-app.sh
  .github/workflows/helper/argent-cloud-issue-repro/plan.schema.json
  .github/workflows/helper/argent-cloud-issue-repro/prepare-app.sh
  .github/workflows/helper/argent-cloud-issue-repro/prompt.md
  .github/workflows/helper/slack.ts
  .github/workflows/helper/tsconfig.json
Due: prettier --write, eslint

Scan mount relations directly instead of rebuilding tag arrays
  packages/react-native-gesture-handler/src/__tests__/useMountReactions.test.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
Due: prettier --write, eslint

fix: prevent presses when stopping Android scroll flings
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[GitHub] Remove `Architecture` from the issue template (#4543)
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

[CI] Read the Node version from `.nvmrc` (#4542)
  .github/workflows/android-basic.yml
  .github/workflows/android-build.yml
  .github/workflows/android-e2e.yml
  .github/workflows/android.yml
  .github/workflows/docs-check.yml
  .github/workflows/ios-basic.yml
  .github/workflows/ios-build.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios-spm-build-test.yml
  .github/workflows/ios.yml
  .github/workflows/kotlin-lint.yml
  .github/workflows/macos-build.yml
  .github/workflows/publish-release.yml
  .github/workflows/rngh-api-v3.yml
  .github/workflows/run-jest-tests.yml
  .github/workflows/static-example-apps-checks.yml
  .github/workflows/static-root-checks.yml
  .github/workflows/yarn-validation.yml
  .nvmrc
Due: none

[Android] Allow `GestureStateManager.activate` from the first `onTouchesDown` (#4534)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Web] Allow `GestureStateManager.activate` from the first `onTouchesDown` (#4537)
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
Due: prettier --write, eslint

[iOS] Allow `GestureStateManager.activate` from the first `onTouchesDown` (#4535)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

[CI] Add the Argent Cloud issue reproduction workflow (#4544)
  .github/actions/install-argent-cloud/action.yml
  .github/actions/publish-argent-report/action.yml
  .github/workflows/argent-cloud-issue-repro.yml
  .github/workflows/helper/argent-cloud-issue-repro-report.ts
  .github/workflows/helper/argent-cloud-issue-repro/allowed-dependencies.json
  .github/workflows/helper/argent-cloud-issue-repro/build-app.sh
  .github/workflows/helper/argent-cloud-issue-repro/plan.schema.json
  .github/workflows/helper/argent-cloud-issue-repro/prepare-app.sh
  .github/workflows/helper/argent-cloud-issue-repro/prompt.md
  .github/workflows/helper/slack.ts
  .github/workflows/helper/tsconfig.json
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
