Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[iOS] Fix `Touchable` animation ending in the wrong state (#4099)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[General] Remove `onActiveStateChange` from `Touchable` (#4101)
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint

deprecate API v2
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureComposition.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/handlers/gestures/hoverGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/longPressGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/manualGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/panGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/pinchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/rotationGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/tapGesture.ts
Due: prettier --write, eslint

Update deprecations
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/forceTouchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureComposition.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
  packages/react-native-gesture-handler/src/handlers/gestures/hoverGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/longPressGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/manualGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/nativeGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/panGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/pinchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/rotationGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/tapGesture.ts
Due: prettier --write, eslint

Mark state manager as legacy
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint

Remove hook-api note from GestureRef
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
Due: prettier --write, eslint

Do not mention ForceTouch as hook
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
Due: prettier --write, eslint

ForceTouch v2
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
Due: prettier --write, eslint

[Web] Don't cancel buttons when pointer moves inside (#4100)
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
Due: prettier --write, eslint

Deprecate builder API (#4103)
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/forceTouchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureComposition.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/handlers/gestures/hoverGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/longPressGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/manualGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/nativeGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/panGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/pinchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/rotationGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/tapGesture.ts
Due: prettier --write, eslint

removed coments from example|
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/static/examples/RotationGestureBasicSrc.js
  packages/docs-gesture-handler/yarn.lock
Due: none

simplified fling gesture example
  packages/docs-gesture-handler/static/examples/FlingGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/FlingGestureBasic.js
Due: none

Add `cancelOnLeaveProp`
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Remove cast, update type
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Remove local variable
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Cleanup
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Fix double `onPressOut`
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Run animation only when touch is handled
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update docs
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

Cancel longpress timer on move out
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

updated examples in the legacy gesture section
  packages/docs-gesture-handler/docs/legacy-gestures/fling-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/hover-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/long-press-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pan-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/rotation-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/tap-gesture.md
Due: none

[General] Don't emit duplicate events for `NativeViewGestureHandler` (#4102)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Check empty worklet
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

removed videos from legacy gestures in v3
  packages/docs-gesture-handler/docs/legacy-gestures/fling-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/hover-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/long-press-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pan-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/rotation-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/tap-gesture.md
Due: none

Fix nested buttons
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Add example
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/nestedTouchables/index.tsx
Due: prettier --write, eslint

Fix nexted touchables and gestures
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

changed the legacy-gestures to contain symlinks to versioned-docs/2-x/gestures
  packages/docs-gesture-handler/docs/legacy-gestures/fling-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/force-touch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/hover-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/long-press-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/manual-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/native-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pan-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/rotation-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/tap-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/tap-gesture.md
Due: none

Update comment, move check up
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Do not check for `worklets` if babel plugin was not used (#4107)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

updaed everything in legacy-gestures to use symliinks
  packages/docs-gesture-handler/docs/legacy-gestures/composed-gestures.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture-composition.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture-detector.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/state-manager.md
  packages/docs-gesture-handler/docs/legacy-gestures/touch-events.md
Due: none

removed composed gesture ssection from legacy-gestures
  packages/docs-gesture-handler/docs/legacy-gestures/composed-gestures.md
Due: none

formating
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/tap-gesture.md
Due: none

Prevent disabled buttons from swallowing pointer events when disabled
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

simplified long press example code|
  packages/docs-gesture-handler/static/examples/LongPressGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/LongPressGestureBasic.js
Due: none

pinch example now starts at diffrent size
  package.json
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
  yarn.lock
Due: none

removed leftover package.json line
  package.json
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
