Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Use `Touchable` instead of `RectButton`
  apps/common-app/App.tsx
Due: prettier --write, eslint

Remove RectButton
  apps/common-app/App.tsx
Due: prettier --write, eslint

Fix Android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix iOS
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Handle multiple detector children explicitly
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Remove createNativeWrapper from Touchable
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Pass props
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Use in recordHandlerIfNotPresent
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Remove unused methods
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Fix disabled handlers
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
Due: yarn format:apple

added a screen for compteing gestures
  apps/common-app/src/e2e_screens/HomeScreen.tsx
  apps/common-app/src/e2e_screens/components/NormalBox.tsx
  apps/common-app/src/e2e_screens/compositionNavigation.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/competingGestures.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/requireToFail.tsx
  apps/common-app/src/e2e_screens/index.tsx
  apps/e2eApp/e2e/fling.test.ts
  apps/e2eApp/e2e/hover.test.ts
  apps/e2eApp/e2e/long-press.test.ts
  apps/e2eApp/e2e/pan.test.ts
  apps/e2eApp/e2e/pinch.test.ts
  apps/e2eApp/e2e/require-to-fail.test.ts
  apps/e2eApp/e2e/rotation.test.ts
  apps/e2eApp/e2e/tap.test.ts
Due: prettier --write, eslint

added test for exclusive gestrure
  apps/common-app/src/e2e_screens/components/GestureBox.tsx
  apps/common-app/src/e2e_screens/compositionNavigation.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/exclusiveGestures.tsx
  apps/common-app/src/e2e_screens/index.tsx
  apps/e2eApp/e2e/exclusive-gestures.test.ts
Due: prettier --write, eslint

added indicators for tests
  apps/common-app/src/e2e_screens/composition_and_interactions/exclusiveGestures.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/requireToFail.tsx
  apps/common-app/src/e2e_screens/gestureStyles.ts
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
Due: prettier --write, eslint

pass non-null callback
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update comment
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Add RNRepo to ci builds
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/build.gradle
  apps/basic-example/ios/Podfile
  apps/basic-example/package.json
  rnrepo.config.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Add package.json path to ci trigger
  .github/workflows/android-build.yml
  .github/workflows/ios-build.yml
Due: none

Cleanup
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

ci: update Android build task to target app module
  .github/workflows/android-build.yml
Due: none

better handling of ci env flag
  apps/basic-example/android/app/build.gradle
  apps/basic-example/ios/Podfile
Due: none

Clear role on detach
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Remove double hitSlop assignment
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

[Web] Fix `Pinch` and `Rotation` (#4078)
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

[Android] Correct `Rotation` handler (#4079)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

SwipeableProps from RefObject to Ref (#3759)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

Do not check for `worklets` if babel plugin was not used (#4107)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

[android] fix talkback on pressable (#4017)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/useIsScreenReaderEnabled.ts
Due: prettier --write, eslint

[Release] 2.31.2 cherry-pick thread (#4142)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/useIsScreenReaderEnabled.ts
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Don't use context from useHandler
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

added gesture detector tests
  apps/common-app/package.json
  apps/common-app/src/e2e_screens/HomeScreen.tsx
  apps/common-app/src/e2e_screens/components/GestureBox.tsx
  apps/common-app/src/e2e_screens/components/NormalBox.tsx
  apps/common-app/src/e2e_screens/components/gestureColors.ts
  apps/common-app/src/e2e_screens/composition_and_interactions/competingGestures.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/exclusiveGestures.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/requireToFail.tsx
  apps/common-app/src/e2e_screens/gestureDetectors/interceptingGestureDetector.tsx
  apps/common-app/src/e2e_screens/gestureDetectors/virtualGestureDetector.tsx
  apps/common-app/src/e2e_screens/gestureDetectorsNavigation.tsx
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
  apps/common-app/src/e2e_screens/index.tsx
  apps/common-app/src/e2e_screens/integration/MultipleHandlers.tsx
  apps/common-app/src/e2e_screens/testConstants.ts
  apps/common-app/src/new_api/index.tsx
  apps/e2eApp/e2e/intercepting-gesture-detector.test.ts
  apps/e2eApp/e2e/long-press.test.ts
  apps/e2eApp/e2e/pan.test.ts
  apps/e2eApp/e2e/rotation.test.ts
  apps/e2eApp/e2e/virtual-gesture-detector.test.ts
  yarn.lock
Due: prettier --write, eslint

Release v2.31.2
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Rename to `recognizer`
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Extract logic to `canBeInterruptedBy`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Clean up
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

Do not prepare config multiple times
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Potential fix for pull request finding
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint
