Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Allow on fork
  .github/workflows/publish-release.yml
Due: none

Use `format()`
  .github/actions/publish-npm-package/action.yml
Due: none

Don't commit to main
  .github/actions/publish-npm-package/action.yml
Due: none

Run version checks sooner
  .github/actions/publish-npm-package/action.yml
Due: none

move handlers back to module
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/mocks/gestureHandlers.tsx
  packages/react-native-gesture-handler/src/mocks/module.tsx
Due: prettier --write, eslint

Always explicitly set npm tag
  .github/actions/publish-npm-package/action.yml
Due: none

Validate non-latest versions
  .github/actions/publish-npm-package/action.yml
  scripts/release/__tests__/validate-non-latest-version.test.js
  scripts/release/validate-non-latest-version.js
Due: none

Redisable on forks
  .github/workflows/publish-release.yml
Due: none

Add tests
  .github/workflows/run-jest-tests.yml
Due: none

Update wildcards
  .github/workflows/run-jest-tests.yml
Due: none

Move `Reanimated` availability check to `JS` side (#3935)
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/reanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.web.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

fixed context menu
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Rephrase components paragraph
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Separate buttons
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Showcase
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/src/App.tsx
  apps/basic-example/src/NiceText.tsx
  apps/basic-example/src/SharedValueBinding.tsx
  apps/basic-example/src/Slider.tsx
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

explicit error web
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
Due: prettier --write, eslint

Address simple remarks
  .github/actions/publish-npm-package/action.yml
  .github/workflows/run-jest-tests.yml
  scripts/release/get-version.js
  scripts/release/validate-non-latest-version.js
Due: none

Fix test action
  .github/workflows/run-jest-tests.yml
Due: none

explicit error ios
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Move check to interactionsBegan
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
Due: yarn format:apple

Fix ios 26
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

View hierarchy
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Update packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Copilot review
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/src/components/CodeComparison/index.tsx
  packages/docs-gesture-handler/src/hooks/useFormattedCode.tsx
Due: prettier --write, eslint

Rephrase tip
  packages/docs-gesture-handler/docs/gestures/use-manual-gesture.mdx
Due: none

Mention didSucceed
  packages/docs-gesture-handler/docs/under-the-hood/state.md
Due: none

Rephrase onUpdate
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Update packages/docs-gesture-handler/docs/under-the-hood/state.md
  packages/docs-gesture-handler/docs/under-the-hood/state.md
Due: none

Copilot review
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/FlowChart.jsx
Due: none

[web] fix context menu (#3939)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Fix state manager on unregistered gestures (#3913)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Move check earlier
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

[iOS] Prevent gesture recognizers from beginning, when they should not (#3936)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

fixed svg on android
  apps/common-app/src/new_api/showcase/svg/index.tsx
Due: prettier --write, eslint

[General] Throw when no gesture is passed to the `GestureDetector` (#3884)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
Due: prettier --write, eslint

Fixing number of touches becoming 0 issue for pan gestures in apple track pad (#3865)
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
Due: yarn format:apple

[iOS] Fix manual activation crash (#3890)
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
