Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

fix(android): always include changedTouches and allTouches in touch events
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[PoC] Strip SharedValue from the DOM binding's public config types
  packages/gesture-handler-core/src/v3/types/ReanimatedTypes.ts
  packages/react-gesture-handler/src/__tests__/typeNarrowing.ts
  packages/react-gesture-handler/src/index.ts
Due: prettier --write, eslint

[PoC] Make the web tarball type-check inside consumer programs (Next.js)
  packages/gesture-handler-dom-engine/src/handlers/FlingGestureHandler.ts
  packages/gesture-handler-dom-engine/src/handlers/LongPressGestureHandler.ts
  packages/gesture-handler-dom-engine/src/handlers/PanGestureHandler.ts
  packages/gesture-handler-dom-engine/src/handlers/TapGestureHandler.ts
  packages/react-gesture-handler/src/ensureDevGlobal.ts
Due: prettier --write, eslint

Tap e2e test
  .argent/flows/simple-tap-test.yaml
  .github/workflows/android-e2e.yml
  .github/workflows/ios-e2e.yml
  apps/common-app/src/console/ConsoleModal.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/simple/tap/index.tsx
Due: prettier --write, eslint

Print log, move server start android
  .github/workflows/android-e2e.yml
  .github/workflows/ios-e2e.yml
Due: none

Update android action
  .github/workflows/android-e2e.yml
Due: none

Move sim server start out of emulator step
  .github/workflows/android-e2e.yml
Due: none

Strict TS API
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/Text.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableHighlight.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableNativeFeedback.android.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerRootViewNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Bump to rc.1
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/src/ListWithHeader/ListWithHeader.tsx
  apps/common-app/src/legacy/recipes/panAndScroll/index.tsx
  apps/common-app/src/legacy/recipes/scaleAndRotate/index.tsx
  apps/common-app/src/legacy/release_tests/combo/index.tsx
  apps/common-app/src/legacy/release_tests/nestedFling/index.tsx
  apps/common-app/src/legacy/release_tests/touchables/index.tsx
  apps/common-app/src/legacy/showcase/bottomSheet/index.tsx
  apps/common-app/src/legacy/v2_api/calculator/index.tsx
  apps/common-app/src/new_api/components/scrollview/index.tsx
  apps/common-app/tsconfig.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

More changes
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

Update types to respect Strict TS API (#4319)
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/Text.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableHighlight.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableNativeFeedback.android.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerRootViewNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Fix zindex missing callbacks
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Review
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Unbound methods lint
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableOpacity.tsx
Due: prettier --write, eslint

Another unbound method
  apps/basic-example/src/Navigator.tsx
Due: prettier --write, eslint

Bump compatibility
  packages/react-native-gesture-handler/compatibility.json
Due: none

docs: improve README
  README.md
Due: none

[Docs] Update compatibility table for 3.1.0 (#4322)
  packages/react-native-gesture-handler/compatibility.json
Due: none

[iOS] Fix gesture callback guarantees when view is detached mid-gesture (#4321)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Export PressableEvent
  packages/react-native-gesture-handler/src/components/Pressable/index.ts
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Update blogpost link
  packages/docs-gesture-handler/src/components/GestureFeatures/index.tsx
Due: prettier --write, eslint

Add skill info
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Apply suggestions from code review
  packages/docs-gesture-handler/docs/guides/testing.mdx
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

Labels
  packages/docs-gesture-handler/docs/legacy-gestures/_category_.json
  packages/docs-gesture-handler/src/css/colors.css
  packages/docs-gesture-handler/src/css/overrides.css
  packages/docs-gesture-handler/src/theme/DocSidebar/index.js
Due: none

Put text above examples - new api
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
Due: none

Put text above examples - leg api
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/fling-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/hover-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/long-press-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pan-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pinch-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/rotation-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/tap-gesture.md
Due: none

Remove some labels
  packages/docs-gesture-handler/src/theme/DocSidebar/index.js
Due: none

Split composition into hooks
  packages/docs-gesture-handler/docs/composition/_category_.json
  packages/docs-gesture-handler/docs/composition/_examples/hooks/Competing.tsx
  packages/docs-gesture-handler/docs/composition/_examples/hooks/Exclusive.tsx
  packages/docs-gesture-handler/docs/composition/_examples/hooks/Simultaneous.tsx
  packages/docs-gesture-handler/docs/composition/_examples/props/Block.tsx
  packages/docs-gesture-handler/docs/composition/_examples/props/RequireToFail.tsx
  packages/docs-gesture-handler/docs/composition/_examples/props/SimultaneousWith.tsx
  packages/docs-gesture-handler/docs/composition/block.mdx
  packages/docs-gesture-handler/docs/composition/require-to-fail.mdx
  packages/docs-gesture-handler/docs/composition/simultaneousWith.mdx
  packages/docs-gesture-handler/docs/composition/use-competing-gestures.mdx
  packages/docs-gesture-handler/docs/composition/use-exclusive-gestures.mdx
  packages/docs-gesture-handler/docs/composition/use-simultaneous-gestures.mdx
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.mdx
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
  packages/docs-gesture-handler/docs/gestures/_category_.json
  packages/docs-gesture-handler/docs/guides/_category_.json
  packages/docs-gesture-handler/docs/legacy-gestures/_category_.json
  packages/docs-gesture-handler/docs/under-the-hood/_category_.json
Due: prettier --write, eslint

remove getState from public API
  packages/docs-gesture-handler/docs/guides/testing.mdx
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

Export `PressableEvent` type (#4324)
  packages/react-native-gesture-handler/src/components/Pressable/index.ts
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Add onDeactivate call
  packages/docs-gesture-handler/docs/guides/testing.mdx
Due: none

Potential fix for pull request finding
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Potential fix for pull request finding
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
Due: none

Potential fix for pull request finding
  packages/docs-gesture-handler/docs/composition/use-competing-gestures.mdx
Due: none

Fix broken links
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/docs-gesture-handler/docs/components/wrapped-components.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/guides/transformations.mdx
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
Due: none

Add overview
  packages/docs-gesture-handler/docs/components/wrapped-components.mdx
  packages/docs-gesture-handler/docs/composition/overview.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/installation.mdx
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
  packages/docs-gesture-handler/docs/fundamentals/root-view.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
Due: none

move uiWorkletRuntime resolution to tryFindUIRuntime
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.h
Due: yarn format:apple, yarn format:cpp

disable eslint no-var rule for entire global.d.ts
  packages/react-native-gesture-handler/src/global.d.ts
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
