Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

cursor dissapears when grabbing the box in pinch example
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

ran yarn install
  yarn.lock
Due: none

Update compatibility
  packages/react-native-gesture-handler/compatibility.json
Due: none

[docs] Update compatibility (#4110)
  packages/react-native-gesture-handler/compatibility.json
Due: none

Fix iOS
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

cursor dissapes in rotation example
  packages/docs-gesture-handler/static/examples/RotationGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/RotationGestureBasic.js
Due: none

Fix web
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

chaned pinch starting size
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/static/examples/RotationGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

updated rngh vesrion
  packages/docs-gesture-handler/package.json
Due: none

fix rotation v3|
  packages/docs-gesture-handler/static/examples/RotationGestureBasic.js
Due: none

Restore previous behavor for legacy buttons
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
Due: prettier --write, eslint

Disallow interruption
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Handle 0 duration animation correctly
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Revert "Disallow interruption"
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Remove event
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

inital strcuture almost
  apps/common-app/src/e2e_screens/_layout.tsx
  apps/common-app/src/e2e_screens/components/GestureBox.tsx
  apps/common-app/src/e2e_screens/components/GestureScreenBox.tsx
  apps/common-app/src/e2e_screens/components/gestureColors.ts
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
  apps/common-app/src/e2e_screens/index.tsx
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

[Native] Fix `Touchable` behavior when nested within gesture handlers (#4106)
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/nestedTouchables/index.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

[iOS] Handle `0` duration animation correctly on `Touchable` (#4113)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Simplify logic
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

[Native] Add `cancelOnLeave` prop to `Touchable` (#4105)
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[Web] Fix nested touchables and gestures (#4108)
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

[Web | iOS] Fix `Switch` component (#4112)
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint, yarn format:apple

capturing touch event in GH Pressable
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/keyboardShouldPersistTaps/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Attach to UITextField
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Store control
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Use field
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Store type in variable
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Claude fix
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

runs :)
  apps/common-app/src/e2e_screens/_layout.tsx
  apps/common-app/src/e2e_screens/index.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint

Allow to create gestures with no config
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
Due: prettier --write, eslint

move onStartShouldSetResponder
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

now it works :)
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
Due: prettier --write, eslint

Macos build
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Activate buttons when `setPressed(true)` is called by the OS
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Extract checks to helper
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple
