Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

add isPrerelease return to getExternalLibVersion
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Pass empty callbacks to UI
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
Due: prettier --write, eslint

Add jest test
  packages/react-native-gesture-handler/src/__tests__/runOnJSReanimatedHandlers.test.tsx
Due: prettier --write, eslint

Bump to rc.2
  apps/basic-example/ios/BasicExample/PrivacyInfo.xcprivacy
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Fix wrong comparison
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Android abs
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Apple abs
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
Due: yarn format:apple

Web abs
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
Due: prettier --write, eslint

Docs
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/versioned_docs/version-2.x/gesture-handlers/pan-gh.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pan-gesture.md
  packages/react-native-gesture-handler/src/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/handlers/gestures/panGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanTypes.ts
Due: prettier --write, eslint

Rotation delta fix
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
Due: prettier --write, eslint

Incorrect offset
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
Due: prettier --write, eslint

[Web] Fix incorrectly calculated `timeDelta` (#4329)
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
Due: prettier --write, eslint

[Web] Fix incorrect `Tap` offset (#4330)
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
Due: prettier --write, eslint

Pass empty callbacks to UI when `runOnJS` is `true` (#4326)
  packages/react-native-gesture-handler/src/__tests__/runOnJSReanimatedHandlers.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
Due: prettier --write, eslint

Update skill link
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Update examples on landing
  packages/docs-gesture-handler/src/components/GestureExamples/FlingExample/index.tsx
  packages/docs-gesture-handler/src/components/GestureExamples/LongPressExample/index.tsx
  packages/docs-gesture-handler/src/components/GestureExamples/PanExample/index.tsx
  packages/docs-gesture-handler/src/components/GestureExamples/PinchExample/index.tsx
  packages/docs-gesture-handler/src/components/GestureExamples/RotationExample/index.tsx
  packages/docs-gesture-handler/src/components/GestureExamples/TapExample/index.tsx
  packages/docs-gesture-handler/src/components/Playground/index.tsx
Due: prettier --write, eslint

Bump Gesture Handler
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/yarn.lock
Due: none

Wrap children
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
Due: prettier --write, eslint

Bring back comment
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
Due: prettier --write, eslint

[Android] Guard update events to only be dispatched in ACTIVE state
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Guard update events to only be dispatched in ACTIVE state (#4332)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix CI
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
Due: prettier --write, eslint

check RNGH_USE_WORKLETS by value
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
Due: yarn format:cpp

Uncover banner
  packages/docs-gesture-handler/src/components/topBarBannerConfig.ts
Due: prettier --write, eslint

[Docs] Uncover banner (#4338)
  packages/docs-gesture-handler/src/components/topBarBannerConfig.ts
Due: prettier --write, eslint

Per-child interceptor only with sticky header
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
Due: prettier --write, eslint

Add collapsable section
  packages/docs-gesture-handler/docs/guides/testing.mdx
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Update `AGENTS.md` (#4339)
  AGENTS.md
Due: none

Remove comments
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Fix fatal crash `Cannot read property 'translationX' of undefined` when a touch event is serialized without `allTouches` (#4316)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/__tests__/utils.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Auto-disable Reanimated in tests
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
Due: prettier --write, eslint

Fix Android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix iOS
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Implement basic state machine for button
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Allow hooks to listen to handler updates and state changes
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Dispatch `press` events directly from the native side on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple
