Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:js, yarn format:android, yarn format:apple, yarn sync-architectures

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "yarn format:js",
  "packages/react-native-gesture-handler/android/**/*.kt": "yarn format:android",
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn sync-architectures"
}

Enforce max line width to 120
  packages/react-native-gesture-handler/android/package77/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/packageDeprecated/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
  packages/react-native-gesture-handler/android/spotless.gradle
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureUtils.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/HoverGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEnabledRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/FlingGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/HoverGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/LongPressGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/ManualGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/NativeGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PanGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/PinchGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/RotationGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/TapGestureHandlerEventDataBuilder.kt
Due: yarn format:android

Fix CI paths
  .github/workflows/android-build-paper.yml
  .github/workflows/ios-build-paper.yml
Due: none

Use env in iOS CI
  .github/workflows/ios-build-paper.yml
Due: none

Fix paths
  .github/workflows/check-archs-consistency.yml
Due: none

Check CIs
  .github/workflows/android-build-paper.yml
  .github/workflows/android-build.yml
  .github/workflows/check-archs-consistency.yml
  .github/workflows/close-when-stale.yml
  .github/workflows/docs-check.yml
  .github/workflows/ios-build-paper.yml
  .github/workflows/ios-build.yml
  .github/workflows/kotlin-lint.yml
  .github/workflows/macos-build.yml
  .github/workflows/main.yml
  .github/workflows/needs-more-info.yml
  .github/workflows/needs-repro.yml
  .github/workflows/platforms.yml
  .github/workflows/static-example-apps-checks.yml
  .github/workflows/static-root-checks.yml
  .github/workflows/yarn-validation.yml
Due: none

Update issue template (#3508)
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

Clenaup BasicExample
  apps/BasicExample/README.md
  apps/BasicExample/__tests__/App.test.tsx
Due: yarn format:js

Cleanup MacOSExample
  apps/MacOSExample/.eslintrc.js
  apps/MacOSExample/__tests__/App.test.tsx
Due: yarn format:js

Ignore configs in eslint
  .eslintrc.json
Due: none

Remove watchamn configs
  apps/BasicExample/.watchmanconfig
  apps/MacOSExample/.watchmanconfig
Due: none

Ignore scripts in eslint
  .eslintrc.json
Due: none

Remove Fabric Readme
  README-Fabric.md
Due: none

Cleanup package
  .eslintrc.json
  packages/react-native-gesture-handler/.gitignore
  packages/react-native-gesture-handler/e2e/web-tests/.eslintrc.js
  packages/react-native-gesture-handler/e2e/web-tests/.expo-shared/assets.json
  packages/react-native-gesture-handler/e2e/web-tests/.gitignore
  packages/react-native-gesture-handler/e2e/web-tests/App.tsx
  packages/react-native-gesture-handler/e2e/web-tests/app.json
  packages/react-native-gesture-handler/e2e/web-tests/assets/adaptive-icon.png
  packages/react-native-gesture-handler/e2e/web-tests/assets/favicon.png
  packages/react-native-gesture-handler/e2e/web-tests/assets/icon.png
  packages/react-native-gesture-handler/e2e/web-tests/assets/splash.png
  packages/react-native-gesture-handler/e2e/web-tests/babel.config.js
  packages/react-native-gesture-handler/e2e/web-tests/babel.config.web.js
  packages/react-native-gesture-handler/e2e/web-tests/components/DoubleTapTest.tsx
  packages/react-native-gesture-handler/e2e/web-tests/components/LongPressTest.tsx
  packages/react-native-gesture-handler/e2e/web-tests/components/PanTest.tsx
  packages/react-native-gesture-handler/e2e/web-tests/components/TapTest.tsx
  packages/react-native-gesture-handler/e2e/web-tests/package.json
  packages/react-native-gesture-handler/e2e/web-tests/playwright.config.ts
  packages/react-native-gesture-handler/e2e/web-tests/tests/DoubleTapTest.spec.ts
  packages/react-native-gesture-handler/e2e/web-tests/tests/LongPressTest.spec.ts
  packages/react-native-gesture-handler/e2e/web-tests/tests/PanTest.spec.ts
  packages/react-native-gesture-handler/e2e/web-tests/tests/TapTest.spec.ts
  packages/react-native-gesture-handler/e2e/web-tests/tsconfig.json
  packages/react-native-gesture-handler/e2e/web-tests/utils.ts
  packages/react-native-gesture-handler/e2e/web-tests/webpack.config.js
  packages/react-native-gesture-handler/e2e/web-tests/yarn.lock
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: yarn format:js

Add clean scripts
  apps/BasicExample/package.json
  apps/ExpoExample/package.json
  apps/MacOSExample/package.json
  package.json
  packages/react-native-gesture-handler/package.json
Due: none

Fix ref management
  src/handlers/gestures/GestureDetector/Wrap.tsx
  src/handlers/gestures/GestureDetector/index.tsx
  src/handlers/gestures/GestureDetector/useViewRefHandler.ts
Due: yarn format:js

Bring back old scripts
  .github/workflows/check-archs-consistency.yml
  .github/workflows/static-root-checks.yml
  .lintstagedrc.json
  packages/react-native-gesture-handler/package.json
Due: none

Bring change backgroundColor to buttonBackgroundColor
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: yarn format:android

Change _enabled to rootViewEnabled
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: yarn format:android

Add apple format script
  packages/react-native-gesture-handler/package.json
  scripts/format-apple.js
Due: none

Make lint staged format only changed files
  .lintstagedrc.json
Due: none

Fix strange formatting
  packages/react-native-gesture-handler/android/package77/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/packageDeprecated/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureUtils.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/LongPressGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
Due: yarn format:android

[Monorepo] Move `scripts` directory to root (#3506)
  .github/workflows/check-archs-consistency.yml
  apps/BasicExample/android/build.gradle
  apps/BasicExample/ios/BasicExample.xcodeproj/project.pbxproj
  apps/BasicExample/ios/Podfile
  apps/BasicExample/ios/Podfile.lock
  apps/MacOSExample/macos/MacOSExample.xcodeproj/project.pbxproj
  apps/MacOSExample/macos/Podfile
  apps/MacOSExample/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
  scripts/clangd-add-xcode-step.rb
  scripts/clangd-generate-xcode-metadata.sh
  scripts/codegen-check-consistency.js
  scripts/codegen-sync-archs.js
  scripts/codegen-utils.js
  scripts/format-android.js
  yarn.lock
Due: none

Update yarn.lock
  yarn.lock
Due: none

Fix CI script
  .github/workflows/ios-build-paper.yml
Due: none

Use workspace in CI
  .github/workflows/static-root-checks.yml
Due: none

init
  docs/docusaurus.config.js
  docs/package.json
  docs/src/theme/CodeBlock/highlighting-dark.js
  docs/src/theme/CodeBlock/highlighting-light.js
  docs/tsconfig.json
  docs/versioned_docs/version-1.x/getting-started.md
  docs/versioned_sidebars/version-1.x-sidebars.json
  docs/yarn.lock
Due: none

Fix another CI
  .github/workflows/check-archs-consistency.yml
Due: none

Fix CI scripts
  .github/workflows/check-archs-consistency.yml
  .github/workflows/static-root-checks.yml
Due: none

[Monorepo] Add `PAPER_ENABLED` env variable (#3510)
  .github/workflows/android-build-paper.yml
  .github/workflows/check-archs-consistency.yml
  .github/workflows/ios-build-paper.yml
  .github/workflows/static-root-checks.yml
  apps/ExpoExample/app.config.js
  apps/ExpoExample/app.json
  yarn.lock
Due: none

Fix android formatter script
  scripts/format-android.js
Due: none

Add android check for added directories
  .lintstagedrc.json
  scripts/check-android-dirs.js
Due: none

Fix format-apple script
  scripts/format-apple.js
Due: none

Remove fs
  scripts/check-android-dirs.js
Due: none

Fix apple format script
  scripts/format-apple.js
Due: none

Bump @swmansion/t-rex-ui to 1.0.0
  docs/package.json
  docs/yarn.lock
Due: none

add bash to supported langs
  docs/docusaurus.config.js
Due: none

Update to 80-rc.1
  FabricExample/android/app/src/main/java/com/fabricexample/MainApplication.kt
  FabricExample/android/build.gradle
  FabricExample/android/gradle/wrapper/gradle-wrapper.jar
  FabricExample/android/gradle/wrapper/gradle-wrapper.properties
  FabricExample/android/gradlew
  FabricExample/android/gradlew.bat
  FabricExample/package.json
  FabricExample/yarn.lock
Due: none

Clean build artifacts android
  packages/react-native-gesture-handler/package.json
Due: none
