Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

fix wrong import
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

more specific export
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

Create white lists for internal props
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/LongPressProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/ManualProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/PinchProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/RotationProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

even more specific type
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

bottom sheet
  apps/common-app/App.tsx
  apps/common-app/src/v3_api/bottom_sheet/index.tsx
Due: prettier --write, eslint

chat heads
  apps/common-app/App.tsx
  apps/common-app/src/v3_api/chat_heads/index.tsx
Due: prettier --write, eslint

hoverable icons
  apps/common-app/App.tsx
  apps/common-app/src/v3_api/hoverable_icons/index.tsx
Due: prettier --write, eslint

camera
  apps/common-app/App.tsx
  apps/common-app/src/new_api/hoverable_icons/index.tsx
  apps/common-app/src/v3_api/camera/index.tsx
Due: prettier --write, eslint

fix app
  apps/common-app/App.tsx
Due: prettier --write, eslint

Fix Pan
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

Fix Fling
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

Fix LongPress
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
Due: yarn format:apple

Fix Tap
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Introduce iOS_VERSION macro
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
Due: yarn format:apple

Bump to stable 0.82
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Mark `handlerTag` as `internal`
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint

Add `handlerTag` on web
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint

removed unused project lookup
  packages/react-native-gesture-handler/android/build.gradle
Due: none

switch to a gradle-specific syntax
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Support `react-native` 0.82 (#3699)
  apps/basic-example/android/app/src/debug/AndroidManifest.xml
  apps/basic-example/android/app/src/main/AndroidManifest.xml
  apps/basic-example/android/app/src/main/java/com/basicexample/MainApplication.kt
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/ios/BasicExample/Info.plist
  apps/basic-example/ios/Podfile
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Remove triggerAction from reset
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
Due: yarn format:apple

renamed detectors folder
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/DelegateDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
Due: prettier --write, eslint

detector index
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
Due: prettier --write, eslint

allowing delegate detector to not have a gesture specified
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/DelegateDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
Due: prettier --write, eslint

configuring relations in logic detector
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/LogicDetector.tsx
Due: prettier --write, eslint

fix typo
  packages/react-native-gesture-handler/src/v3/detectors/LogicDetector/DelegateDetector.tsx
Due: prettier --write, eslint

fix (potentially unsafe)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

safe
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

not exporting singlegesturename
  apps/basic-example/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

separate update and state change types
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

exporting touch event
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Add runOnJS
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix composed types
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useExclusive.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useRace.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useSimultaneous.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

[Android] `build.gradle` cleanup (#3741)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Fix composed types (#3744)
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useExclusive.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useRace.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useSimultaneous.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Fix typo
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Filter config (#3710)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/LongPressProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/ManualProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/PinchProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/RotationProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Switch to name
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Fix linter
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint

fix: gesture not activating due to outdated handler tag (#3578)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint
