Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Stylus w/o hover
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Drop comment
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Handle Failed state
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Extract to helper
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Revert "Remove obsolete version checks (#4284)"
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.h
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Fix tvOS build
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Add tvOS support
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Remove old versions checks
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Test prop-swap reattach across mounted detectors
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
Due: prettier --write, eslint

Do not call onPressIn
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Check for keyboard on screen
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
Due: prettier --write, eslint

[Android] Fix ConcurrentModificationException in GestureHandlerOrchestrator (#4274)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Remove old versions checks (#4287)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Move dev guard to top of useDetectorAttachmentGuard
  packages/react-native-gesture-handler/src/v3/detectors/useDetectorAttachmentGuard.ts
Due: prettier --write, eslint

Ensure no gesture is used across multiple detectors (#4285)
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useDetectorAttachmentGuard.ts
Due: prettier --write, eslint

Simplify transformations to 3x3 matrix
  apps/common-app/src/legacy/v2_api/transformations/index.tsx
  apps/common-app/src/new_api/complicated/transformations/index.tsx
Due: prettier --write, eslint

Add mdx
  packages/docs-gesture-handler/docs/guides/transformations.mdx
Due: none

Add check for det=0
  apps/common-app/src/legacy/v2_api/transformations/index.tsx
  apps/common-app/src/new_api/complicated/transformations/index.tsx
  packages/docs-gesture-handler/docs/guides/transformations.mdx
Due: prettier --write, eslint

Renames
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Convert to getters
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Trim comments
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Renames
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Trim comments
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

[Android] Handle hover in `Touchable` (#4282)
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Add coordinates to native gesture
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/eventbuilders/NativeGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

fix: remove UIPointerInteraction from the view when unbinding the hover handler
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

fix: remove UIPointerInteraction from the view when unbinding the hover handler (#4291)
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

[apple] Handle hover in `Touchable` (#4283)
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.h
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint, yarn format:apple

Improve 2nd part
  packages/docs-gesture-handler/docs/guides/transformations.mdx
Due: none

preserve SingleGestureName in gesture types
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/LongPressTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/ManualTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/PinchTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/RotationTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/singleGestureUnion.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Extract the platform-neutral arbitration core
  packages/react-native-gesture-handler/src/__tests__/GestureHandlerOrchestrator.test.ts
  packages/react-native-gesture-handler/src/handlers/gestureArbitration/GestureArbitrationTypes.ts
  packages/react-native-gesture-handler/src/handlers/gestureArbitration/GestureArbitrator.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerOrchestrator.ts
Due: prettier --write, eslint

Do not call `onPress` on buttons while dismissing keyboard (#4281)
  apps/common-app/src/new_api/tests/keyboardShouldPersistTaps/index.tsx
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Inverse
  packages/docs-gesture-handler/docs/guides/transformations.mdx
Due: none

Don't delay child pressed state in buttons
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Added API for running gesture tests
  packages/react-native-gesture-handler/src/jestUtils/JestGestureHandler.ts
  packages/react-native-gesture-handler/src/jestUtils/fireGesture.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarioTypes.ts
  packages/react-native-gesture-handler/src/jestUtils/gestureScenarios.ts
  packages/react-native-gesture-handler/src/jestUtils/index.ts
Due: prettier --write, eslint

fix(android): run ButtonViewGroup detach cleanup before super.onDetachedFromWindow()
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix(android): guard null Handler in ButtonViewGroup press animations
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Don't block JS responder in RootHelper
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android
