Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Track current pointer
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Refresh tracked pointers
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Remove semicolons
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
Due: yarn format:apple

Send touch events on VirtualDetectors
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Split expo and basic example builds
  .github/workflows/android-basic.yml
  .github/workflows/android-build.yml
  .github/workflows/ios-basic.yml
  .github/workflows/ios-build.yml
  .github/workflows/static-example-apps-checks.yml
Due: none

Fix contuinuos gestures on VirtualDetector
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

[CI] Upload application artifacts (#4378)
  .github/workflows/android-basic.yml
  .github/workflows/android-build.yml
  .github/workflows/android.yml
  .github/workflows/ios-basic.yml
  .github/workflows/ios-build.yml
  .github/workflows/ios.yml
  .github/workflows/static-example-apps-checks.yml
Due: none

[Apple] Remove trailing semicolons from `RNGHGestureRecognizerState*` macros (#4391)
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
Due: yarn format:apple

comment
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

[macOS] Fix touch events never being delivered (#4390)
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

fix: crash when mount listener fires after GestureDetector unmount (#4268)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
Due: prettier --write, eslint

Fix stale deprecation messages pointing to `Clickable`
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
Due: prettier --write, eslint

Fling touch events
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

Comments
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

[macOS] Fix `Pan` activation criteria being ignored (#4387)
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

Cancel on reset
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

[macOS] Fix `manualActivation` never blocking gesture activation (#4389)
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

[General] Fix stale deprecation messages pointing to `Clickable` (#4394)
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
Due: prettier --write, eslint

Clear isAwaiting flag
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[iOS] Fix touch events never being delivered to `VirtualDetector` handlers (#4392)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Update comment
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Rename
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

[iOS] Fix gestures attached via `VirtualGestureDetector` never recognizing continuous gestures (#4393)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

[macOS] Fix `Fling` not sending touch events and begin/end states consistently (#4395)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

[Android] Fix handlers cancelled while awaiting leaking in the orchestrator (#4402)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[General] Align `pointerType` across native and JS
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerType.h
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Tap e2e test
  .argent/flows/simple-tap-test.yaml
  apps/common-app/src/console/ConsoleModal.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/simple/tap/index.tsx
Due: prettier --write, eslint

[General] Align `pointerType` across native and JS (#4403)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerType.h
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[iOS] Add hover callbacks to Touchable
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[Android] Add hover callbacks to Touchable
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerButtonEvent.kt
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

[Docs] Document Touchable hover callbacks
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

[Web] Add hover callbacks to Touchable
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

refactor: replace makeMutable with createShareable
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

chore: fix types
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint

Run e2e tests on CI
  .github/actions/argent-server/action.yml
  .github/workflows/android-e2e.yml
  .github/workflows/android.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios.yml
Due: none

chore: clanker review
  packages/react-native-gesture-handler/src/__tests__/RuntimeBindings.test.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

chore: update reanimated api
  packages/react-native-gesture-handler/src/__tests__/runOnJSReanimatedHandlers.test.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

chore: cleanup
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

fix mock
  .yarn/patches/react-native-worklets-npm-0.9.1-5bc5b900ed.patch
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

machen
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/lastUpdateEventMap.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/lastUpdateEventMap.web.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
