Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

android whitespace
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

removed unnecessary annotation
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

useTap
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Make NativeDetector generic
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
Due: prettier --write, eslint

whitespace
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Gesture relations (#3693)
  apps/basic-example/src/NativeDetector.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/touchEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useExclusive.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useRace.ts
  packages/react-native-gesture-handler/src/v3/hooks/relations/useSimultaneous.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

delete obsolete
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Change types
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
Due: prettier --write, eslint

[Tests] Tests for relations traversal algorithm (#3701)
  .github/workflows/check-relations-traversal-algorithm.yml
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
Due: prettier --write, eslint

Fallthrough comment
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

defining registry outside of loop
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

useFling
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

useLongPress
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
Due: prettier --write, eslint

Small tap improvements
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

usePinch
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
Due: prettier --write, eslint

useRotation
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
Due: prettier --write, eslint

Change interface to type
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
Due: prettier --write, eslint

useHover
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

useManual
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
Due: prettier --write, eslint

useNative
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
Due: prettier --write, eslint

usePan
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
Due: prettier --write, eslint

Rename types
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

fixed cancel event error
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Add common props to HandlerData
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Long press default behavior
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Pan props validation
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
Due: prettier --write, eslint

remove target field
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Extract nativeEvent earlier
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/touchEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Hover change calculator
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
Due: prettier --write, eslint

Pan change calculator
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
Due: prettier --write, eslint

Pinch change calculator
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
Due: prettier --write, eslint

Rotation change calculator
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
Due: prettier --write, eslint

Extract diff calculations
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

cleaner extension function
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

removed redundant checks
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Bump expo
  apps/expo-example/package.json
  yarn.lock
Due: none

separate type without some fields
  packages/react-native-gesture-handler/src/v3/types.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Remove slider patch
  .yarn/patches/@react-native-community-slider-npm-4.5.7-658e0e58c9.patch
Due: none

Remove slider patch from common-app
  apps/common-app/package.json
Due: none

Update yarn.lock
  yarn.lock
Due: none
