Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

[docs] Add analytics and close banner btn
  packages/docs-gesture-handler/src/components/TopPromoRotator/index.tsx
  packages/docs-gesture-handler/src/components/TopPromoRotator/styles.module.css
  packages/docs-gesture-handler/src/theme/Navbar/index.js
Due: prettier --write, eslint

Simplify web logic
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Revert "Add legacy prefix"
  apps/common-app/src/legacy/release_tests/nestedText/index.tsx
  packages/react-native-gesture-handler/src/components/Text.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Add legacy prefix
  apps/common-app/src/legacy/release_tests/nestedText/index.tsx
  packages/react-native-gesture-handler/src/components/Text.tsx
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Remove old detector export
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Deprecate Pressable
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Deprecate LegacyText
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Add useCallback
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Switch to useMemo
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Remove ref from dependency array
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Add 81
  packages/react-native-gesture-handler/compatibility.json
Due: none

Fix crash
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Update packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Use stored host detector reference
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

copy keys instead of values
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

deprecate createNAtiveWrapper
  packages/react-native-gesture-handler/src/handlers/createNativeWrapper.tsx
Due: prettier --write, eslint

Update docs
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Change type to ComponentRef
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

[General] Allow gesture detector to have multiple children (#3981)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/src/findNodeHandle.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp

Add synchronized
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Revert "Export new `createNativeWrapper` (#3971)" (#4001)
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
  packages/docs-gesture-handler/docs/components/create-native-wrapper.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/react-native-gesture-handler/src/handlers/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/index.ts
  skills/gesture-handler-3-migration/SKILL.md
Due: prettier --write, eslint

Update deprecation note
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

Memoize `Text` component (#4003)
  packages/react-native-gesture-handler/src/components/Text.tsx
Due: prettier --write, eslint

[iOS] Distinguish between mouse and stylus when hovering (#3991)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

not finalising if not begun
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

unremoved fling
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

boolean logic fix
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

import legacy
  apps/common-app/src/legacy/release_tests/gesturizedPressable/testingBase.tsx
  apps/common-app/src/legacy/release_tests/nestedPressables/index.tsx
  apps/common-app/src/legacy/v2_api/pressable/index.tsx
Due: prettier --write, eslint

ios consistency
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Check for all pointers
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Import legacy pressables in examples (#4009)
  apps/common-app/src/legacy/release_tests/gesturizedPressable/testingBase.tsx
  apps/common-app/src/legacy/release_tests/nestedPressables/index.tsx
  apps/common-app/src/legacy/v2_api/pressable/index.tsx
Due: prettier --write, eslint

fix
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/FlingGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/RotationGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/TapGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

ok copilot
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Switch to for loop
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Enable exactOptionalPropertyTypes support
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/components/touchables/ExtraButtonProps.ts
  packages/react-native-gesture-handler/src/components/touchables/TouchableHighlight.tsx
  packages/react-native-gesture-handler/src/handlers/GestureHandlerEventPayload.ts
  packages/react-native-gesture-handler/src/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/handlers/gestureHandlerCommon.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
  packages/react-native-gesture-handler/src/v3/types/ReanimatedTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/tsconfig.json
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

[Android] Check all pointers in move events (#4010)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Synchronized again
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple
