Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Remove argent from CI
  .github/workflows/e2e.yml
  apps/expo-example/e2e/__tests__/all_wo_argent.test.ts
  apps/expo-example/e2e/__tests__/gestures/fling.test.ts
  apps/expo-example/e2e/__tests__/gestures/long_press.test.ts
  apps/expo-example/e2e/__tests__/gestures/pan.test.ts
  apps/expo-example/e2e/__tests__/gestures/pinch.test.ts
  apps/expo-example/e2e/__tests__/gestures/rotation.test.ts
  apps/expo-example/e2e/__tests__/gestures/tap.test.ts
  apps/expo-example/e2e/__tests__/relations/competing.test.ts
  apps/expo-example/e2e/suites/gestures/fling.ts
  apps/expo-example/e2e/suites/gestures/long_press.ts
  apps/expo-example/e2e/suites/gestures/pan.ts
  apps/expo-example/e2e/suites/gestures/pinch.ts
  apps/expo-example/e2e/suites/gestures/rotation.ts
  apps/expo-example/e2e/suites/gestures/tap.ts
  apps/expo-example/e2e/suites/relations/competing.ts
  apps/expo-example/package.json
Due: prettier --write, eslint

Do not install argent in CI
  .github/workflows/e2e.yml
Due: none

Add exclusive test
  apps/common-app/src/e2e_screens/relations/Exclusive.tsx
  apps/common-app/src/e2e_screens/utils.ts
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/all.test.ts
  apps/expo-example/e2e/__tests__/all_wo_argent.test.ts
  apps/expo-example/e2e/__tests__/relations/exclusive.test.ts
  apps/expo-example/e2e/suites/relations/exclusive.ts
Due: prettier --write, eslint

Respect reduce motion
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Respect animation duration scale
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Send cancelled from end
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Respect `prefers-reduced-motion`
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

[Android] Fix discrete gestures not triggering `onFinalize` (#4196)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add simultaneous
  apps/common-app/src/e2e_screens/relations/Simultaneous.tsx
  apps/common-app/src/e2e_screens/utils.ts
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/all.test.ts
  apps/expo-example/e2e/__tests__/all_wo_argent.test.ts
  apps/expo-example/e2e/__tests__/relations/simultaneous.test.ts
  apps/expo-example/e2e/suites/relations/simultaneous.ts
Due: prettier --write, eslint

Simplify function
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

[General] Support reduced motion/animation scale for button animations (#4197)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Update skill and docs
  packages/docs-gesture-handler/docs/components/touchable.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Update TouchableHighlight
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Update ripple
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Update ripple more
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Restore foreground
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Apply suggestions from code review
  packages/docs-gesture-handler/docs/components/touchable.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Update borderless
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Update skill and docs (#4198)
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Fix lint
  apps/common-app/src/new_api/complicated/transformations/index.tsx
Due: prettier --write, eslint

Fix retrieval and mismatched coordinate space
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Don't rely on heuristics
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Make borderless buttons borderless by default
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

[iOS] Fix handler retrieval and mismatched coordinate space (#4199)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

[Android] Make `BorderlessButton` borderless by default (#4200)
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Don't pin nightlies
  .github/workflows/publish-release.yml
Due: none

Add return condition
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

[iOS] Don't iterate to root while resolving recognizer (#4202)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

fix
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/OnJSResponderCancelListener.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix ScrollView momentum after JS responder cancellation (#4203)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/OnJSResponderCancelListener.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Release] Don't pin nightly version (#4201)
  .github/workflows/publish-release.yml
Due: none

Revert "[Release] Don't pin nightly version (#4201)"
  .github/workflows/publish-release.yml
Due: none

Revert "[Release] Don't pin nightly version" (#4204)
  .github/workflows/publish-release.yml
Due: none

Add compatibility table for release
  packages/react-native-gesture-handler/compatibility.json
Due: none

Reapply "[Release] Don't pin nightly version" (#4204)
  .github/workflows/publish-release.yml
Due: none

Fix relations
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/utils.ts
Due: prettier --write, eslint

[General] Fix relations not being applied in api V1 (#4207)
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/utils.ts
Due: prettier --write, eslint

Reapply "[Release] Don't pin nightly version" (#4204) (#4205)
  .github/workflows/publish-release.yml
Due: none
