Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[Android] Do not set explicit versions in `build.gradle` (#4248)
  packages/docs-gesture-handler/docs/fundamentals/installation.md
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/gradle.properties
Due: none

Fix ReanimatedDrawerLayout animation speed after rerender (#4470)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Fix Easing import in LongPress example (#4298)
  packages/docs-gesture-handler/static/examples/LongPressGestureBasic.js
Due: none

Derive `Pressable` pressed state from `testOnly_pressed` (#4414)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

[Android] Fix handlers cancelled while awaiting leaking in the orchestrator (#4402)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix text getting selected during gestures (#4273)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix: stop circular GestureStateManagerType import on web (#4508)
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.web.ts
Due: prettier --write, eslint

Don't dispatch orphaned touch events (#4341)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.m
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[macOS] Fix `Fling` not sending touch events and begin/end states consistently (#4395)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

fix: crash when mount listener fires after GestureDetector unmount (#4268)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
Due: prettier --write, eslint

[Web] Fix incorrect `Tap` offset (#4330)
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
Due: prettier --write, eslint

[macOS] Fix `manualActivation` never blocking gesture activation (#4389)
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

fix: remove UIPointerInteraction from the view when unbinding the hover handler (#4291)
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

[Android] Guard update events to only be dispatched in ACTIVE state (#4332)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Chore: ref forwarding to child in wrap v2 (#4385)
  packages/react-native-gesture-handler/src/__tests__/legacyWrapRef.test.tsx
  packages/react-native-gesture-handler/src/getShadowNodeFromRef.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
  packages/react-native-gesture-handler/src/hostInstance.ts
Due: prettier --write, eslint

[iOS] Fix gesture callback guarantees when view is detached mid-gesture (#4321)
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

[Web] Reset NativeViewGestureHandler config on a full config replace (#4486)
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

[Android] Don't delay child pressed state in buttons (#4296)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

feat: Adopt AGP v9 (#4263)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

[Android] Fix ConcurrentModificationException in GestureHandlerOrchestrator (#4274)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Keep ReanimatedSwipeable native handlers stable when event callbacks change (#4466)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

[macOS] Add coordinates to `Hover` events (#4304)
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

[Apple] Remove trailing semicolons from `RNGHGestureRecognizerState*` macros (#4391)
  packages/react-native-gesture-handler/apple/RNGHUIKit.h
Due: yarn format:apple

[Android] Fix basic-example `hermesc` path (#4371)
  apps/basic-example/android/app/build.gradle
Due: none

[Android | Web] Disable pointer events on hidden `Swipeable` actions container (#4192)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

[iOS] Check if `enableTrackpadTwoFingerGesture` is `nil` before applying (#4349)
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

[iOS] Move `Tap` cancelation to `dispatch_after` (#4280)
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Export `PressableEvent` type (#4324)
  packages/react-native-gesture-handler/src/components/Pressable/index.ts
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

Fix `minVelocity` props behavior (#4327)
  packages/docs-gesture-handler/docs/gesture-handlers/pan-gh.md
  packages/docs-gesture-handler/docs/gestures/pan-gesture.md
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PanGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/src/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/handlers/gestures/panGesture.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix fatal crash `Cannot read property 'translationX' of undefined` when a touch event is serialized without `allTouches` (#4316)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Reset accumulated wheel delta in web `WheelEventManager` (#4484)
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

[iOS] Keep button hit testing within its own subtree (#4495)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Reset config before update
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

[macOS] Fix touch events never being delivered (#4390)
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.m
Due: yarn format:apple

[Android] Don't let an awaiting parent handler cancel the child it is waiting for (#4476)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Don't pass dependencies to Reanimated hooks on native (#4472)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Resolve `DrawerLayoutAndroid` lazily to avoid RN deprecation warning on import (#4493)
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
Due: prettier --write, eslint

Update `Pressable` props (#4421)
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

[macOS] Fix `Pan` activation criteria being ignored (#4387)
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

Remove `opacity` from `Swipeable` action panels (#4271)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
