Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Use correct `pointerInside` value
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

ios
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

[iOS] Add `numberOfPointers` to `Native` gesture events (#4023)
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
Due: yarn format:apple

Fix borderless ripple
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

update SKILL
  skills/gesture-handler-3-migration/SKILL.md
Due: none

update docs
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

Update borderless button default config
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Update legacy borderless button
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
Due: prettier --write, eslint

update skill
  skills/gesture-handler-3-migration/SKILL.md
Due: none

cleaner android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix deprecation message for `RectButton` to reference `underlayActiveOpacity`
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Call onPressIn when e.pointerInsideis true
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Stress test example timeout cleanup
  apps/common-app/src/new_api/components/clickable_stress/index.tsx
Due: prettier --write, eslint

Colooooooors
  apps/common-app/src/common.tsx
  apps/common-app/src/new_api/components/clickable/index.tsx
Due: prettier --write, eslint

Update underlayColor description to require underlayActiveOpacity
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
Due: prettier --write, eslint

Add default values for underlayInitialOpacity and initialOpacity in Clickable component
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Remove unnecessary border styles
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Add pan offset props to PropsToFilter
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Minor adjustments
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Update onPressIn and onPressOut type definitions to include GestureEvent details
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

rephrase
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

Copilot review
  packages/docs-gesture-handler/docs/components/clickable.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Migrate StyleSheet.absoluteFillObject
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
Due: prettier --write, eslint

Migrate StyleSheet.absoluteFillObject
  apps/common-app/src/legacy/showcase/bottomSheet/index.tsx
Due: prettier --write, eslint

Migrate StyleSheet.absoluteFillObject
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Migrate StyleSheet.absoluteFillObject
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Migrate StyleSheet.absoluteFillObject
  apps/common-app/src/legacy/v2_api/bottom_sheet/index.tsx
Due: prettier --write, eslint

Migrate StyleSheet.absoluteFillObject
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
Due: prettier --write, eslint

Migrate StyleSheet.absoluteFillObject
  apps/common-app/src/legacy/recipes/scaleAndRotate/index.tsx
Due: prettier --write, eslint

Update index.tsx
  apps/common-app/src/legacy/showcase/bottomSheet/index.tsx
Due: prettier --write, eslint

remove old code after updating t=rex=ui
  packages/docs-gesture-handler/static/llms-full.txt
  packages/docs-gesture-handler/static/llms.txt
Due: none

fixes
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-event-data.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/src/components/Hero/StartScreen/index.tsx
Due: prettier --write, eslint

Update packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

note
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

hook based solution
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/utils.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Add jest preset
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

cleanup
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/mocks/module.tsx
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

ternary
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
Due: prettier --write, eslint

Fix onFinalize
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple
