Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Remove docusaurus syntax
  .cursor/skills/gesture-handler-3-migration/SKILL.md
Due: none

Add explcit migration steps
  .cursor/skills/gesture-handler-3-migration/SKILL.md
Due: none

Update types and state fields in events
  .cursor/skills/gesture-handler-3-migration/SKILL.md
Due: none

Update event types
  .cursor/skills/gesture-handler-3-migration/SKILL.md
Due: none

Update compatibility table
  packages/react-native-gesture-handler/compatibility.json
Due: none

update readme
  README.md
Due: none

Update compatibility table for Gesture Handler 3 beta (#3955)
  README.md
  packages/react-native-gesture-handler/compatibility.json
Due: none

Optimize for token count
  .cursor/skills/gesture-handler-3-migration/SKILL.md
Due: none

Move to the repository root
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Restore publishing commitlies
  .github/workflows/publish-release.yml
  scripts/release/get-version.js
Due: none

Update test
  scripts/release/__tests__/get-version.test.js
Due: none

Update test name
  scripts/release/__tests__/get-version.test.js
Due: none

Add missing semicolons and improve indentation
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Add missing semicolons and improve indentation (#3957)
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Bump to 0.84.0-rc.5
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

fix ios
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

fix android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Testing
  packages/docs-gesture-handler/docs/guides/testing.md
Due: none

State manager
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

Callbacks
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Quickstart
  packages/docs-gesture-handler/docs/guides/quickstart/index.md
Due: none

Troubleshooting
  packages/docs-gesture-handler/docs/guides/troubleshooting.md
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
Due: none

Fix callbacks flow chart
  packages/docs-gesture-handler/src/examples/CallbacksFlowCharts/GestureEventChart.jsx
Due: none

Switch to nightlies
  .github/actions/publish-npm-package/action.yml
  .github/workflows/publish-release.yml
  scripts/release/__tests__/get-version.test.js
  scripts/release/__tests__/parse-arguments.test.js
  scripts/release/get-version.js
  scripts/release/parse-arguments.js
Due: none

Publish proper nightly releases (#3956)
  .github/actions/publish-npm-package/action.yml
  .github/workflows/publish-release.yml
  scripts/release/__tests__/get-version.test.js
  scripts/release/__tests__/parse-arguments.test.js
  scripts/release/get-version.js
  scripts/release/parse-arguments.js
Due: none

Pan
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-event-data.mdx
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-manual-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/src/components/CollapsibleCode/index.tsx
Due: prettier --write, eslint

Tap
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
Due: none

more examples
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/showcase/timer/index.tsx
  apps/common-app/src/new_api/tests/nestedRootView/index.tsx
  apps/common-app/src/new_api/tests/pointerType/index.tsx
  apps/common-app/src/new_api/tests/reattaching/index.tsx
  apps/common-app/src/new_api/tests/rectButton/index.tsx
  apps/common-app/src/new_api/tests/twoFingerPan/index.tsx
  apps/common-app/src/new_api/tests/webStylesReset/index.tsx
Due: prettier --write, eslint

Fix reattaching (#3960)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Handle gestures on transparent views
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Unflatten children
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
Due: yarn format:cpp

Review
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Add LLM skill for migration to RNGH3 (#3947)
  skills/gesture-handler-3-migration/SKILL.md
Due: none

LongPress
  packages/docs-gesture-handler/docs/gestures/_examples/LongPressExample.tsx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
Due: prettier --write, eslint

Rotation
  packages/docs-gesture-handler/docs/gestures/_examples/RotationExample.tsx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
Due: prettier --write, eslint

Pinch
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
Due: none

Fling
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
Due: none

Hover
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
