Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Touchable works
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint, yarn format:apple

Touchable animation
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Fix memoization deps
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Use `-1` sentinel instead of reusing center coords
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
Due: prettier --write, eslint

Fix typo
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Pressable works
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Buttons work
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Extract to helper
  packages/react-native-gesture-handler/src/components/utils.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Change default to true
  packages/react-native-gesture-handler/src/components/utils.ts
Due: prettier --write, eslint

Handled disabled
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

USe empty object
  packages/react-native-gesture-handler/src/components/utils.ts
Due: prettier --write, eslint

[Android] Improve TalkBack support (#4222)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/StateMachine.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Use new detectors
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Use v3 detectors in `ReanimatedDrawerLayout` (#4234)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

docs: remove banner rotator
  packages/docs-gesture-handler/src/components/HandIcon/index.tsx
  packages/docs-gesture-handler/src/components/TopPromoRotator/index.tsx
  packages/docs-gesture-handler/src/components/TopPromoRotator/styles.module.css
  packages/docs-gesture-handler/src/theme/Navbar/index.js
Due: prettier --write, eslint

docs: add newline at eof
  packages/docs-gesture-handler/src/theme/Navbar/index.js
Due: none

[tvOS] Fix unpressable buttons (#4233)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/components/utils.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint, yarn format:apple

Bump to rc.3
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

docs: remove banner rotator (#4235)
  packages/docs-gesture-handler/src/components/HandIcon/index.tsx
  packages/docs-gesture-handler/src/components/TopPromoRotator/index.tsx
  packages/docs-gesture-handler/src/components/TopPromoRotator/styles.module.css
  packages/docs-gesture-handler/src/theme/Navbar/index.js
Due: prettier --write, eslint

Rename to be unique
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

Expose animatable refs for v3 touchables
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/animatableRef.ts
Due: prettier --write, eslint

Fix Android Pressable TalkBack activation
  packages/react-native-gesture-handler/src/__tests__/Pressable.accessibility.test.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Address Pressable accessibility review feedback
  packages/react-native-gesture-handler/src/__tests__/Pressable.accessibility.test.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/components/Pressable/usePressableAccessibility.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

test: cover animatable ref forwarding regressions
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
Due: prettier --write, eslint

Fix Native gesture outside cancellation default
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

docsssss
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-event-data.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/gesture-detector-functional1.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-callbacks.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-event-data.md
Due: none

Fix old docs
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-config.md
Due: none

Potential fix for pull request finding
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-callbacks.md
Due: none

Mention web
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-config.md
Due: none

[Docs] Mention `shouldCancelWhenOutside` default in `Native` on Android (#4242)
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-event-data.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/gesture-detector-functional1.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/_shared/base-gesture-event-data.md
Due: none

fix(pods): Fix invalid `react-native/../react-native` resolution for aliases (#4232)
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

Dimming view
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix freeze error
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureComposition.ts
Due: prettier --write, eslint

Make ruby functions local
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

Add nil check
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

Remove import
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Move ruby utils to module (#4245)
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
