Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Increase maximum number of tracked pointers (#3915)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.h
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Improve CollapsibleCode component
  packages/docs-gesture-handler/src/components/CollapseButton/index.tsx
  packages/docs-gesture-handler/src/components/CollapseButton/styles.module.css
  packages/docs-gesture-handler/src/components/CollapsibleCode/index.tsx
Due: prettier --write, eslint

Use CollapsibleCode
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Update variable
  packages/docs-gesture-handler/docs/fundamentals/state-manager.md
Due: none

Remove old state manager guide
  packages/docs-gesture-handler/docs/gestures/state-manager.md
Due: none

Fix details component
  packages/docs-gesture-handler/src/theme/MDXComponents/Details.js
Due: none

Remove manual guide
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step1.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step2.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step3.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step4.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step5.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step6.md
  packages/docs-gesture-handler/docs/gestures/_manual_gesture_steps/step7.md
  packages/docs-gesture-handler/docs/gestures/use-manual-gesture.mdx
  packages/docs-gesture-handler/docs/guides/manual-gestures/index.md
Due: none

Fix broken link
  packages/docs-gesture-handler/docs/gestures/_shared/base-continuous-gesture-config.md
Due: none

Remove CodeWithTypes
  packages/docs-gesture-handler/src/components/CodeWithTypes/index.tsx
  packages/docs-gesture-handler/src/components/CodeWithTypes/styles.module.css
Due: prettier --write, eslint

Move autoworkletization
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/guides/troubleshooting.md
Due: none

Update discord
  packages/docs-gesture-handler/docs/guides/troubleshooting.md
Due: none

Update autoworkletization
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Remove bold
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
Due: none

Migration guide
  packages/docs-gesture-handler/docs/guides/upgrading-to-2.md
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.md
  packages/docs-gesture-handler/src/css/overrides.css
Due: none

clean up
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

add throw
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Rename `tag` to `handlerTag` (#3916)
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/composition/useComposedGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

fix web!!!!
  packages/react-native-gesture-handler/src/v3/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Add CMakeLists.txt to package
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Add CMakeLists.txt to package (#3917)
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Add comparison
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/src/components/CodeComparison/index.tsx
  packages/docs-gesture-handler/src/css/overrides.css
  packages/docs-gesture-handler/src/hooks/useFormattedCode.tsx
Due: prettier --write, eslint

Responsivness
  packages/docs-gesture-handler/src/css/overrides.css
Due: none

Merge 2 steps
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step1.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step2.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step3.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step4.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step5.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step6.md
  packages/docs-gesture-handler/docs/guides/quickstart/index.md
Due: none

Better phrasing
  packages/docs-gesture-handler/docs/guides/quickstart/index.md
Due: none

Explain SharedValue earlier
  packages/docs-gesture-handler/docs/guides/quickstart/index.md
Due: none

Link to reanimated
  packages/docs-gesture-handler/docs/guides/quickstart/index.md
Due: none

split camera
  apps/common-app/src/new_api/complicated/camera/capture.tsx
  apps/common-app/src/new_api/complicated/camera/filters.tsx
  apps/common-app/src/new_api/complicated/camera/index.tsx
Due: prettier --write, eslint

longpress success color indication
  apps/common-app/src/new_api/simple/longPress/index.tsx
Due: prettier --write, eslint

remove react prefix
  apps/common-app/App.tsx
Due: prettier --write, eslint

fix deprecated
  apps/common-app/src/new_api/complicated/chat_heads/index.tsx
Due: prettier --write, eslint

overhaul mousebuttons
  apps/common-app/src/new_api/hover_mouse/mouse_buttons/index.tsx
Due: prettier --write, eslint

common styles
  apps/common-app/src/common.tsx
  apps/common-app/src/new_api/complicated/lock/index.tsx
  apps/common-app/src/new_api/complicated/velocity_test/index.tsx
  apps/common-app/src/new_api/hover_mouse/hover/index.tsx
  apps/common-app/src/new_api/hover_mouse/hoverable_icons/index.tsx
  apps/common-app/src/new_api/showcase/animated/index.tsx
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
  apps/common-app/src/new_api/showcase/nested_text/nested_text.tsx
  apps/common-app/src/new_api/showcase/overlap/index.tsx
  apps/common-app/src/new_api/showcase/shared_value/index.tsx
  apps/common-app/src/new_api/showcase/svg/index.tsx
  apps/common-app/src/new_api/simple/fling/index.tsx
  apps/common-app/src/new_api/simple/hover/index.tsx
  apps/common-app/src/new_api/simple/longPress/index.tsx
  apps/common-app/src/new_api/simple/pan/index.tsx
  apps/common-app/src/new_api/simple/pinch/index.tsx
  apps/common-app/src/new_api/simple/rotation/index.tsx
  apps/common-app/src/new_api/simple/tap/index.tsx
Due: prettier --write, eslint

simplify animated example
  apps/common-app/src/new_api/showcase/animated/index.tsx
Due: prettier --write, eslint

fix header styling
  apps/common-app/src/common.tsx
Due: prettier --write, eslint

fix typo
  apps/common-app/src/new_api/complicated/lock/index.tsx
Due: prettier --write, eslint

Revert "merge"
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

temporary commit
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/src/v3/components/Pressable/utils.ts
Due: prettier --write, eslint, yarn format:cpp

legacy
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

docs: remove sorn25 banner
  README.md
Due: none

fix export
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint
