Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Fix PlatformConstants fallback for RN 0.81 compatibility
  package.json
  packages/react-native-gesture-handler/src/PlatformConstants.ts
  yarn.lock
Due: prettier --write, eslint

seems to work
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/web/tools/InteractionManager.ts
Due: prettier --write, eslint

Update how hooks are used
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

typing
  packages/react-native-gesture-handler/src/web/tools/InteractionManager.ts
Due: prettier --write, eslint

v2 compatiblity
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/InteractionManager.ts
Due: prettier --write, eslint

explicitly accepting null
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

fixed
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[Web] Separate Reanimated from JS (#3683)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

Add Reanimated to Pan
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/types.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

passing helper function directly
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
Due: prettier --write, eslint

Fix type
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Add SharedValue wrapper to other gestures
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

Add comments
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Move assertion to utils
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Bump to rc.3
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Change type name to only T
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Simplify Exclude
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

simpler check
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Improve checks
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
Due: prettier --write, eslint

simpler check
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Change variable names
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
Due: prettier --write, eslint

wip
  .github/workflows/ios-build.yml
Due: none

Add cloneConfig to other gestures
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Rename Props to Properties
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
Due: prettier --write, eslint

Swap types
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Add eslint disable
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Remove one eslint disable
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

interaction manager is not a singleton
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix styling
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Typed gesture hooks (#3706)
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

moved from update to set
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add default to require
  apps/basic-example/metro.config.js
  apps/expo-example/metro.config.js
  yarn.lock
Due: none

Update `metro.config.js` in example apps (#3718)
  apps/basic-example/metro.config.js
  apps/expo-example/metro.config.js
  yarn.lock
Due: none

resolved workaround
  packages/react-native-gesture-handler/src/v3/NativeDetector/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
Due: prettier --write, eslint

wip
  .github/workflows/ios-build-paper.yml
Due: none

Fix relations old api (#3715)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

apply final suggestions
  packages/react-native-gesture-handler/src/web/tools/InteractionManager.ts
Due: prettier --write, eslint

[Web] Gesture relations (#3713)
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/InteractionManager.ts
Due: prettier --write, eslint

empty set array
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
