Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Deprecate events and payloads
  packages/react-native-gesture-handler/src/handlers/GestureHandlerEventPayload.ts
  packages/react-native-gesture-handler/src/handlers/gestureHandlerTypesCompat.ts
  packages/react-native-gesture-handler/src/handlers/gestures/forceTouchGesture.ts
Due: prettier --write, eslint

fix typo
  packages/react-native-gesture-handler/src/handlers/gestureHandlerTypesCompat.ts
Due: prettier --write, eslint

Deprecate `ForceTouch` gesture (#3550)
  packages/docs-gesture-handler/docs/gestures/force-touch-gesture.md
  packages/react-native-gesture-handler/src/handlers/GestureHandlerEventPayload.ts
  packages/react-native-gesture-handler/src/handlers/gestureHandlerTypesCompat.ts
  packages/react-native-gesture-handler/src/handlers/gestures/forceTouchGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
Due: prettier --write, eslint

update version
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

bump podfiles
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
Due: none

remove invalid ref prop
  apps/common-app/src/release_tests/combo/index.tsx
Due: prettier --write, eslint

Fix combo example crashing. (#3587)
  apps/common-app/src/release_tests/combo/index.tsx
Due: prettier --write, eslint

Release 2.27.0 (#3586)
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Release 2.27.1
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

bump versions
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
Due: none

revert "fix"
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Release 2.27.1 (#3589)
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Commit generated files automatically
  scripts/codegen-utils.js
Due: none

Fix `GestureDetector` on `Text`
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Add comment
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Fix paper build
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

remove unnecessary todo
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

remove invalid dep array dep
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Add check for `reactTag`
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Set `userInteractionEnabled` on `recognizerView`
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Automatically commit generated schema files (#3590)
  scripts/codegen-utils.js
Due: none

Remove all `Hammer.JS` usages & references (#3229)
  packages/docs-gesture-handler/docs/fundamentals/installation.md
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/EnableNewWebImplementation.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/web/Gestures.ts
  packages/react-native-gesture-handler/src/web_hammer/DiscreteGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/DraggingGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/Errors.ts
  packages/react-native-gesture-handler/src/web_hammer/FlingGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/GestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/IndiscreteGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/NodeManager.ts
  packages/react-native-gesture-handler/src/web_hammer/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/PressGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/RotationGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web_hammer/constants.ts
  packages/react-native-gesture-handler/src/web_hammer/utils.ts
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

More cleanup v2
  apps/rgh-example/package.json
  packages/react-gesture-handler/jest.config.js
  packages/react-gesture-handler/package.json
  packages/react-gesture-handler/src/ActionType.ts
  packages/react-gesture-handler/src/handlers/customDirectEventTypes.web.ts
  packages/react-gesture-handler/src/handlers/gestureHandlerTypesCompat.ts
  packages/react-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-gesture-handler/src/handlers/gestures/GestureDetector/needsToReattach.ts
  packages/react-gesture-handler/src/handlers/gestures/GestureDetector/types.ts
  packages/react-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
  packages/react-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-gesture-handler/src/handlers/gestures/eventReceiver.ts
  packages/react-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-gesture-handler/src/handlers/utils.ts
  packages/react-gesture-handler/src/index.ts
  packages/react-gesture-handler/src/utils.ts
  packages/react-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Remove jest utils
  packages/react-gesture-handler/.gitignore
  packages/react-gesture-handler/babel.config.js
  packages/react-gesture-handler/jest-utils/package.json
  packages/react-gesture-handler/jest.config.js
  packages/react-gesture-handler/jestSetup.js
Due: none

Update android
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
Due: none

Update ios
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Bump Reanimated
  apps/basic-example/Gemfile.lock
  apps/basic-example/babel.config.js
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/src/HomeScreen.tsx
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/common/GestureHandlerStateManager.kt
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/OnLoad.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/android/src/main/jni/cpp-adapter.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerStateManager.h
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.android.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
  packages/react-native-gesture-handler/src/init.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Rename to `_setGestureStateSync`
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint, yarn format:apple

Renames: - `setGestureState` -> `setGestureState_DEPRECATED` (JSI injected name stays the same for compatibility) - `_setGestureStateNew` -> `_setGestureStateModern`
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint, yarn format:apple

Prefix with underscore
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
Due: prettier --write, eslint

Extract runtime decoration to shared code
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: node scripts/check-rn-versions.js, yarn format:apple

Decorate UI runtime lazily
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Use Reanimated 4 beta
  apps/basic-example/babel.config.js
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/src/HomeScreen.tsx
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Use non-deprecated method
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Make state manager work also on JS
  packages/react-native-gesture-handler/src/handlers/gestures/gestureStateManager.ts
Due: prettier --write, eslint

Format c++
  packages/react-native-gesture-handler/android/src/main/jni/OnLoad.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: none

Fix header
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: none

Don't format build folders
  .lintstagedrc.json
  scripts/format-cpp.js
Due: none

Expose `_setGestureStateAsync` to JS runtime
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/RuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/RuntimeDecorator.h
Due: yarn format:apple

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
