Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Fix index
  packages/react-native-gesture-handler/src/v3/components/index.ts
Due: prettier --write, eslint

Split component and types
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
  packages/react-native-gesture-handler/src/v3/components/index.ts
Due: prettier --write, eslint

mock
  packages/react-native-gesture-handler/src/mocks/module.tsx
Due: prettier --write, eslint

update
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

Bump to rc.1
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Add presets
  apps/common-app/src/new_api/components/clickable/index.tsx
  apps/common-app/src/new_api/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Update gitignore
  .gitignore
Due: none

Renames
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Remove preset
  apps/common-app/src/new_api/components/clickable/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Ripple
  apps/common-app/src/new_api/components/clickable/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
Due: prettier --write, eslint

Example
  apps/common-app/src/new_api/components/clickable/index.tsx
Due: prettier --write, eslint

Rename in example
  apps/common-app/src/new_api/components/clickable/index.tsx
Due: prettier --write, eslint

Opacity fix
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
Due: prettier --write, eslint

JSDocs
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
Due: prettier --write, eslint

Vibe stress test
  apps/common-app/src/new_api/components/clickable_stress/index.tsx
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

First refactor
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Second optimization
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Clear blocking relations
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Clear blocking relations in reset
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Clear blocking relations on drop (#4020)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerInteractionManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Change props
  apps/common-app/src/new_api/components/clickable/index.tsx
  apps/common-app/src/new_api/components/clickable_stress/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

broken links
  packages/docs-gesture-handler/docs/fundamentals/introduction.md
  packages/docs-gesture-handler/docs/guides/troubleshooting.mdx
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/redirects.json
Due: none

set badge colors
  packages/docs-gesture-handler/src/css/colors.css
Due: none

Bring back use callback
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Tests
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
Due: prettier --write, eslint

Reset longpress outside of if
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
Due: prettier --write, eslint

Easier stress test
  apps/common-app/src/new_api/components/clickable_stress/index.tsx
Due: prettier --write, eslint

Deprecate old buttons
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Update SKILL
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Add onPressIn and onPressOut
  apps/common-app/src/new_api/components/clickable/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
Due: prettier --write, eslint

Docs
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/components/clickable.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Add numberOfPointers
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
Due: yarn format:apple

web
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Revert changes in button
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update hover
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Format
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
Due: yarn format:apple

fix android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
