Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[Docs] Add compatibility table for release (#4206)
  packages/react-native-gesture-handler/compatibility.json
Due: none

Release v3.0.0
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Update hover example name
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

Update StateManager example
  apps/common-app/src/new_api/showcase/state_manager/index.tsx
Due: prettier --write, eslint

Update SharedValue example
  apps/common-app/src/new_api/showcase/shared_value/index.tsx
Due: prettier --write, eslint

Fix wrong coordinate space
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Update banners in readme
  README.md
Due: none

Fix Android detector module id reapply crash
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix Android pinch ending after pointer lift
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/PinchGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add more complex transformations example (#3124)
  apps/common-app/src/new_api/complicated/transformations/index.tsx
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

Fix Android Pressable crash with Reanimated animations (#4214)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Documentation fixes
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Competing.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Exclusive.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/Block.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/RequireToFail.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/SimultaneousWith.tsx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/gestures/_examples/LongPressExample.tsx
  packages/docs-gesture-handler/docs/gestures/_examples/RotationExample.tsx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
Due: prettier --write, eslint

Fix wrong reported number of pointers on android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Web] Fix wrong coordinate space (#4209)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Update banners in readme (#4212)
  README.md
Due: none

Update readme banner links
  README.md
Due: none

Update readme banner links (#4219)
  README.md
Due: none

Fix hover events recording gestures other than hover
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Docs] Small documentation fixes (#4217)
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Competing.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/hooks/Exclusive.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/Block.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/RequireToFail.tsx
  packages/docs-gesture-handler/docs/fundamentals/_examples/props/SimultaneousWith.tsx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/gestures/_examples/LongPressExample.tsx
  packages/docs-gesture-handler/docs/gestures/_examples/RotationExample.tsx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
Due: prettier --write, eslint

Remove dispatchesReanimatedEvent from initial config
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Improve talkback support
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/StateMachine.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

[Android] Fix hover events recording gestures other than `HoverGestureHandler` (#4220)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix wrong reported number of pointers (#4218)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove unused method
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
Due: yarn format:apple

Remove `dispatchesReanimatedEvent` from initial config (#4221)
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Update examples (#4208)
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/showcase/shared_value/index.tsx
  apps/common-app/src/new_api/showcase/state_manager/index.tsx
Due: prettier --write, eslint

Bump to 56
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Add constraints
  package.json
  yarn.config.cjs
  yarn.lock
Due: none

Remove old xcode version from CI
  .github/workflows/ios-build.yml
Due: none

Copilot review
  apps/common-app/package.json
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
  apps/macos-example/package.json
  package.json
  yarn.lock
Due: prettier --write, eslint

Revert "Remove old xcode version from CI"
  .github/workflows/ios-build.yml
Due: none

Use newer xcode
  .github/workflows/ios-build.yml
Due: none

Change macos machine
  .github/workflows/ios-build.yml
Due: none

[iOS] Remove unused detector method (#4226)
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
Due: yarn format:apple

Bump `expo` to stable 56 (#4227)
  .github/workflows/ios-build.yml
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Fix compilation error
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

[tvOS] Fix build error (#4228)
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

pods: Fix `react-native/../react-native` resolution failure
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
