Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

simple
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/simple/fling/index.tsx
  apps/common-app/src/new_api/simple/hover/index.tsx
  apps/common-app/src/new_api/simple/longPress/index.tsx
  apps/common-app/src/new_api/simple/pan/index.tsx
  apps/common-app/src/new_api/simple/pinch/index.tsx
  apps/common-app/src/new_api/simple/rotation/index.tsx
  apps/common-app/src/new_api/simple/tap/index.tsx
Due: prettier --write, eslint

shared value
  apps/common-app/src/common.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/v3_api/shared_value/index.tsx
Due: prettier --write, eslint

mouse buttons
  apps/common-app/src/common/empty/index.tsx
  apps/common-app/src/legacy/empty/EmptyExample.tsx
  apps/common-app/src/legacy/index.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/v3_api/mouse_buttons/index.tsx
Due: prettier --write, eslint

stylus data
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/v3_api/stylus_data/index.tsx
Due: prettier --write, eslint

context menu
  apps/common-app/src/new_api/components/scrollview/index.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/platform_specific/context_menu/index.tsx
  apps/common-app/src/new_api/platform_specific/stylus_data/index.tsx
Due: prettier --write, eslint

animated card
  apps/common-app/src/new_api/index.tsx
Due: prettier --write, eslint

animated
  apps/common-app/src/new_api/v3_api/animated/index.tsx
Due: prettier --write, eslint

common assets
  apps/common-app/src/common_assets/AnimatedCameraView/AnimatedCameraView.macos.tsx
  apps/common-app/src/common_assets/AnimatedCameraView/AnimatedCameraView.tsx
  apps/common-app/src/common_assets/hoverable_icons/freeze.png
  apps/common-app/src/common_assets/hoverable_icons/gh.png
  apps/common-app/src/common_assets/hoverable_icons/rea.png
  apps/common-app/src/common_assets/hoverable_icons/screens.png
  apps/common-app/src/common_assets/hoverable_icons/svg.png
  apps/common-app/src/empty/index.tsx
  apps/common-app/src/legacy/index.tsx
  apps/common-app/src/legacy/release_tests/StylusData/index.tsx
  apps/common-app/src/legacy/v2_api/camera/index.tsx
  apps/common-app/src/legacy/v2_api/hoverable_icons/index.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/platform_specific/stylus_data/index.tsx
  apps/common-app/src/new_api/v3_api/camera/index.tsx
  apps/common-app/src/new_api/v3_api/hoverable_icons/index.tsx
Due: prettier --write, eslint

reorg
  apps/common-app/src/new_api/complicated/camera/index.tsx
  apps/common-app/src/new_api/complicated/chat_heads/index.tsx
  apps/common-app/src/new_api/complicated/lock/index.tsx
  apps/common-app/src/new_api/complicated/velocity_test/index.tsx
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/platform_specific/hover/index.tsx
  apps/common-app/src/new_api/platform_specific/hoverable_icons/index.tsx
  apps/common-app/src/new_api/platform_specific/mouse_buttons/index.tsx
  apps/common-app/src/new_api/showcase/animated/index.tsx
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
  apps/common-app/src/new_api/showcase/nested_text/nested_text.tsx
  apps/common-app/src/new_api/showcase/overlap/index.tsx
  apps/common-app/src/new_api/showcase/shared_value/index.tsx
  apps/common-app/src/new_api/showcase/svg/index.tsx
Due: prettier --write, eslint

fix overlap
  apps/common-app/src/new_api/showcase/overlap/index.tsx
Due: prettier --write, eslint

final styling
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/platform_specific/context_menu/index.tsx
  apps/common-app/src/new_api/platform_specific/hover/index.tsx
Due: prettier --write, eslint

fix
  apps/common-app/src/new_api/scroll/index.tsx
Due: prettier --write, eslint

cancel gesture outside the view bounds
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ScrollGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

split demos
  apps/common-app/src/new_api/scroll/BottomSheet.tsx
  apps/common-app/src/new_api/scroll/HorizontalScrollView.tsx
  apps/common-app/src/new_api/scroll/ScrollBox.tsx
  apps/common-app/src/new_api/scroll/index.tsx
Due: prettier --write, eslint

Remove useless casts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Revert "Change direction type"
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
Due: prettier --write, eslint

Remove PanHandlerData
  packages/docs-gesture-handler/docs/hooks/use-pan-gesture.md
Due: none

Use correct HandlerData
  packages/docs-gesture-handler/docs/hooks/_shared/base-continuous-gesture-callbacks.mdx
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-callbacks.mdx
  packages/docs-gesture-handler/docs/hooks/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-manual-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/hooks/use-tap-gesture.mdx
Due: none

Revert "Change direction type" (#3876)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
Due: prettier --write, eslint

Initial implementation
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Other useEffect
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Bring back initial attach
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Remove types
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

Change `runCallback` types (#3860)
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Remap prop
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
Due: prettier --write, eslint

Remove console.log
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
Due: prettier --write, eslint

ReanimatedDrawerLayout: fix buttons not receiving onPress (#3832)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

[Web] Fix press out (#3833)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

[android] fix scroll actions interpreted as touch (#3850)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[iOS] Fix pan not triggering `onFinalize` when blocked (#3849)
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

[iOS] Fix `onFinalize` callbacks on iOS 26 (#3855)
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

[General] Change nightly version name (#3862)
  scripts/release/set-package-version.js
Due: none

Support `react-native` 0.83 (#3822)
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/tsconfig.json
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Change `hoverEffect` to `effect` (#3878)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
Due: prettier --write, eslint

Switch to maybeUpdateEnabled
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

state manager
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
  packages/react-native-gesture-handler/src/v3/gestureStateManager.web.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

removed comment
  packages/react-native-gesture-handler/src/v3/gestureStateManager.ts
Due: prettier --write, eslint

Little simplification
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

Restore `handlerTag` to events
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint

[General] Restore `handlerTag` to events (#3881)
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint
