Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

fixes
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/handlers/hitSlop.ts
  packages/react-native-gesture-handler/src/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint, yarn format:apple

szpont web
  packages/react-native-gesture-handler/src/handlers/gestures/installUIRuntimeBindings.ts
  packages/react-native-gesture-handler/src/handlers/gestures/installUIRuntimeBindings.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/lastUpdateEventMap.web.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

[Android] Add hover callbacks to Touchable
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerButtonEvent.kt
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

[Web] Add hover callbacks to Touchable
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

[iOS] Add hover callbacks to Touchable
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[Docs] Document Touchable hover callbacks
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

chore: deslop
  packages/react-native-gesture-handler/src/handlers/gestures/installUIRuntimeBindings.web.ts
Due: prettier --write, eslint

fix: imports
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

[iOS] Add hover callbacks to Touchable (#4397)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[Android] Add hover callbacks to Touchable (#4396)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerButtonEvent.kt
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

[Web] Add hover callbacks to Touchable (#4398)
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

[Docs] Document Touchable hover callbacks (#4399)
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

chore: update deprecated Reanimated API use with Worklets (#4407)
  .yarn/patches/react-native-worklets-npm-0.9.1-5bc5b900ed.patch
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/__tests__/runOnJSReanimatedHandlers.test.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

refactor: replace makeMutable with createShareable (#4406)
  packages/react-native-gesture-handler/src/__tests__/RuntimeBindings.test.ts
  packages/react-native-gesture-handler/src/handlers/gestures/installUIRuntimeBindings.ts
  packages/react-native-gesture-handler/src/handlers/gestures/installUIRuntimeBindings.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/lastUpdateEventMap.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/lastUpdateEventMap.web.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

downgrade worklets
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
Due: none

yarn.lock
  yarn.lock
Due: none

[macOS] Downgrade `react-native-worklets` (#4410)
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  yarn.lock
Due: none

Pressable with Touchable
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/PressableWithTouchable.tsx
  packages/react-native-gesture-handler/src/v3/components/StatefulPressable.tsx
Due: prettier --write, eslint

unvibe comments
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
Due: prettier --write, eslint

typo
  packages/react-native-gesture-handler/src/v3/components/StatefulPressable.tsx
Due: prettier --write, eslint

Review + retention offset
  packages/react-native-gesture-handler/src/v3/components/PressableWithTouchable.tsx
Due: prettier --write, eslint

Delay
  packages/react-native-gesture-handler/src/v3/components/PressableWithTouchable.tsx
Due: prettier --write, eslint

Rename
  packages/react-native-gesture-handler/src/v3/components/StatefulPressable.tsx
Due: prettier --write, eslint

Don't use ref
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

add fallback for updateGestureHandlerConfig
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

fix ciągła integracja
  packages/react-native-gesture-handler/src/__tests__/hitSlop.test.ts
  packages/react-native-gesture-handler/src/__tests__/hitSlopSharedValue.test.ts
Due: prettier --write, eslint

Bump to stable 87
  .yarn/patches/expo-modules-core-npm-57.0.10-1d55439aaa.patch
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/app.config.js
  apps/expo-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js

fix null hitSlop hanlding and optimize uniform hitSlop values transfer
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/src/__tests__/hitSlop.test.ts
  packages/react-native-gesture-handler/src/__tests__/hitSlopSharedValue.test.ts
  packages/react-native-gesture-handler/src/__tests__/hitSlopWiring.test.ts
  packages/react-native-gesture-handler/src/handlers/hitSlop.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Move hitSlop normalization to JS (#4388)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/__tests__/hitSlop.test.ts
  packages/react-native-gesture-handler/src/__tests__/hitSlopSharedValue.test.ts
  packages/react-native-gesture-handler/src/__tests__/hitSlopWiring.test.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/handlers/hitSlop.ts
  packages/react-native-gesture-handler/src/handlers/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Pin nightlies
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js

macos podfile.lock
  apps/macos-example/macos/Podfile.lock
Due: none

Bump to React Native 0.87 (#4310)
  .yarn/patches/expo-modules-core-npm-57.0.10-1d55439aaa.patch
  .yarn/patches/react-native-worklets-npm-0.12.0-nightly-20260810-fb9cb5596-f08a72b88e.patch
  .yarn/patches/react-native-worklets-npm-0.9.1-5bc5b900ed.patch
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/build.gradle
  apps/basic-example/android/gradle.properties
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/ios/BasicExample/PrivacyInfo.xcprivacy
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/src/Navigator.tsx
  apps/basic-example/tsconfig.json
  apps/common-app/package.json
  apps/common-app/src/ListWithHeader/ListWithHeader.tsx
  apps/common-app/src/legacy/recipes/panAndScroll/index.tsx
  apps/common-app/src/legacy/recipes/scaleAndRotate/index.tsx
  apps/common-app/src/legacy/release_tests/combo/index.tsx
  apps/common-app/src/legacy/release_tests/nestedFling/index.tsx
  apps/common-app/src/legacy/release_tests/touchables/index.tsx
  apps/common-app/src/legacy/showcase/bottomSheet/index.tsx
  apps/common-app/src/legacy/v2_api/calculator/index.tsx
  apps/common-app/src/new_api/components/scrollview/index.tsx
  apps/common-app/src/new_api/showcase/overlap/index.tsx
  apps/common-app/tsconfig.json
  apps/expo-example/app.config.js
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  package.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableOpacity.tsx
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

fix: pr review
  packages/react-native-gesture-handler/android/build.gradle
Due: none

feat: adopt AGP9 with backward compat
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/gradle/wrapper/gradle-wrapper.properties
Due: none

Revert wrapper change
  packages/react-native-gesture-handler/android/gradle/wrapper/gradle-wrapper.properties
Due: none

feat: Adopt AGP v9 (#4263)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Hover delay cancellation
  packages/react-native-gesture-handler/src/v3/components/PressableWithTouchable.tsx
Due: prettier --write, eslint

cursor
  packages/react-native-gesture-handler/src/v3/components/PressableWithTouchable.tsx
  packages/react-native-gesture-handler/src/v3/components/pointerStyle.ts
  packages/react-native-gesture-handler/src/v3/components/pointerStyle.web.ts
Due: prettier --write, eslint

[Android] Skip native detector detach when the registry is missing
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android
