Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Only overwrite ref if the dropped handler didn't change
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Fix GestureDetector becoming unresponsive after display:none toggle (New Arch)
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Only use fix for old api
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

check against explicit value
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

[General] Only overwrite ref if the dropped handler didn't change (#3984)
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Fix GestureDetector unresponsive after display:none toggle (New Arch) (#3964)
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Platform circles
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/plugins/platforms-circles.js
  packages/docs-gesture-handler/src/css/index.css
  packages/docs-gesture-handler/src/css/toc.css
  packages/docs-gesture-handler/yarn.lock
Due: none

Change android color
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

two finger trackpad web
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
Due: none

fix the other issue
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Make badges case insensitive
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

[docs] Redirects (#3976)
  packages/docs-gesture-handler/docs/legacy-gestures/_category_.json
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-callbacks.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/base-gesture-event-data.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/gesture-detector-functional1.md
  packages/docs-gesture-handler/docs/legacy-gestures/_shared/v2-info.md
  packages/docs-gesture-handler/docs/legacy-gestures/composed-gestures.md
  packages/docs-gesture-handler/docs/legacy-gestures/fling-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/force-touch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture-composition.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture-detector.md
  packages/docs-gesture-handler/docs/legacy-gestures/gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/hover-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/long-press-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/manual-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/native-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pan-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/rotation-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/state-manager.md
  packages/docs-gesture-handler/docs/legacy-gestures/tap-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/touch-events.md
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/redirects.json
  packages/docs-gesture-handler/yarn.lock
Due: none

[iOS] Add wrapper for `handleGesture:fromReset:` (#3983)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

correct type
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Update compatibility table
  packages/react-native-gesture-handler/compatibility.json
Due: none

[docs] Add platform badges (#3975)
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/src/components/HeaderWithBadge/index.tsx
Due: prettier --write, eslint

Support React Native 0.84 (#3912)
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/BasicExample/Info.plist
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/compatibility.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js, yarn format:apple

List all events
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
Due: prettier --write, eslint

Change handler reference to weak pointer to prevent memleaks
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

Add ExtendedData to VirtualDetector
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
Due: prettier --write, eslint

Default values
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
Due: prettier --write, eslint

Change handler reference to weak pointer to prevent memleaks (#3987)
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

Update babel config
  packages/react-native-gesture-handler/babel.config.js
Due: none

Update babel config again
  packages/react-native-gesture-handler/babel.config.js
Due: none

Fix failing `Jest` CI (#3988)
  packages/react-native-gesture-handler/babel.config.js
Due: none

Change mapping
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Share mouseButton
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/mouse-button.mdx
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
Due: none

Update packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

cleanup after merge
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Update packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

supertype
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

update name
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Default values
  apps/common-app/src/new_api/complicated/velocity_test/index.tsx
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/PinchTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/RotationTypes.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/index.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint

Copilot review
  packages/docs-gesture-handler/docs/components/reanimated-drawer-layout.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/mouse-button.mdx
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
Due: none

Remove enableContextMenu
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
Due: none

Relations props
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

Mention other props
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
