Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Bump typescript
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/tsconfig.json
  apps/common-app/package.json
  apps/common-app/tsconfig.json
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: node scripts/check-rn-versions.js

fix calling stale hooks after rerender
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

Add in-app console viewer
  apps/common-app/App.tsx
  apps/common-app/index.ts
  apps/common-app/src/console/ConsoleLogSheet.tsx
  apps/common-app/src/console/consoleLogs.ts
  apps/common-app/src/console/index.ts
  apps/common-app/src/console/reactNativeLogBox.ts
  apps/common-app/src/console/reactNativeLogBox.web.ts
  apps/common-app/src/new_api/complicated/camera/index.tsx
  apps/common-app/src/new_api/components/swipeable/AppleStyleSwipeableRow.tsx
  apps/common-app/src/new_api/components/swipeable/index.tsx
Due: prettier --write, eslint

enable beginning another stream after previous gesture ended
  packages/react-native-gesture-handler/src/__tests__/gestureController.test.tsx
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

Fix bottom sheet example
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
Due: prettier --write, eslint

add docs
  packages/docs-gesture-handler/docs/guides/testing.mdx
Due: none

Modal instead of bottom sheet
  apps/common-app/App.tsx
  apps/common-app/src/console/ConsoleLogSheet.tsx
  apps/common-app/src/console/ConsoleModal.tsx
  apps/common-app/src/console/index.ts
Due: prettier --write, eslint

[PoC] Extract CALLBACK_TYPE to a standalone module
  packages/react-native-gesture-handler/src/CallbackType.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

[Native] Add `delaysChildPressedState` to native gesture (#4308)
  packages/docs-gesture-handler/docs/gestures/use-native-gesture.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/NativeTypes.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[PoC] Add SharedValue config-update proof screen to basic-example
  apps/basic-example/src/App.tsx
  apps/basic-example/src/SharedValueProof.tsx
Due: prettier --write, eslint

[PoC] Stage D2: react-gesture-handler web package + Vite proof app
  .claude/launch.json
  apps/web-poc/index.html
  apps/web-poc/package.json
  apps/web-poc/src/main.tsx
  apps/web-poc/vite.config.mts
  package.json
  packages/react-gesture-handler/package.json
  packages/react-gesture-handler/src/HostGestureDetector.tsx
  packages/react-gesture-handler/src/WebModule.ts
  packages/react-gesture-handler/src/Wrap.tsx
  packages/react-gesture-handler/src/binding.ts
  packages/react-gesture-handler/src/gestureStateManager.ts
  packages/react-gesture-handler/src/index.ts
  packages/react-gesture-handler/src/useNativeGestureRole.ts
  packages/react-gesture-handler/tsconfig.json
  yarn.lock
Due: prettier --write, eslint

Add try catch
  apps/common-app/src/console/reactNativeLogBox.ts
Due: prettier --write, eslint

Use SV
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
Due: prettier --write, eslint

Add example search
  apps/common-app/App.tsx
Due: prettier --write, eslint

Add testid
  apps/common-app/App.tsx
Due: prettier --write, eslint

Potential fix for pull request finding
  apps/common-app/App.tsx
Due: prettier --write, eslint

[PoC] Add __DEV__ port validation + two-port conformance test
  apps/basic-example/ios/Podfile.lock
  packages/gesture-handler-core/src/createGestureHandlerAPI.tsx
  packages/react-native-gesture-handler/src/__tests__/coreFactory.test.tsx
Due: prettier --write, eslint

[PoC] Fix RNW web regressions found by manual testing
  packages/gesture-handler-core/src/createGestureHandlerAPI.tsx
  packages/gesture-handler-dom-engine/src/findNodeHandle.ts
Due: prettier --write, eslint

Update apps/common-app/src/console/consoleLogs.ts
  apps/common-app/src/console/consoleLogs.ts
Due: prettier --write, eslint

Three dots
  apps/common-app/src/console/consoleLogs.ts
Due: prettier --write, eslint

Bump TypeScript to 6.0.3 (#4311)
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/tsconfig.json
  apps/common-app/package.json
  apps/common-app/tsconfig.json
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Explicit interceptor install
  apps/common-app/index.ts
  apps/common-app/src/console/consoleLogs.ts
  apps/common-app/src/console/index.ts
Due: prettier --write, eslint

[Example] Add search bar to the main screen (#4314)
  apps/common-app/App.tsx
Due: prettier --write, eslint

using worklets stableApi
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.cpp
  packages/react-native-gesture-handler/android/src/main/jni/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/scripts/gesture_handler_utils.rb
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.cpp
  packages/react-native-gesture-handler/shared/runtime/RNGHRuntimeDecorator.h
  packages/react-native-gesture-handler/src/global.d.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp

add worklets macro
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

[PoC] 2-package publishing option: vendor-for-pack script + packed-mode proof
  .gitignore
  apps/web-poc/vite.config.mts
  packages/react-gesture-handler/package.json
  scripts/vendor-for-pack.mjs
  yarn.lock
Due: none

fix installing when reanimated is used without worklets
  packages/react-native-gesture-handler/src/__tests__/RuntimeBindings.test.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint

nit
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
Due: none

Fix SharedValue change crash
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
Due: prettier --write, eslint

[Example] Add an in-app console viewer (#4313)
  apps/common-app/App.tsx
  apps/common-app/index.ts
  apps/common-app/src/console/ConsoleModal.tsx
  apps/common-app/src/console/consoleLogs.ts
  apps/common-app/src/console/index.ts
  apps/common-app/src/console/reactNativeLogBox.ts
  apps/common-app/src/console/reactNativeLogBox.web.ts
  apps/common-app/src/new_api/complicated/camera/index.tsx
  apps/common-app/src/new_api/components/swipeable/AppleStyleSwipeableRow.tsx
  apps/common-app/src/new_api/components/swipeable/index.tsx
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
Due: prettier --write, eslint

Fix updating `SharedValue` crash (#4315)
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
Due: prettier --write, eslint

[PoC] Verify vendored native package through Metro on device
  apps/basic-example/metro.config.js
Due: none

[PoC] Touchable component moves to core; host button becomes a port member
  .claude/launch.json
  apps/web-poc/package.json
  apps/web-poc/src/main.tsx
  packages/gesture-handler-core/src/createGestureHandlerAPI.tsx
  packages/gesture-handler-core/src/v3/platform/Port.ts
  packages/gesture-handler-core/src/v3/press/Touchable.tsx
  packages/gesture-handler-core/src/v3/press/TouchableTypes.ts
  packages/react-gesture-handler/src/GestureHandlerButton.tsx
  packages/react-gesture-handler/src/Touchable.tsx
  packages/react-gesture-handler/src/binding.ts
  packages/react-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/__tests__/coreFactory.test.tsx
  packages/react-native-gesture-handler/src/v3/binding.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint

[PoC] Honest tarball test fixes: __DEV__ on the DOM binding, pack-safe staging
  apps/web-poc/vite.config.mts
  packages/react-gesture-handler/package.json
  packages/react-gesture-handler/src/binding.ts
  packages/react-gesture-handler/src/ensureDevGlobal.ts
  scripts/vendor-for-pack.mjs
Due: prettier --write, eslint

[PoC] Stage native platform dirs into dist-pack — runnable-app tarball proven
  scripts/vendor-for-pack.mjs
Due: none

Fix crash when v3 update handler receives event without handlerData
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/__tests__/utils.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
Due: prettier --write, eslint
