Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Keep tapAnimationDuration positive on web
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Release v2.31.0
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Bump to rc.7
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Add children
  packages/react-native-gesture-handler/src/mocks/GestureButtons.tsx
Due: prettier --write, eslint

Add `children` to button mock (#4054)
  packages/react-native-gesture-handler/src/mocks/GestureButtons.tsx
Due: prettier --write, eslint

Update props names
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

Extract common method
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Change props order
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

Grammar
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

Correct prop in SKILL
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Mock Clickable
  packages/react-native-gesture-handler/src/mocks/GestureButtons.tsx
Due: prettier --write, eslint

Update comment
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

v2
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/docs/legacy-gestures/gesture-composition.md
Due: none

Other fixes
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-1.x/about-handlers.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gesture-handlers/about-handlers.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pinch-gesture.md
Due: none

grammar v3
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

Invert enabled prop
  apps/common-app/src/new_api/components/clickable_stress/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/Clickable.tsx
  packages/react-native-gesture-handler/src/v3/components/Clickable/ClickableProps.ts
Due: prettier --write, eslint

More fixes
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/legacy-gestures/fling-gesture.md
  packages/docs-gesture-handler/docs/legacy-gestures/pinch-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-1.x/api/gesture-handlers/fling-gh.md
  packages/docs-gesture-handler/versioned_docs/version-1.x/api/gesture-handlers/pinch-gh.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gesture-handlers/fling-gh.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gesture-handlers/pinch-gh.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/fling-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pinch-gesture.md
Due: none

[General] Update button's animation duration props (#4046)
  apps/common-app/src/new_api/components/button_underlay/index.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

fix?
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Hit test virtual detectors in button
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Convert point coordinate space
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

mocks
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/mocks/GestureButtons.tsx
  packages/react-native-gesture-handler/src/mocks/gestureComponents.tsx
  packages/react-native-gesture-handler/src/mocks/v3GestureComponents.tsx
Due: prettier --write, eslint

Unmock components
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/__tests__/mocks.test.tsx
Due: prettier --write, eslint

Do not mock worklets in jestSetup
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
Due: prettier --write, eslint

Add import info to docs
  packages/docs-gesture-handler/docs/guides/testing.md
Due: none

Remove unused mocks
  packages/react-native-gesture-handler/src/__tests__/mocks.test.tsx
  packages/react-native-gesture-handler/src/mocks/v3GestureComponents.tsx
Due: prettier --write, eslint

RawButton deprecations
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
Due: prettier --write, eslint

Add replacement info to migration guide
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Update packages/docs-gesture-handler/docs/components/clickable.mdx
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

Review
  packages/docs-gesture-handler/docs/components/buttons.mdx
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

Mimic Touchable
  packages/docs-gesture-handler/docs/components/clickable.mdx
Due: none

Check for target
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
Due: yarn format:apple

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
