Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[Web] Continuous `Pinch` and `Rotation` (#4155)
  packages/react-native-gesture-handler/src/web/detectors/RotationGestureDetector.ts
  packages/react-native-gesture-handler/src/web/detectors/ScaleGestureDetector.ts
  packages/react-native-gesture-handler/src/web/handlers/PinchGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/RotationGestureHandler.ts
Due: prettier --write, eslint

Do not set role on not HTMLElements
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.web.ts
Due: prettier --write, eslint

[Web] Do not set `role` on non HTMLElement nodes (#4159)
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.web.ts
Due: prettier --write, eslint

idk
  .github/workflows/e2e.yml
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/metro.config.js
  apps/basic-example/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

check if disabled
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

remove logs
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

check if gesture is enabled
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

update the macos vestrions for runners|
  .github/workflows/e2e.yml
Due: none

register only if gesture is tap gesture
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

Fix `RNRenderer` import for React Native 0.86+
  packages/react-native-gesture-handler/src/RNRenderer.ts
Due: prettier --write, eslint

Update compatibility
  packages/react-native-gesture-handler/compatibility.json
Due: none

[docs] Update compatibility table (#4161)
  packages/react-native-gesture-handler/compatibility.json
Due: none

Copilot review
  packages/react-native-gesture-handler/src/RNRenderer.ts
Due: prettier --write, eslint

remove extra space
  packages/react-native-gesture-handler/src/RNRenderer.ts
Due: prettier --write, eslint

use export const
  packages/react-native-gesture-handler/src/RNRenderer.ts
Due: prettier --write, eslint

Change defaults
  apps/common-app/src/new_api/components/touchable/index.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Update docs and skill
  packages/docs-gesture-handler/docs/components/touchable.mdx
  skills/gesture-handler-3-migration/SKILL.md
Due: none

[Web] Add hover effects to the `Touchable` component (#4146)
  apps/common-app/src/new_api/components/touchable/index.tsx
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Update docs
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

Update underlay condition
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Fix typo
  skills/gesture-handler-3-migration/SKILL.md
Due: none

Update condition
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

updated worklet and react-native versions
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/metro.config.js
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/e2eApp/package.json
  apps/expo-example/package.json
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Remove validateDetectorChildren
  packages/react-native-gesture-handler/src/RNRenderer.ts
  packages/react-native-gesture-handler/src/RNRenderer.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

updated rotation argent handler
  apps/e2eApp/e2e/ios/rotation.test.ts
  apps/expo-example/package.json
  apps/macos-example/package.json
  yarn.lock
Due: prettier --write, eslint

changed from release to debug on ci
  .github/workflows/e2e.yml
  apps/e2eApp/package.json
Due: none

[General] Avoid unnecessary object allocations (#4147)
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

changed back to release
  .github/workflows/e2e.yml
  apps/e2eApp/package.json
Due: none

Move default info
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

[General] Change `Touchable` default underlay props (#4164)
  apps/common-app/src/new_api/components/touchable/index.tsx
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  skills/gesture-handler-3-migration/SKILL.md
Due: prettier --write, eslint

Update animation duration props
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Split animation props into in/out
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

split launching the emulator into two steps in the android config
  .github/workflows/e2e.yml
Due: none

added adv cache for android
  .github/workflows/e2e.yml
Due: none

fixed argent output resolution
  .github/workflows/e2e.yml
  apps/e2eApp/e2e/ios/rotation.test.ts
Due: prettier --write, eslint

Use single prop
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint

Fix `RNRenderer` import for React Native 0.86+ (#4160)
  packages/react-native-gesture-handler/src/RNRenderer.ts
  packages/react-native-gesture-handler/src/RNRenderer.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
