Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

preapre config on initial render
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

refactor
  .github/workflows/android-build.yml
  .github/workflows/ios-build.yml
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/build.gradle
  apps/basic-example/ios/Podfile
Due: none

added ci for e2e tests
  .github/workflows/e2e.yml
  apps/e2eApp/e2e/hover.test.ts
  apps/e2eApp/e2e/rotation.test.ts
  apps/e2eApp/ios/Podfile.lock
  apps/e2eApp/ios/e2eApp.xcodeproj/project.pbxproj
Due: prettier --write, eslint

add expo-example build
  apps/expo-example/app.config.js
  apps/expo-example/package.json
  yarn.lock
Due: none

Extract logic to hook
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.ts
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.web.ts
Due: prettier --write, eslint

test
  .github/workflows/e2e.yml
Due: none

Use other name
  .eslintrc.json
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.web.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

switch to npx for detox and install dependecies with brew
  .github/workflows/e2e.yml
Due: none

changed the iphone sim version
  apps/e2eApp/.detoxrc.js
Due: none

USe refs
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

switched sim to ipohone 15
  apps/e2eApp/.detoxrc.js
Due: none

move prepareConfig
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
Due: prettier --write, eslint

Rename function
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
Due: prettier --write, eslint

Default parameters
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
Due: prettier --write, eslint

Don't animate disabled buttons
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Add hover effects to web button implementation
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Add hoverable touchables to the example
  apps/common-app/src/new_api/components/touchable/index.tsx
Due: prettier --write, eslint

Update docs
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

Spread `rest` before other props
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Update docs
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none

Update rnrepo.config.json
  rnrepo.config.json
Due: none

configured detox for android
  .github/workflows/e2e.yml
  apps/e2eApp/android/app/build.gradle
  apps/e2eApp/android/app/src/androidTest/java/com/e2eapp/DetoxTest.java
  apps/e2eApp/android/app/src/main/AndroidManifest.xml
  apps/e2eApp/android/app/src/main/res/xml/network_security_config.xml
  apps/e2eApp/android/build.gradle
Due: none

Avoid allocations
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

made the pinch test platfrom specific
  apps/e2eApp/e2e/pinch.test.ts
Due: prettier --write, eslint

Add RNRepo to ci builds (#4141)
  .github/workflows/android-build.yml
  .github/workflows/ios-build.yml
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/build.gradle
  apps/basic-example/ios/Podfile
  apps/basic-example/package.json
  apps/expo-example/app.config.js
  apps/expo-example/package.json
  rnrepo.config.json
  yarn.lock
Due: node scripts/check-rn-versions.js

split the tests by platform
  apps/e2eApp/e2e/ios/pinch.test.ts
  apps/e2eApp/e2e/long-press.test.ts
  apps/e2eApp/e2e/pan.test.ts
  apps/e2eApp/e2e/shared/exclusive-gestures.test.ts
  apps/e2eApp/e2e/shared/fling.test.ts
  apps/e2eApp/e2e/shared/intercepting-gesture-detector.test.ts
  apps/e2eApp/e2e/shared/long-press.test.ts
  apps/e2eApp/e2e/shared/pan.test.ts
  apps/e2eApp/e2e/shared/require-to-fail.test.ts
  apps/e2eApp/e2e/shared/tap.test.ts
  apps/e2eApp/e2e/shared/virtual-gesture-detector.test.ts
  apps/e2eApp/package.json
Due: prettier --write, eslint

added rotation gesture tests with argent
  .agents/skills/argent-create-flow/SKILL.md
  .agents/skills/argent-ios-profiler/SKILL.md
  .agents/skills/argent-metro-debugger/SKILL.md
  .agents/skills/argent-metro-debugger/references/failure-scenarios.md
  .agents/skills/argent-metro-debugger/references/source-maps.md
  .agents/skills/argent-react-native-app-workflow/SKILL.md
  .agents/skills/argent-react-native-optimization/SKILL.md
  .agents/skills/argent-react-native-optimization/references/fix-reference.md
  .agents/skills/argent-react-native-optimization/references/lint-rules.md
  .agents/skills/argent-react-native-optimization/references/semantic-checklist.md
  .agents/skills/argent-react-native-profiler/SKILL.md
  .agents/skills/argent-react-native-profiler/references/diagnostic-tools.md
  .agents/skills/argent-simulator-interact/SKILL.md
  .agents/skills/argent-simulator-interact/references/gesture-examples.md
  .agents/skills/argent-simulator-setup/SKILL.md
  .agents/skills/argent-test-ui-flow/SKILL.md
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/e2eApp/e2e/ios/rotation.test.ts
  skills-lock.json
Due: prettier --write, eslint

Use ReadonlyMap
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
Due: prettier --write, eslint

Remove type
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
Due: prettier --write, eslint

Types v2
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useNativeGestureRole.ts
Due: prettier --write, eslint

changed argent to npx argent for github actions
  .github/workflows/e2e.yml
  apps/e2eApp/e2e/ios/rotation.test.ts
Due: prettier --write, eslint

added a cache for the e2eApp build
  .github/workflows/e2e.yml
Due: none

[General] Do not prepare config multiple times (#4144)
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
Due: prettier --write, eslint

Revert "Add RNRepo to ci builds (#4141)"
  .github/workflows/android-build.yml
  .github/workflows/ios-build.yml
  apps/basic-example/android/app/build.gradle
  apps/basic-example/android/build.gradle
  apps/basic-example/ios/Podfile
  apps/basic-example/package.json
  apps/expo-example/app.config.js
  apps/expo-example/package.json
  rnrepo.config.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Add rnrepo-config to expo-example
  apps/expo-example/rnrepo.config.json
Due: none

Add rnrepo config to `expo-example` (#4151)
  apps/expo-example/rnrepo.config.json
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
