Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Don't remap pointer ids on native handlers
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[docs] Gesture detectors (#3894)
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.md
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/states-events.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/gestures/_shared/gesture-detector-functional1.md
  packages/docs-gesture-handler/docs/gestures/gesture-detector.md
  packages/docs-gesture-handler/docs/gestures/use-fling-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-hover-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-long-press-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pan-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/docs-gesture-handler/docs/guides/quickstart/index.md
  packages/docs-gesture-handler/docs/guides/swipe-and-scroll.md
  packages/docs-gesture-handler/src/components/CollapseButton/index.tsx
  packages/docs-gesture-handler/src/components/CollapseButton/styles.module.css
  packages/docs-gesture-handler/src/components/CollapsibleCode/index.tsx
Due: prettier --write, eslint

[Native] `display: contents` based button styling (#3634)
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/src/App.tsx
  apps/basic-example/src/ContentsButton.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonWrapperViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonWrapper.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonWrapper.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/react-native.config.js
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperComponentDescriptor.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.h
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperState.h
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonWrapperNativeComponent.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Update the script responsible for updating the package version
  scripts/release/set-package-version.js
Due: none

[iOS] Restore scroll view behavior on gesture unbind (#3931)
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Move reanimated check to js
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/reanimated/src/main/java/com/swmansion/gesturehandler/ReanimatedProxy.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

[General] Fix `onBegin` not being called when the native recognizer skips the `BEGAN` state (#3932)
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
Due: prettier --write, eslint

Apply suggestions from code review
  scripts/release/set-package-version.js
Due: none

Handle pre-release versions
  scripts/release/should-be-latest.js
  scripts/release/version-utils.js
Due: none

Update scripts/release/version-utils.js
  scripts/release/version-utils.js
Due: none

Add fallback
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Change order
  scripts/release/should-be-latest.js
Due: none

Add no-op to web module
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
Due: prettier --write, eslint

Add function to NativeProxy
  packages/react-native-gesture-handler/src/v3/NativeProxy.web.ts
Due: prettier --write, eslint

Update mock
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
Due: prettier --write, eslint

Add theme common to package.json
  packages/docs-gesture-handler/package.json
Due: none

Remove duplicate detector entry
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.md
Due: none

Undo formatting
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

[docs] Update quick start (#3895)
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step1.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step2.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step3.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step4.md
  packages/docs-gesture-handler/docs/guides/quickstart/_steps/step5.md
  packages/docs-gesture-handler/docs/guides/quickstart/index.md
  packages/docs-gesture-handler/package.json
Due: none

Update table
  packages/docs-gesture-handler/docs/under-the-hood/state.md
Due: none

Add tip
  packages/docs-gesture-handler/docs/gestures/use-manual-gesture.mdx
Due: none

Update packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Change tables
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Prevent `onBegin` when gesture should not begin
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Comparison top-bottom
  packages/docs-gesture-handler/src/css/overrides.css
Due: none

Use useFormattedCode hook
  packages/docs-gesture-handler/src/components/CollapsibleCode/index.tsx
Due: prettier --write, eslint

Update the script responsible for updating the package version (#3934)
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/version-utils.js
Due: none

Ensure the new major is higher than the previous one
  scripts/release/should-be-latest.js
Due: none

Try to infer the prerelease version from branch if not provided
  scripts/release/set-package-version.js
Due: none

Move arg parsing to a helper
  scripts/release/set-package-version.js
Due: none

Split detecting next latest and verifying it
  scripts/release/should-be-latest.js
  scripts/release/validate-latest-version.js
Due: none

Move parseArguments to a separate file
  scripts/release/parse-arguments.js
  scripts/release/set-package-version.js
Due: none

Move version resolution to version-utils
  scripts/release/set-package-version.js
  scripts/release/version-utils.js
Due: none

Move getVersion to separate file
  scripts/release/get-version.js
  scripts/release/parse-arguments.js
  scripts/release/set-package-version.js
Due: none

Add release scripts tests
  package.json
  scripts/release/__tests__/get-version.test.js
  scripts/release/__tests__/parse-arguments.test.js
  scripts/release/__tests__/should-be-latest.test.js
  scripts/release/__tests__/validate-latest-version.test.js
  scripts/release/__tests__/version-utils.test.js
  yarn.lock
Due: none

Allow explicitly setting version for stable release
  scripts/release/__tests__/get-version.test.js
  scripts/release/__tests__/parse-arguments.test.js
  scripts/release/get-version.js
  scripts/release/parse-arguments.js
Due: none

reorganise
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/__mocks__/RNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/mocks/gestureComponents.tsx
  packages/react-native-gesture-handler/src/mocks/gestureHandlers.tsx
  packages/react-native-gesture-handler/src/mocks/hostDetector.tsx
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
  packages/react-native-gesture-handler/src/mocks/module.tsx
Due: prettier --write, eslint

hostGestureDetector
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/mocks/gestureHandlers.tsx
  packages/react-native-gesture-handler/src/mocks/hostDetector.tsx
Due: prettier --write, eslint

Update action
  .github/actions/publish-npm-package/action.yml
Due: none

Update workflow
  .github/workflows/publish-release.yml
Due: none
