Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

New viewForEvents
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add mainContainerStyle prop to ReanimatedDrawerLayout
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

[iOS] Fix Animated events with no native driver (#3841)
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Rename onStart and onEnd
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

Rename useMultipleGestures
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/composition/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/composition/useCompetingGestures.ts
Due: prettier --write, eslint

Fix no finalize on pan
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

[General] Rename `useMultipleGestures` to `useCompetingGestures` (#3848)
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/composition/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/composition/useCompetingGestures.ts
Due: prettier --write, eslint

[General] Rename `onStart`/`onEnd` to `onActivate`/`onDeactivate` (#3847)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

useReanimatedEventsManager
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useReanimatedEventsManager.ts
Due: prettier --write, eslint

Move the event logic to `ReanimatedNativeDetector` add fallback
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/useReanimatedEventsManager.ts
Due: prettier --write, eslint

Update api
  apps/basic-example/src/Text.tsx
Due: prettier --write, eslint

Backwards compatibility
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.tsx
Due: prettier --write, eslint

[android] fix scroll actions interpreted as touch
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix imports (#3845)
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
Due: prettier --write, eslint

Add comment
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix type
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

Update `InterceptingGestureDetector` with Text example (#3851)
  apps/basic-example/src/Text.tsx
Due: prettier --write, eslint

Rename type
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.tsx
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.tsx
Due: prettier --write, eslint

Update comment
  packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.tsx
Due: prettier --write, eslint

Rename callbacks
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

[android] fix scroll actions interpreted as touch (#3850)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[General] Listen for Reanimated events directly, without `createAnimatedComponent` when possible (#3837)
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/ReanimatedNativeDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
Due: prettier --write, eslint

Reduce number of closures
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateMachine.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useGestureEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
Due: prettier --write, eslint

Don't modify memoized halnders
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

update mocks
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/src/mocks/GestureButtons.tsx
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
Due: prettier --write, eslint

Bring back ref only to component
  apps/common-app/src/components/flatlist/index.tsx
  apps/common-app/src/components/scrollview/index.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

update hook
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
Due: prettier --write, eslint

Bump to rc.3
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

virtual detector
  packages/react-native-gesture-handler/src/__tests__/V3.test.tsx
Due: prettier --write, eslint

[General] Hide internal fields from gesture events (#3844)
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/updateHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint, yarn format:apple

[iOS] Fix pan not triggering `onFinalize` when blocked (#3849)
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

rest
  packages/react-native-gesture-handler/src/__tests__/V3.test.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useEnsureGestureHandlerRootView.ts
Due: prettier --write, eslint

Fix gestures
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

rename to errors
  packages/react-native-gesture-handler/src/__tests__/errors.test.tsx
Due: prettier --write, eslint

capitalise test suite name
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
Due: prettier --write, eslint

mocking HostGestureDetector directly
  packages/react-native-gesture-handler/src/mocks/mocks.tsx
Due: prettier --write, eslint

restores relation traversal
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
