Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

[General] Make `VirtualDetector` part of the public API (#3825)
  apps/basic-example/src/Text.tsx
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
Due: prettier --write, eslint

[Android][iOS] Don't handle events on the detector surface (#3823)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

[General] Allow explicit opt-in for the Animated codepaths when not using native driver (#3824)
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint

Extracted `useIsomorphicLayoutEffect` to a separate file (#3766)
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/useIsomorphicLayoutEffect.tsx
Due: prettier --write, eslint

[iOS] Fix `Pressable` `onPressOut` callback (#3777)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Rename `event` parameter (#3782)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[android] fix ripple effect after #3742 (#3781)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Add automated release scripts (#3784)
  .eslintrc.json
  .github/actions/publish-npm-package/action.yml
  .github/workflows/npm-gesture-handler-publish.yml
  .github/workflows/publish-commitly-release.yml
  .github/workflows/publish-release.yml
  scripts/release/npm-utils.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/version-utils.js
Due: none

Update actions for automatic releases (#3788)
  .github/workflows/publish-commitly-release.yml
  .github/workflows/publish-release.yml
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Fix memory leak in ReanimatedSwipeable on programmatic close (#3790)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

chore: fix typos in docs for force touch gesture (#3797)
  packages/docs-gesture-handler/docs/gestures/force-touch-gesture.md
Due: none

[Web] Fixed `Accessing element.ref was removed in React 19` error (#3804)
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

[android] fixed experimental pointers breaking after pan (#3801)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Hide incorrectly exposed `ReanimatedSwipeable` props. (#3820)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

Add `null` to `GestureRef` type (#3821)
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
Due: prettier --write, eslint

Stashing work
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/nosvg/src/main/java/com/swmansion/gesturehandler/RNSVGHitTester.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/GestureHandlerEnvironment.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/svg/RNSVGHitTester.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/svg/RNSVGHitTesterFactory.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/svg/RNSVGHitTesterImpl.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/svg/RNSVGHitTesterNoOp.kt
  packages/react-native-gesture-handler/android/svg/src/main/java/com/swmansion/gesturehandler/RNSVGHitTester.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Stashing work
  packages/react-native-gesture-handler/android/nosvg/src/main/java/com/swmansion/gesturehandler/RNSVGHitTester.kt
  packages/react-native-gesture-handler/android/svg/src/main/java/com/swmansion/gesturehandler/RNSVGHitTester.kt
  packages/react-native-gesture-handler/android/svg/src/main/java/com/swmansion/gesturehandler/svg/RNSVGHitTesterHelper.kt
  packages/react-native-gesture-handler/android/svg/src/main/java/com/swmansion/gesturehandler/svg/SvgHitTester.kt
  packages/react-native-gesture-handler/android/svg/src/main/java/com/swmansion/gesturehandler/svg/SvgHitTesterImpl.kt
  packages/react-native-gesture-handler/android/svg/src/main/java/com/swmansion/gesturehandler/svg/SvgHitTesterNoOp.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Reset reanimated context when gesture finishes
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
Due: prettier --write, eslint

Reset js context when gesture finishes
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
Due: prettier --write, eslint

Add `Gesture` suffix to hooks
  apps/basic-example/src/NativeDetector.tsx
  apps/basic-example/src/Text.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
Due: prettier --write, eslint

Make `InterceptingDetector` throw when not rendered under GH root view
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useEnsureGestureHandlerRootView.ts
Due: prettier --write, eslint

Check if relations are defined before calling native method
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
Due: prettier --write, eslint

Make js `createGestureHandler` async
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Schedule flushes insted of calling directly
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

[General] Make `InterceptingGestureDetector` throw when not rendered under GHRootView (#3829)
  packages/react-native-gesture-handler/src/v3/detectors/GestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useEnsureGestureHandlerRootView.ts
Due: prettier --write, eslint

Batch creation of gesture handlers outside of hook
  packages/react-native-gesture-handler/src/handlers/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

fix overlay dismiss gesture in ReanimatedDrawerLayotu
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

[Web] Fix context menu (#3826)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedUpdateEvent.ts
Due: prettier --write, eslint

ReanimatedDrawerLayout: fix buttons not receiving onPress (#3832)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

[General] Rename gesture hooks to include `Gesture` suffix (#3828)
  apps/basic-example/src/NativeDetector.tsx
  apps/basic-example/src/Text.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHoverGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPressGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManualGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinchGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotationGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTapGesture.ts
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

[General] Schedule flushes instead of flushing immediately (#3830)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Add comment
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Import hooks directly
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

Create NativeProxy
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

Create handlers synchronously on iOS
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Fixes
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

Update example
  apps/common-app/src/components/flatlist/index.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
