Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Fix nitpicks
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorState.h
Due: yarn format:apple, yarn format:cpp

Remove redundant size setter
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorComponentDescriptor.h
Due: yarn format:cpp

Simplify android detector attach logic
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

docs: tweak comments
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Update android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Apple changes
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/RNGHVector.h
  packages/react-native-gesture-handler/apple/RNGHVector.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerEvents.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerNativeEventUtils.mm
Due: yarn format:apple

Remove `detachGestureHandler` method from module
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Remove commented code
  apps/basic-example/src/App.tsx
Due: prettier --write, eslint

docs: link to specific guide
  packages/react-native-gesture-handler/android/build.gradle
Due: none

fix: turn off build IDs for reproducibility (#3602)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

deprecate dimensionsAfterResize
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
Due: prettier --write, eslint

use onLayout
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

remove log
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

add onLayout prop
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

simplify type
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
Due: prettier --write, eslint

simplify comment
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
Due: prettier --write, eslint

remove unused ref logic
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

memoize dim setter
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Bump to 0.81.0-rc.0
  apps/basic-example/android/build.gradle
  apps/basic-example/android/gradle.properties
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Fix build
  packages/react-native-gesture-handler/android/src/main/jni/cpp-adapter.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple, yarn format:cpp

Remove warning on web and tests
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Clone child on detector clone, move to implementation file
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
Due: yarn format:cpp

fix invalid ref typing
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
Due: prettier --write, eslint

fix onLayout prop not being called
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Bump to 0.81.0-rc.0
  apps/basic-example/Gemfile.lock
  apps/basic-example/android/build.gradle
  apps/basic-example/android/gradle.properties
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/tsconfig.json
  packages/react-native-gesture-handler/android/src/main/jni/cpp-adapter.cpp
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js, yarn format:apple, yarn format:cpp

add pip example
  apps/common-app/App.tsx
  apps/common-app/src/release_tests/pictureInPicture/index.tsx
  apps/common-app/src/release_tests/pictureInPicture/pipLayout.tsx
Due: prettier --write, eslint

fix typing in index.tsx
  apps/common-app/src/release_tests/pictureInPicture/index.tsx
Due: prettier --write, eslint

fix/mute issues in pip layout
  apps/common-app/src/release_tests/pictureInPicture/pipLayout.tsx
Due: prettier --write, eslint

rewrite class to func comp
  apps/common-app/src/release_tests/pictureInPicture/index.tsx
  apps/common-app/src/release_tests/pictureInPicture/pipLayout.tsx
Due: prettier --write, eslint

update prop description
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
Due: prettier --write, eslint

use v2 api
  apps/common-app/src/release_tests/pictureInPicture/pipLayout.tsx
Due: prettier --write, eslint

rewrite to reanimated
  apps/common-app/src/release_tests/pictureInPicture/pipLayout.tsx
Due: prettier --write, eslint

use GH components
  apps/common-app/src/release_tests/pictureInPicture/index.tsx
Due: prettier --write, eslint

Rename `animatedEvents` -> `dispatchAnimatedEvents`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/useGesture.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Update example
  apps/basic-example/src/App.tsx
  apps/basic-example/src/ComponentsScreen.tsx
  apps/basic-example/src/FinalScreen.tsx
  apps/basic-example/src/GestureCompositionScreen.tsx
  apps/basic-example/src/NativeDetector.tsx
  apps/basic-example/src/Navigator.tsx
  apps/basic-example/src/RuntimeDecoration.tsx
  apps/basic-example/src/ViewFlatteningScreen.tsx
  apps/basic-example/src/utils.ts
Due: prettier --write, eslint

Rename gesture
  apps/basic-example/src/NativeDetector.tsx
Due: prettier --write, eslint

Rename `setDispatchAnimatedEvents` -> `setDispatchesAnimatedEvents`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/src/NativeDetector.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/useGesture.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Choose view for interaction
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Update todo
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

commit comment suggestion
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
Due: prettier --write, eslint
