Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Fix after merge
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateMachine.ts
Due: prettier --write, eslint

Memoize modified handlers
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

config -> callbacks
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

Remove assignment
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

styling
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
Due: prettier --write, eslint

copied from old pr
  apps/common-app/App.tsx
  apps/common-app/src/v3_api/bottom_sheet/index.tsx
  apps/common-app/src/v3_api/calculator/index.tsx
  apps/common-app/src/v3_api/camera/index.tsx
  apps/common-app/src/v3_api/chat_heads/index.tsx
  apps/common-app/src/v3_api/fling/fling.tsx
  apps/common-app/src/v3_api/hover/index.tsx
  apps/common-app/src/v3_api/hoverable_icons/index.tsx
  apps/common-app/src/v3_api/lock/lock.tsx
  apps/common-app/src/v3_api/overlap/index.tsx
  apps/common-app/src/v3_api/svg/svg.tsx
  apps/common-app/src/v3_api/velocity_test/index.tsx
Due: prettier --write, eslint

better svg
  apps/common-app/src/v3_api/svg/svg.tsx
Due: prettier --write, eslint

nested text
  apps/common-app/src/v3_api/nested_text/nested_text.tsx
Due: prettier --write, eslint

Fix tap
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
Due: yarn format:apple

Remove Fling comment
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

Cleanup
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
Due: yarn format:apple

Fix macos
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
Due: yarn format:apple

Rename and add effect
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
Due: prettier --write, eslint

Correct type
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Types
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Rename stateMachine -> eventHandler
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useGestureEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

Utils
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
Due: prettier --write, eslint

Cleanup main index
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Fix signature
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
Due: yarn format:apple

Added onSwipeableDragEnd property
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.md
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

Fix for values lower than -0
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Add example
  apps/common-app/App.tsx
  apps/common-app/src/components/switchAndInput/index.tsx
Due: prettier --write, eslint

Fix type
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

Rename methods
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
Due: prettier --write, eslint

[General] Reduce number of created closures (#3853)
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useGestureEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGestureCallbacks.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
Due: prettier --write, eslint

Fix wrong layouts
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
Due: yarn format:cpp

Move check
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
Due: yarn format:cpp

change export
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
Due: prettier --write, eslint

Change components implementation (#3800)
  apps/common-app/App.tsx
  apps/common-app/src/basic/pagerAndDrawer/index.android.tsx
  apps/common-app/src/components/buttons/index.tsx
  apps/common-app/src/components/flatlist/index.tsx
  apps/common-app/src/components/scrollview/index.tsx
  apps/common-app/src/components/switchAndInput/index.tsx
  apps/common-app/src/new_api/calculator/index.tsx
  apps/common-app/src/recipes/panAndScroll/index.tsx
  apps/common-app/src/release_tests/combo/index.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/GestureComponents.web.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
  packages/react-native-gesture-handler/src/handlers/gestureHandlerTypesCompat.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.web.tsx
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNativeGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  yarn.lock
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:cpp

Export components
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Remove duplicate components export
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint

new line
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

feedback component
  apps/common-app/App.tsx
  apps/common-app/src/common.tsx
  apps/common-app/src/v3_api/nested_text/nested_text.tsx
  apps/common-app/src/v3_api/svg/svg.tsx
Due: prettier --write, eslint

Explicit exports
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Add tests to github workflow
  .github/workflows/rngh-api-v3.yml
Due: none

Store handlers only in jest
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
Due: prettier --write, eslint

[iOS] Fix `onFinalize` callbacks on iOS 26 (#3855)
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNForceTouchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNManualHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple

Change nightly version name
  scripts/release/set-package-version.js
Due: none

[General] Change nightly version name (#3862)
  scripts/release/set-package-version.js
Due: none

Fixing number of touches becoming 0 issue for pan guestures in apple track pad
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
Due: yarn format:apple
