Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

locks
  apps/macos-example/macos/Podfile.lock
  skills-lock.json
  yarn.lock
Due: none

Pan Test
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/expo-example/e2e/shared/pan.test.ts
Due: prettier --write, eslint

[iOS] Fix underlay animation not firing in ScrollView with `in: 0` (#4184)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Fix Android race
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Use observer for relation updates
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useGestureRelationsUpdater.ts
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Rename argument
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

Use rAF instead of observing
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/src/v3/detectors/useGestureRelationsUpdater.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Bump jest to fix failure caused by rAF
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Leave only pan test
  apps/common-app/src/e2e_screens/components/GestureBox.tsx
  apps/common-app/src/e2e_screens/components/NormalBox.tsx
  apps/common-app/src/e2e_screens/components/gestureColors.ts
  apps/common-app/src/e2e_screens/composition_and_interactions/competingGestures.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/exclusiveGestures.tsx
  apps/common-app/src/e2e_screens/composition_and_interactions/requireToFail.tsx
  apps/common-app/src/e2e_screens/gestureDetectors/interceptingGestureDetector.tsx
  apps/common-app/src/e2e_screens/gestureDetectors/virtualGestureDetector.tsx
  apps/common-app/src/e2e_screens/gestureStyles.ts
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
  apps/common-app/src/e2e_screens/integration/MultipleHandlers.tsx
  apps/common-app/src/e2e_screens/testConstants.ts
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/pan.test.ts
  apps/expo-example/e2e/shared/exclusive-gestures.test.ts
  apps/expo-example/e2e/shared/fling.test.ts
  apps/expo-example/e2e/shared/gestures.test.ts
  apps/expo-example/e2e/shared/intercepting-gesture-detector.test.ts
  apps/expo-example/e2e/shared/long-press.test.ts
  apps/expo-example/e2e/shared/require-to-fail.test.ts
  apps/expo-example/e2e/shared/tap.test.ts
  apps/expo-example/e2e/shared/virtual-gesture-detector.test.ts
  apps/expo-example/e2e/utils.ts
  apps/expo-example/package.json
Due: prettier --write, eslint

Update CI script
  .github/workflows/e2e.yml
Due: none

Accept percentage-based border radius
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Fix duplicated testID
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[General] Change how gestures are attached to the native detector to fix StrictMode (#4179)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/web/tools/NodeManager.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Add if
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

[General] Use handler observer API for relation updates (#4180)
  package.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/useGestureRelationsUpdater.ts
  packages/react-native-gesture-handler/src/v3/detectors/utils.ts
  yarn.lock
Due: node scripts/check-rn-versions.js, prettier --write, eslint

Change android runner to ubuntu
  .github/workflows/e2e.yml
Due: none

Add common base
  apps/common-app/src/e2e_screens/TestingScreen.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
Due: prettier --write, eslint

Add tap
  apps/common-app/src/e2e_screens/gestures/Tap.tsx
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/tap.test.ts
Due: prettier --write, eslint

Bump expo to stable 56
  apps/expo-example/package.json
  yarn.lock
Due: none

Add long press test
  apps/common-app/src/e2e_screens/gestures/LongPress.tsx
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/long_press.test.ts
Due: prettier --write, eslint

Add missing dependency
  .github/workflows/e2e.yml
Due: none

Captial letter in filename
  apps/common-app/src/e2e_screens/gestures/Pan.tsx
Due: prettier --write, eslint

Fix bad access
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.web.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Warn on fail
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint

Fling
  apps/common-app/src/e2e_screens/gestures/Fling.tsx
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/fling.test.ts
Due: prettier --write, eslint

Don't check state before activation
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

Add [E2E] prefix
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/fling.test.ts
  apps/expo-example/e2e/__tests__/long_press.test.ts
  apps/expo-example/e2e/__tests__/pan.test.ts
  apps/expo-example/e2e/__tests__/tap.test.ts
Due: prettier --write, eslint

Update mocks
  packages/react-native-gesture-handler/src/mocks/module.tsx
Due: prettier --write, eslint

Review changes
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Keep routes in variables
  apps/common-app/src/e2e_screens/screenNames.ts
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/fling.test.ts
  apps/expo-example/e2e/__tests__/long_press.test.ts
  apps/expo-example/e2e/__tests__/pan.test.ts
  apps/expo-example/e2e/__tests__/tap.test.ts
Due: prettier --write, eslint

Another CI update
  .github/workflows/e2e.yml
Due: none

[iOS] Fix bad access when decorating runtime (#4187)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/mocks/module.tsx
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.ts
  packages/react-native-gesture-handler/src/v3/NativeProxy.web.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Add pinch
  apps/common-app/src/e2e_screens/gestures/Pinch.tsx
  apps/common-app/src/e2e_screens/screenNames.ts
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/pinch.test.ts
Due: prettier --write, eslint

Rotation with argent
  apps/common-app/src/e2e_screens/gestures/Rotation.tsx
  apps/common-app/src/e2e_screens/screenNames.ts
  apps/common-app/src/new_api/index.tsx
  apps/expo-example/e2e/__tests__/rotation.test.ts
Due: prettier --write, eslint

Fix buttons staying pressed in after detach
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Fix buttons cutting of borders
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update setup-detox-script
  apps/expo-example/setup-detox-android.js
Due: none

Update CI file
  .github/workflows/e2e.yml
Due: none

Reset in viewWillMoveToWindow
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

New line
  apps/expo-example/e2e/jest.config.js
  apps/expo-example/e2e/tsconfig.json
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
