Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

extracted host gesture detector
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector.web.tsx
Due: prettier --write, eslint

not extending view props
  packages/react-native-gesture-handler/src/web/GestureHandlerDetector.tsx
Due: prettier --write, eslint

native detector action type
  packages/react-native-gesture-handler/src/ActionType.ts
  packages/react-native-gesture-handler/src/web/GestureHandlerDetector.tsx
Due: prettier --write, eslint

drop support in android build
  packages/react-native-gesture-handler/android/build.gradle
Due: none

remove android paper dirs
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerDelegate.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerInterface.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerDelegate.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerInterface.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/paper/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
Due: node scripts/check-android-dirs.js, yarn format:android

remove paper build cfg usages
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

flatten split files
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerComponentsRegistry.java
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
Due: node scripts/check-android-dirs.js, yarn format:android

force fabric on expo example
  apps/expo-example/app.config.js
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

remove non-existant android files from package
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

remove paper CIs
  .github/workflows/android-build-paper.yml
  .github/workflows/check-archs-consistency.yml
  .github/workflows/ios-build-paper.yml
Due: none

remove paper check from iOS build config
  packages/react-native-gesture-handler/RNGestureHandler.podspec
Due: none

remove all obj-c old arch macros
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRootViewComponentView.mm
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
Due: yarn format:apple

revert package reassignment
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerComponentsRegistry.java
Due: none

use bool in config
  apps/expo-example/app.config.js
Due: none

fix: Java.lang.IllegalArgumentException com mensagem pointerIndex out of range
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Use height
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

[Web] Fix bottom hitslop (#3644)
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint

moved implementation of web handler
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/GestureHandlerDetector.tsx
Due: prettier --write, eslint

memoisation
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Android implementation
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

remove old arch scripts
  scripts/codegen-check-consistency.js
  scripts/codegen-sync-archs.js
  scripts/codegen-utils.js
Due: none

remove script entries from package.json
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

detaching handlers
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

forgot to asign to oldHandlerTags
  packages/react-native-gesture-handler/src/v3/HostGestureDetector.web.tsx
Due: prettier --write, eslint

removed unnecessary types
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint

native detector animated event action type
  packages/react-native-gesture-handler/src/ActionType.ts
Due: prettier --write, eslint

remove paper CIs
  .github/workflows/check-archs-consistency.yml
Due: none

force fabric on expo example
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEventDispatcher.kt
Due: node scripts/check-android-dirs.js, yarn format:android

removed console log
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
Due: prettier --write, eslint
