Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

[Types] Remove `onUpdate` from discrete gestures (#3811)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTap.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Remove unused import
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Keep cleanup in unbindFromView
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Add helper
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
Due: yarn format:apple

Don't try to remove context menu listeners when not initialized
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Memoze event handlers
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Fix `viewRef` passing
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
Due: prettier --write, eslint

Remove ref
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/useDetectorContext.ts
Due: prettier --write, eslint

Memo reanimated handlers
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Simplify ref handling
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
Due: prettier --write, eslint

Don't keep virtual callbacks in ref
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/useDetectorContext.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
Due: prettier --write, eslint

Move validation to its own hook
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/VirtualDetector.tsx
Due: prettier --write, eslint

Keep intercepting gesture detector value stable
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/useDetectorContext.ts
Due: prettier --write, eslint

Memoize intercepting detector props
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Keep config out of the event handlers dependency arrays
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

Keep relations stable
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Keep handlerTags stable
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

Memoize cloned configs
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
Due: prettier --write, eslint

Rename relation props in config
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

`onTouchesCalcelled` -> `onTouchesCancel`
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/apple/RNGHTouchEventType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
  packages/react-native-gesture-handler/src/TouchEventType.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/eventReceiver.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

`success` -> `didSucceed`
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

Remove unnecessary assignment
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

swap implementations
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Remove unused implementation
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

[Web] Don't try to remove context menu listeners when not initialized (#3814)
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

[iOS] Correctly attach `Native` gesture (#3802)
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Remove dropped handlers
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

ensure -> prepare
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/reanimated/useReanimatedUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

Memoize internal event handlers (#3812)
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureStateChangeEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureTouchEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/js/useGestureUpdateEvent.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Rename variable
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Remove the last generic type
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
Due: prettier --write, eslint

Rename `onTouchesCancelled` to `onTouchesCancel` (#3818)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
  packages/react-native-gesture-handler/apple/RNGHTouchEventType.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
  packages/react-native-gesture-handler/src/TouchEventType.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/eventReceiver.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Rename relation props in config (#3817)
  packages/react-native-gesture-handler/src/__tests__/RelationsTraversal.test.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Fix merge
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/relationUtils.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
Due: prettier --write, eslint

Memoize cloned configs in gesture hooks (#3816)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFling.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/longPress/useLongPress.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/manual/useManual.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/native/useNative.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pinch/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/rotation/useRotation.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/useTap.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
Due: prettier --write, eslint

Override prepareForRecycle
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Add examples
  apps/common-app/App.tsx
  apps/common-app/src/components/buttons/index.tsx
  apps/common-app/src/components/flatlist/index.tsx
  apps/common-app/src/components/scrollview/index.tsx
Due: prettier --write, eslint

Fix buttons
  apps/common-app/src/components/buttons/index.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Yet another fix
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Remove Drawer Layout
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint
