Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Add missing exports to index
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Remove forwardedRefs
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/GestureComponents.web.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.web.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableWithoutFeedback.tsx
  packages/react-native-gesture-handler/src/handlers/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.web.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.web.tsx
Due: prettier --write, eslint

Imports
  apps/basic-example/index.js
  apps/common-app/App.tsx
  apps/expo-example/index.ts
  apps/macos-example/index.ts
Due: prettier --write, eslint

Blank
  apps/common-app/App.tsx
Due: prettier --write, eslint

fix docs again
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
Due: none

RefObject to Ref
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableWithoutFeedback.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.web.tsx
Due: prettier --write, eslint

fix
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
Due: none

block recognizers after the state is checked
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix typo
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
Due: yarn format:apple

docs
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
Due: none

[Android] Fix `Intercepting` and `Virtual` detectors hit testing (#4095)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Update packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
Due: none

Update packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/package.json
Due: none

Remove `forwardRef` (#4093)
  apps/basic-example/index.js
  apps/common-app/App.tsx
  apps/expo-example/index.ts
  apps/macos-example/index.ts
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/components/GestureComponents.web.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerRootView.web.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/touchables/TouchableWithoutFeedback.tsx
  packages/react-native-gesture-handler/src/handlers/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.web.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.web.tsx
Due: prettier --write, eslint

readded src for pinch and rotate
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasicSrc.js
  packages/docs-gesture-handler/static/examples/RotationGestureBasicSrc.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasicSrc.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/RotationGestureBasicSrc.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/pinch-gesture.md
  packages/docs-gesture-handler/versioned_docs/version-2.x/gestures/rotation-gesture.md
Due: none

simplified pan in v3 by using event.changeX
  packages/docs-gesture-handler/static/examples/FlingGestureBasic.js
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/FlingGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PanGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasicSrc.js
Due: none

changed styles
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PanGestureBasic.js
Due: none

simplified tap example
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/static/examples/TapGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/TapGestureBasic.js
Due: none

pinch example no longer resizing
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
Due: none

pinch example no longer resizing in v2
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
Due: none

better example
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
Due: prettier --write, eslint

Fix gestures becoming unresponsive after a fast refresh
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

rename to cancelsJsResponder
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[Android] Fix `hitSlop` on native detector (#4049)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[General] Fix gestures becoming unresponsive after a fast refresh (#4096)
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

Fix button events with numberOfPointers: 0
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

changed hover gesture basic in v3 to use event.changeX'
  packages/docs-gesture-handler/static/examples/HoverGestureBasic.js
Due: none

changed FlingGestureBasic to travel by a fixed distance
  packages/docs-gesture-handler/static/examples/FlingGestureBasic.js
Due: none

changed FlingGestureBasic to travel by a fixed distance in v2
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/FlingGestureBasic.js
Due: none

Fix animation on size change
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Guard nil touch
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple

Don't cancel buttons on treshold exceeded
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
Due: prettier --write, eslint

Remove `onActiveStateChange`
  packages/docs-gesture-handler/docs/components/touchable.mdx
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint

removed leftover code from hover in v3|
  packages/docs-gesture-handler/static/examples/HoverGestureBasic.js
Due: none

updated all the tags that could be self closing to be self closing
  packages/docs-gesture-handler/static/examples/FlingGestureBasic.js
  packages/docs-gesture-handler/static/examples/HoverGestureBasic.js
  packages/docs-gesture-handler/static/examples/LongPressGestureBasic.js
  packages/docs-gesture-handler/static/examples/PanGestureBasic.js
  packages/docs-gesture-handler/static/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/static/examples/RotationGestureBasic.js
  packages/docs-gesture-handler/static/examples/TapGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/FlingGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/HoverGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/LongPressGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PanGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/PinchGestureBasicSrc.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/RotationGestureBasic.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/RotationGestureBasicSrc.js
  packages/docs-gesture-handler/versioned_docs/version-2.x/examples/TapGestureBasic.js
Due: none

Don't emit duplicate events
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

[iOS] Fix button events with `numberOfPointers: 0` (#4098)
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
Due: yarn format:apple
