Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

fixed closure warning
  apps/common-app/src/empty/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/reanimatedWrapper.ts
  packages/react-native-gesture-handler/src/handlers/gestures/registerGestureSerializable.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Bump to rc.3
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

fix: keep scroll view DOWN interception for shouldActivateOnStart
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix: keep scroll view flings alive across the root's synthetic CANCEL
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[CI] Retry failed e2e flows before failing the job
  .github/scripts/retry-flows.mjs
  .github/workflows/android-e2e.yml
  .github/workflows/android.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios.yml
Due: none

[CI] Retry failed e2e flows before failing the job (#4550)
  .github/scripts/retry-flows.mjs
  .github/workflows/android-e2e.yml
  .github/workflows/android.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios.yml
Due: none

Follow the sign of a SharedValue pan offset on every update (#4533)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
Due: prettier --write, eslint

[Web] Detect composed gesture changes in the detector (#4526)
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

fix: leave scroll view DOWN to native dispatch again
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Expose animatable ref from legacy GestureDetector Wrap
  packages/react-native-gesture-handler/src/__tests__/legacyWrapRef.test.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
Due: prettier --write, eslint

Revert "fix: leave scroll view DOWN to native dispatch again"
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Prevent Touchable presses when stopping ScrollView flings (#4548)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Don't change state of handlers that haven't received any touches (#4549)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Make gesture fields non-enumerable
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

[Web] Align Tap maxDelay default with native (200 ms)
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/react-native-gesture-handler/src/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/TapGestureHandler.test.ts
Due: prettier --write, eslint

[General] Hide non-serializable gesture fields from enumeration (#4556)
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

Scan mount relations directly instead of rebuilding tag arrays (#4546)
  packages/react-native-gesture-handler/src/__tests__/useMountReactions.test.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
Due: prettier --write, eslint

Remove the TapGestureHandler test file
  packages/react-native-gesture-handler/src/web/handlers/__tests__/TapGestureHandler.test.ts
Due: prettier --write, eslint

Link late-mounted gesture objects and skip mount reactions without external relations
  packages/react-native-gesture-handler/src/__tests__/useMountReactions.test.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/types.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useMountReactions.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Update the Tap maxDelay default in the v2 builder comment
  packages/react-native-gesture-handler/src/handlers/gestures/tapGesture.ts
Due: prettier --write, eslint

set flag to true
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
Due: prettier --write, eslint

USe newGestures
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
Due: prettier --write, eslint

[General] Add `failOffsetY` prop to `ReanimatedSwipeable`
  packages/docs-gesture-handler/docs/components/reanimated_swipeable.mdx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

Add test for failOffsetY forwarding
  packages/react-native-gesture-handler/src/__tests__/reanimatedSwipeableCallbacks.test.tsx
Due: prettier --write, eslint

[Web] Use the view's bounding rect for wheel offsets
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

fix(android): respect pointer events on gesture root views
  apps/basic-example/src/App.tsx
  apps/basic-example/src/PointerEventsRepro.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootViewManager.kt
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerRootViewNativeComponent.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

[Web] Fix view relative coordinates of trackpad pan events (#4531)
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
Due: prettier --write, eslint

Copilot Set finding
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

Calculate correct view transforms
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
  packages/react-native-gesture-handler/src/web/tools/WheelEventManager.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Tests
  packages/react-native-gesture-handler/src/web/__tests__/utils.test.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/PanGestureHandler.test.ts
Due: prettier --write, eslint

[Web] Align Tap maxDelay default with native (200 ms) (#4557)
  packages/docs-gesture-handler/docs/gestures/use-tap-gesture.mdx
  packages/react-native-gesture-handler/src/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/handlers/gestures/tapGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/tap/TapTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
Due: prettier --write, eslint

Review fixes
  packages/react-native-gesture-handler/src/web/__tests__/utils.test.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

KeyboradEventManager
  packages/react-native-gesture-handler/src/web/tools/KeyboardEventManager.ts
Due: prettier --write, eslint

touch events
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/__tests__/GestureHandler.test.ts
Due: prettier --write, eslint

[Android] Add pressOutAfterAnimation prop to Touchable
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerButtonNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/PressableWithTouchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

[iOS] Implement on Touchable
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.h
  packages/react-native-gesture-handler/apple/RNGestureHandlerButton.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
Due: yarn format:apple

Remove web changes
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Allow opt-out in Pressable
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/v3/components/PressableWithTouchable.tsx
  packages/react-native-gesture-handler/src/v3/components/StatefulPressable.tsx
Due: prettier --write, eslint

Add pressOutAfterAnimation docs
  packages/docs-gesture-handler/docs/components/pressable.mdx
  packages/docs-gesture-handler/docs/components/touchable.mdx
Due: none
