Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

test: use official Worklets mock
  packages/react-native-gesture-handler/src/__tests__/reanimatedSwipeableCallbacks.test.tsx
Due: prettier --write, eslint

Add infor about mixing APIs
  packages/docs-gesture-handler/docs/composition/overview.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Add pack-time vendoring of internal packages
  packages/react-native-gesture-handler/.gitignore
  packages/react-native-gesture-handler/package.json
  scripts/vendor-for-pack.js
  scripts/verify-packed-tarball.js
Due: node scripts/check-rn-versions.js

Keep ReanimatedSwipeable native handlers stable when event callbacks change (#4466)
  packages/react-native-gesture-handler/src/__tests__/reanimatedSwipeableCallbacks.test.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Fix ReanimatedDrawerLayout animation speed after rerender
  packages/react-native-gesture-handler/src/__tests__/reanimatedDrawerLayoutAnimationSpeed.test.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

test: use official Worklets mock
  packages/react-native-gesture-handler/src/__tests__/reanimatedDrawerLayoutAnimationSpeed.test.tsx
Due: prettier --write, eslint

[Docs] Warn that gesture relations can't mix new and old APIs (#4467)
  packages/docs-gesture-handler/docs/composition/overview.mdx
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
Due: none

Add export-surface diff gate and fix composition barrel stub
  scripts/export-surface-diff.js
Due: none

Change timout type in Fling
  packages/react-native-gesture-handler/src/web/handlers/FlingGestureHandler.ts
Due: prettier --write, eslint

Fix delayTimeout type on the engine path
  packages/gesture-handler-dom-engine/src/handlers/FlingGestureHandler.ts
Due: prettier --write, eslint

Add Touchable and GestureHandlerButton to react-gesture-handler
  apps/next-example/app/gestures.tsx
  apps/web-example/src/main.tsx
  packages/gesture-handler-core/src/v3/types/TouchableTypes.ts
  packages/gesture-handler-core/src/v3/types/index.ts
  packages/react-gesture-handler/src/GestureHandlerButton.tsx
  packages/react-gesture-handler/src/Touchable.tsx
  packages/react-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/components/Touchable/TouchableProps.ts
  packages/react-native-gesture-handler/src/v3/types/TouchableTypes.ts
Due: prettier --write, eslint

Add bob builds and packaging metadata for the split packages
  packages/gesture-handler-core/.gitignore
  packages/gesture-handler-core/README.md
  packages/gesture-handler-core/package.json
  packages/gesture-handler-core/tsconfig.build.json
  packages/gesture-handler-dom-engine/.gitignore
  packages/gesture-handler-dom-engine/README.md
  packages/gesture-handler-dom-engine/package.json
  packages/gesture-handler-dom-engine/tsconfig.build.json
  packages/react-gesture-handler/.gitignore
  packages/react-gesture-handler/README.md
  packages/react-gesture-handler/package.json
  packages/react-gesture-handler/tsconfig.build.json
  yarn.lock
Due: none

Extend CI path filters to the engine and web packages
  .github/workflows/rngh-api-v3.yml
  .github/workflows/static-root-checks.yml
Due: none

Extract shared web example components to common-web
  apps/common-web/package.json
  apps/common-web/src/GestureShowcase.tsx
  apps/common-web/src/index.ts
  apps/next-example/app/page.tsx
  apps/next-example/next.config.mjs
  apps/next-example/package.json
  apps/web-example/package.json
  apps/web-example/src/main.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint

Make shipped sources compatible with strict consumer programs
  packages/react-gesture-handler/src/HostGestureDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
Due: prettier --write, eslint

Remove unused React imports
  packages/gesture-handler-core/src/v3/detectors/NativeDetector.tsx
  packages/gesture-handler-core/src/v3/detectors/VirtualDetector/InterceptingGestureDetector.tsx
Due: prettier --write, eslint

Convert public enums to const objects
  packages/gesture-handler-core/src/HoverEffect.ts
  packages/gesture-handler-core/src/PointerType.ts
  packages/gesture-handler-core/src/handlers/gestureHandlerCommon.ts
  packages/gesture-handler-core/src/v3/detectors/VirtualDetector/useInterceptingDetectorContext.ts
  packages/gesture-handler-core/src/v3/detectors/common.ts
  packages/gesture-handler-core/src/v3/types/GestureTypes.ts
  packages/gesture-handler-dom-engine/src/handlers/PanGestureHandler.ts
  packages/gesture-handler-dom-engine/src/interfaces.ts
  packages/react-native-gesture-handler/__typetests__/buttonEventTest.ts
Due: prettier --write, eslint

Add lint coverage for the split packages
  apps/common-web/package.json
  apps/common-web/tsconfig.json
  packages/gesture-handler-core/package.json
  packages/gesture-handler-dom-engine/package.json
  packages/react-gesture-handler/package.json
  yarn.lock
Due: none

Copilot review
  packages/react-native-gesture-handler/src/web/handlers/FlingGestureHandler.ts
Due: prettier --write, eslint

[Web] Fix `delayTimeout` type `FlingGestureHandler` (#4471)
  packages/react-native-gesture-handler/src/web/handlers/FlingGestureHandler.ts
Due: prettier --write, eslint

Remove patches for Worklets and Reanimated
  .yarn/patches/expo-modules-core-npm-57.0.13-a9a5cb7828.patch
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
Due: node scripts/check-rn-versions.js

Update Reaniamted hooks dependencies
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Update yarn.lock
  yarn.lock
Due: none

Don't pass dependencies to Reanimated hooks on native (#4472)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Use stable Reanimated and Worklets (#4473)
  .yarn/patches/expo-modules-core-npm-57.0.13-a9a5cb7828.patch
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/common-app/package.json
  apps/expo-example/package.json
  package.json
  packages/react-native-gesture-handler/package.json
  yarn.config.cjs
  yarn.lock
Due: node scripts/check-rn-versions.js

Add Reanimated mock
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
Due: prettier --write, eslint

Fix Errors.test.tsx failing with Reanimated 4.6.0 (#4474)
  packages/react-native-gesture-handler/src/__tests__/Errors.test.tsx
Due: prettier --write, eslint

[Android] Fix buttons firing press events when a scroll takes over the touch (#4441)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix native handlers attaching to a nested button instead of the detector's child (#4464)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

test: remove drawer animation regression test
  packages/react-native-gesture-handler/src/__tests__/reanimatedDrawerLayoutAnimationSpeed.test.tsx
Due: prettier --write, eslint

Fail when no xcode version available
  .github/workflows/ios-e2e.yml
Due: none

Run e2e tests on CI
  .github/actions/argent-server/action.yml
  .github/workflows/android-e2e.yml
  .github/workflows/android.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios.yml
Due: none

Memoize loggers
  apps/common-app/src/common.tsx
Due: prettier --write, eslint

Capture failures
  .github/actions/argent-server/action.yml
  .github/workflows/android-e2e.yml
  .github/workflows/ios-e2e.yml
  .github/workflows/ios.yml
Due: none

Fix ReanimatedDrawerLayout animation speed after rerender (#4470)
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
