Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

simplify binding
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

added navigation
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
  apps/common-app/src/e2e_screens/index.tsx
Due: prettier --write, eslint

Activate immediately
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

works on debug doesnt work on release :|
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
Due: prettier --write, eslint

Use correct viewTag
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Touch cancel
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

pointerInside
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Check only text inputs
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Update packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
  packages/react-native-gesture-handler/src/v3/detectors/NativeDetector.tsx
Due: prettier --write, eslint

Restore pressed state on drag out
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

removed from allowed props list
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/utils.ts
Due: prettier --write, eslint

most tests run
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
  apps/common-app/src/e2e_screens/index.tsx
Due: prettier --write, eslint

better comment
  packages/react-native-gesture-handler/apple/RNRootViewGestureRecognizer.m
Due: yarn format:apple

better docs
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
Due: none

fixed pan and fling isses
  apps/common-app/src/e2e_screens/gestureStyles.ts
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
  apps/common-app/src/e2e_screens/index.tsx
Due: prettier --write, eslint

Use the overriden method
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

added e2eApp
  apps/e2eApp/.bundle/config
  apps/e2eApp/.detoxrc.js
  apps/e2eApp/.eslintrc.js
  apps/e2eApp/.gitignore
  apps/e2eApp/.prettierrc.js
  apps/e2eApp/.watchmanconfig
  apps/e2eApp/App.tsx
  apps/e2eApp/Gemfile
  apps/e2eApp/README.md
  apps/e2eApp/__tests__/App.test.tsx
  apps/e2eApp/app.json
  apps/e2eApp/babel.config.js
  apps/e2eApp/e2e/fling.test.ts
  apps/e2eApp/e2e/hover.test.ts
  apps/e2eApp/e2e/jest.config.js
  apps/e2eApp/e2e/long-press.test.ts
  apps/e2eApp/e2e/pan.test.ts
  apps/e2eApp/e2e/pinch.test.ts
  apps/e2eApp/e2e/rotation.test.ts
  apps/e2eApp/e2e/tap.test.ts
  apps/e2eApp/e2e/tsconfig.json
  apps/e2eApp/index.js
  apps/e2eApp/ios/.xcode.env
  apps/e2eApp/ios/Podfile
  apps/e2eApp/ios/Podfile.lock
  apps/e2eApp/ios/e2eApp.xcodeproj/project.pbxproj
  apps/e2eApp/ios/e2eApp.xcodeproj/xcshareddata/xcschemes/e2eApp.xcscheme
  apps/e2eApp/ios/e2eApp.xcworkspace/contents.xcworkspacedata
  apps/e2eApp/ios/e2eApp/AppDelegate.swift
  apps/e2eApp/ios/e2eApp/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/e2eApp/ios/e2eApp/Images.xcassets/Contents.json
  apps/e2eApp/ios/e2eApp/Info.plist
  apps/e2eApp/ios/e2eApp/LaunchScreen.storyboard
  apps/e2eApp/ios/e2eApp/PrivacyInfo.xcprivacy
  apps/e2eApp/jest.config.js
  apps/e2eApp/metro.config.js
  apps/e2eApp/package.json
  apps/e2eApp/tsconfig.json
Due: prettier --write, eslint

Don't activate buttons on start
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
Due: prettier --write, eslint

Explain components
  packages/docs-gesture-handler/docs/components/wrapped-components.mdx
Due: none

pass onJSResponderCancelListener to the orchestrator, move shouldIntercept to onCancell
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/OnJSResponderCancelListener.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Revert "Use correct viewTag"
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

Simplify
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Simplify v2
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Simplify v3
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

changing example
  apps/common-app/src/new_api/tests/rnResponderCancellation/MultiHandlerExample.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/SingleHandlerExample.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
Due: prettier --write, eslint

use badges
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
Due: none

fix types
  apps/common-app/src/new_api/index.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/MultiHandlerExample.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/SingleHandlerExample.tsx
  apps/common-app/src/new_api/tests/rnResponderCancellation/index.tsx
Due: prettier --write, eslint

change description
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.mdx
Due: none

Fix stuck iOS pressables
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

Revert "Simplify v3"
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Revert "Simplify v2"
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Revert "Simplify"
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Reapply "Use correct viewTag"
  packages/react-native-gesture-handler/apple/RNGestureHandlerPointerTracker.mm
Due: yarn format:apple

doesnt realy work
  apps/common-app/src/e2e_screens/components/GestureBox.tsx
  apps/common-app/src/e2e_screens/components/GestureScreenBox.tsx
  apps/common-app/src/e2e_screens/components/NormalBox.tsx
  apps/common-app/src/e2e_screens/gestures/fling.tsx
  apps/common-app/src/e2e_screens/gestures/hover.tsx
  apps/common-app/src/e2e_screens/gestures/long_press.tsx
  apps/common-app/src/e2e_screens/gestures/pan.tsx
  apps/common-app/src/e2e_screens/gestures/pinch.tsx
  apps/common-app/src/e2e_screens/gestures/rotation.tsx
  apps/common-app/src/e2e_screens/gestures/tap.tsx
Due: prettier --write, eslint

Check for direct child
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

logs
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
Due: prettier --write, eslint

Dispatch cancel only when root view is enabled
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
