Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

avoiding indentation
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
Due: prettier --write, eslint

reformated native children detach
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
Due: prettier --write, eslint

fix logic error
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Detach correct set of handlers
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
Due: prettier --write, eslint

exclude libfbjni.so
  packages/react-native-gesture-handler/android/build.gradle
Due: none

fix relations
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

not passing relations when not necessary
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
Due: prettier --write, eslint

flush operations
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
Due: prettier --write, eslint

filtering config
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
Due: prettier --write, eslint

Simplify import and remove type imports
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

send event refactor
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
Due: yarn format:apple

moved empty set to utils
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
Due: prettier --write, eslint

fix can coalesce check to v3
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

first examples
  apps/common-app/App.tsx
  apps/common-app/src/v3_api/fling/fling.tsx
  apps/common-app/src/v3_api/lock/lock.tsx
  apps/common-app/src/v3_api/svg/svg.tsx
Due: prettier --write, eslint

Update hook usage in the NativeDetector (#3714)
  packages/react-native-gesture-handler/src/v3/NativeDetector/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
Due: prettier --write, eslint

coalesce check in touch event
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/events/RNGestureHandlerTouchEvent.kt
Due: node scripts/check-android-dirs.js, yarn format:android

fix relations (#3722)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/handlers/createHandler.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/attachHandlers.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/updateHandlers.ts
  packages/react-native-gesture-handler/src/v3/NativeDetector/utils.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

fix: ensure SwipeDirection is imported as a value in ReanimatedSwipeable (#3666)
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Make change properties non-nullable
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
Due: prettier --write, eslint

Change Extacted to Unpacked
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Use 0 instead of current values
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useHover.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePinch.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/useRotation.ts
Due: prettier --write, eslint

replace enum with an object
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeableProps.ts
Due: prettier --write, eslint

Do not copy event
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
Due: prettier --write, eslint

Bump to rc.4
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Rename argument `ev` to `event` (#3695)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix `Pressable`'s `onPress` being called on cancellation (#3678)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
Due: prettier --write, eslint

Update `metro.config.js` in example apps (#3718)
  apps/basic-example/metro.config.js
  apps/expo-example/metro.config.js
  yarn.lock
Due: none

Change type name
  packages/react-native-gesture-handler/src/v3/hooks/utils.ts
  packages/react-native-gesture-handler/src/v3/types.ts
Due: prettier --write, eslint

Extract offset handling to function
  packages/react-native-gesture-handler/src/v3/hooks/gestures/usePan.ts
Due: prettier --write, eslint

Fix docs
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
Due: prettier --write, eslint

simplify logic props creation
  packages/react-native-gesture-handler/src/v3/LogicDetector.tsx
Due: prettier --write, eslint

Fix `Fling` tsdoc (#3724)
  packages/react-native-gesture-handler/src/handlers/gestures/flingGesture.ts
Due: prettier --write, eslint

Change handling of enabled prop
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/EventManager.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

calculator, hover, overlap
  apps/common-app/App.tsx
  apps/common-app/src/v3_api/calculator/index.tsx
  apps/common-app/src/v3_api/hover/index.tsx
  apps/common-app/src/v3_api/overlap/index.tsx
Due: prettier --write, eslint

velocity test
  apps/common-app/App.tsx
  apps/common-app/src/v3_api/velocity_test/index.tsx
Due: prettier --write, eslint

Disable hover on gestures other than hover
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
Due: prettier --write, eslint

Change event.button to event.buttons
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
Due: prettier --write, eslint

Fix: exclude libfbjni.so (#3721)
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Rename to setEnabled
  packages/react-native-gesture-handler/src/web/tools/EventManager.ts
  packages/react-native-gesture-handler/src/web/tools/GestureHandlerWebDelegate.ts
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
