Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

simplify commons
  apps/common-app/App.tsx
  apps/common-app/src/common.tsx
  apps/common-app/src/v3_api/nested_text/nested_text.tsx
  apps/common-app/src/v3_api/svg/svg.tsx
Due: prettier --write, eslint

Change DetectorType to GestureDetectorType
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

hover
  apps/common-app/src/v3_api/hover/index.tsx
Due: prettier --write, eslint

colours
  apps/common-app/src/common.tsx
  apps/common-app/src/v3_api/bottom_sheet/index.tsx
  apps/common-app/src/v3_api/camera/index.tsx
  apps/common-app/src/v3_api/fling/fling.tsx
  apps/common-app/src/v3_api/lock/lock.tsx
  apps/common-app/src/v3_api/overlap/index.tsx
  apps/common-app/src/v3_api/svg/svg.tsx
  apps/common-app/src/v3_api/velocity_test/index.tsx
Due: prettier --write, eslint

more consistent styling
  apps/common-app/src/v3_api/hover/index.tsx
  apps/common-app/src/v3_api/overlap/index.tsx
  apps/common-app/src/v3_api/svg/svg.tsx
Due: prettier --write, eslint

fix overlap feedback
  apps/common-app/src/v3_api/overlap/index.tsx
Due: prettier --write, eslint

Pass correct prop
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint

fix feedback
  apps/common-app/src/common.tsx
Due: prettier --write, eslint

Change exports (#3858)
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
  packages/react-native-gesture-handler/src/v3/createNativeWrapper.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/detectors/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Handle `testID` prop (#3838)
  .github/workflows/rngh-api-v3.yml
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/handlers/handlersRegistry.ts
  packages/react-native-gesture-handler/src/jestUtils/jestUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/useGesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

fix svg
  apps/common-app/src/v3_api/svg/svg.tsx
Due: prettier --write, eslint

delete redundant comments
  apps/common-app/src/v3_api/hover/index.tsx
  apps/common-app/src/v3_api/svg/svg.tsx
Due: prettier --write, eslint

Fix scroll android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[Android] Fix `ScrollView` (#3867)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/NativeViewGestureHandler.kt
  packages/react-native-gesture-handler/src/v3/components/GestureComponents.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Pan gesture
  packages/docs-gesture-handler/docs/hooks/_shared/base-continuous-gesture-callbacks.md
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-callbacks.md
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-event-data.md
  packages/docs-gesture-handler/docs/hooks/use-pan-gesture.md
Due: none

Remap avgTouches
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
Due: prettier --write, eslint

Add cancelsTouchesInView
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

Bring back numberOfTuches and pointerType
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint

Correctly expose `avgTouches` (#3869)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/PanProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/pan/usePanGesture.ts
Due: prettier --write, eslint

Bring back missing fields from events (#3871)
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
Due: prettier --write, eslint

Add missing `cancelsTouchesInView` (#3870)
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
Due: prettier --write, eslint

Finish (?) Pan
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-callbacks.md
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/hooks/use-pan-gesture.md
Due: none

Tap
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-config.md
  packages/docs-gesture-handler/docs/hooks/use-pan-gesture.md
  packages/docs-gesture-handler/docs/hooks/use-tap-gesture.md
Due: none

Long press
  packages/docs-gesture-handler/docs/hooks/_shared/base-gesture-event-data.md
  packages/docs-gesture-handler/docs/hooks/use-long-press-gesture.md
Due: none

Rotation
  packages/docs-gesture-handler/docs/hooks/_shared/base-continuous-gesture-config.md
  packages/docs-gesture-handler/docs/hooks/use-long-press-gesture.md
  packages/docs-gesture-handler/docs/hooks/use-pan-gesture.md
  packages/docs-gesture-handler/docs/hooks/use-rotation-gesture.md
  packages/docs-gesture-handler/docs/hooks/use-tap-gesture.md
Due: none

Pinch
  packages/docs-gesture-handler/docs/hooks/use-pinch-gesture.md
Due: none

Fling
  packages/docs-gesture-handler/docs/hooks/use-fling-gesture.md
Due: none

Change direction type
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
Due: prettier --write, eslint

Hover
  packages/docs-gesture-handler/docs/hooks/use-hover-gesture.md
Due: none

Native
  packages/docs-gesture-handler/docs/hooks/use-native-gesture.md
Due: none

Manual
  packages/docs-gesture-handler/docs/hooks/use-manual-gesture.md
Due: none

Fix path
  packages/docs-gesture-handler/docs/hooks/use-fling-gesture.md
Due: none

Remove cache from workflow
  .github/workflows/docs-check.yml
Due: none

[android] feat: add Scroll Gesture
  apps/common-app/App.tsx
  apps/common-app/src/new_api/scroll/index.tsx
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/ScrollGestureHandler.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/Extensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerFactoryUtil.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootView.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/eventbuilders/ScrollGestureHandlerEventDataBuilder.kt
  packages/react-native-gesture-handler/src/handlers/GestureHandlerEventPayload.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gestureObjects.ts
  packages/react-native-gesture-handler/src/handlers/gestures/scrollGesture.ts
  packages/react-native-gesture-handler/src/index.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android

Bump to stable 0.83
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Update macos podfile.lock
  apps/macos-example/macos/Podfile.lock
Due: none

composition
  packages/docs-gesture-handler/docs/hooks/gesture-composition.md
Due: none

Change `direction` type in `Fling` (#3872)
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/FlingProperties.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/fling/useFlingGesture.ts
Due: prettier --write, eslint

Support `react-native` 0.83 (#3822)
  apps/basic-example/ios/BasicExample.xcodeproj/project.pbxproj
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  apps/basic-example/tsconfig.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js
