Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Extract version check to function
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Change default SDK
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Remove check for nightly
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Remove unsupported package
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/packageDeprecated/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Remove another unsupported package
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerDelegate.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerInterface.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerDelegate.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerInterface.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Merge noreanimated
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/common/GestureHandlerStateManager.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Bump reanimated
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Update label
  .github/workflows/needs-more-info.yml
Due: none

Bump `react-native-reanimated` (#3545)
  apps/common-app/package.json
  apps/expo-example/package.json
  apps/macos-example/macos/Podfile.lock
  apps/macos-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Add necessary code blocks
  packages/docs-gesture-handler/docs/fundamentals/installation.md
Due: none

docs: Bump t-rex to stable with Docusaurus 3.7 (#3516)
  packages/docs-gesture-handler/docs/fundamentals/installation.md
  packages/docs-gesture-handler/docusaurus.config.js
  packages/docs-gesture-handler/package.json
  packages/docs-gesture-handler/src/theme/CodeBlock/highlighting-dark.js
  packages/docs-gesture-handler/src/theme/CodeBlock/highlighting-light.js
  packages/docs-gesture-handler/tsconfig.json
  packages/docs-gesture-handler/versioned_docs/version-1.x/getting-started.md
  packages/docs-gesture-handler/versioned_sidebars/version-1.x-sidebars.json
  packages/docs-gesture-handler/yarn.lock
Due: none

Fix `needs-more-info` action (#3546)
  .github/workflows/needs-more-info.yml
Due: none

Handle pre-release versions
  packages/react-native-gesture-handler/android/build.gradle
Due: none

Update usage of types from React Native to make them compatible with Strict API (#3532)
  packages/react-native-gesture-handler/src/components/DrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable.tsx
  packages/react-native-gesture-handler/src/components/Text.tsx
  packages/react-native-gesture-handler/src/handlers/utils.ts
  packages/react-native-gesture-handler/src/web_hammer/GestureHandler.ts
Due: prettier --write, eslint

[Android] Update build tools (#3544)
  packages/react-native-gesture-handler/android/build.gradle
  packages/react-native-gesture-handler/android/gradle.properties
  packages/react-native-gesture-handler/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-gesture-handler/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-gesture-handler/android/gradlew
  packages/react-native-gesture-handler/android/gradlew.bat
  packages/react-native-gesture-handler/android/noreanimated/src/main/java/com/swmansion/common/GestureHandlerStateManager.kt
  packages/react-native-gesture-handler/android/packageDeprecated/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerDelegate.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerInterface.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerDelegate.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerInterface.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/swmansion/gesturehandler/NativeRNGestureHandlerModuleSpec.java
  packages/react-native-gesture-handler/android/paper77/src/main/java/com/swmansion/gesturehandler/ReactContextExtensions.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/RNGestureHandlerPackage.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix paths
  apps/basic-example/tsconfig.json
  apps/common-app/tsconfig.json
  apps/expo-example/tsconfig.json
  apps/macos-example/tsconfig.json
Due: none

Fix incorrect paths (#3548)
  apps/basic-example/tsconfig.json
  apps/common-app/tsconfig.json
  apps/expo-example/tsconfig.json
  apps/macos-example/tsconfig.json
Due: none

Fix iOS build with static frameworks
  packages/react-native-gesture-handler/RNGestureHandler.podspec
Due: none

Don't block onPress if onLongPress is not defined
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Don't block `onPress` if `onLongPress` is not defined (#3549)
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Fix build
  apps/basic-example/ios/Podfile.lock
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRegistry.kt
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerRootHelper.kt
  yarn.lock
Due: node scripts/check-android-dirs.js, yarn format:android

Bump to rc5
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

fix: replace 'transparent' string with 0x00000000 double to support Fabric
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Move codegen files to correct path
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/react-native.config.js
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/ComponentDescriptors.h
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorComponentDescriptor.h
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
  packages/react-native-gesture-handler/shared/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorState.h
  yarn.lock
Due: node scripts/check-rn-versions.js

[android] Fix compilation with react-native 0.80
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
Due: none

Fix possible web crashed
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/PointerEventManager.ts
Due: prettier --write, eslint

Update CLI
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Add `fbjni` only to 0.80
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
Due: none

Update podfile.lock
  apps/basic-example/ios/Podfile.lock
Due: none

Bump to stable 0.80
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Support `react-native` 0.80 (#3530)
  apps/basic-example/android/app/src/main/java/com/basicexample/MainApplication.kt
  apps/basic-example/android/build.gradle
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/android/gradlew.bat
  apps/basic-example/ios/BasicExample/Info.plist
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/RNGestureHandler.podspec
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Release 2.26.0
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Release 2.26.0 (#3556)
  apps/basic-example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Update compatibility table
  README.md
Due: none

Update compatibility table (#3557)
  README.md
Due: none

Add readme
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Copy `README.md` to package (#3558)
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Update compatibility table
  packages/docs-gesture-handler/docs/fundamentals/installation.md
Due: none

Cleanup CMakeLists
  packages/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
Due: none

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
