Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

fix styling in mousebuttons example
  apps/common-app/src/new_api/hover_mouse/mouse_buttons/index.tsx
Due: prettier --write, eslint

gh logo in the middle
  apps/common-app/src/new_api/hover_mouse/hoverable_icons/index.tsx
Due: prettier --write, eslint

Fix layout jumps with the native detector
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
Due: yarn format:cpp

Remove comment
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
Due: yarn format:cpp

Update packages/docs-gesture-handler/docs/fundamentals/gesture-detector.md
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.md
Due: none

Review suggestions #1
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.md
Due: none

Review suggestions 2
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.md
Due: none

V3 pressable (#3907)
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/components/Pressable/index.ts
  packages/react-native-gesture-handler/src/components/Pressable/utils.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint, yarn format:cpp

Move button finding to helper methods
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerDetectorView.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

Restore scroll view behavior on unbind
  packages/react-native-gesture-handler/apple/Handlers/RNNativeViewHandler.mm
Due: yarn format:apple

Improve CollapsibleCode component
  packages/docs-gesture-handler/src/components/CollapseButton/index.tsx
  packages/docs-gesture-handler/src/components/CollapseButton/styles.module.css
  packages/docs-gesture-handler/src/components/CollapsibleCode/index.tsx
Due: prettier --write, eslint

Interaction with Reanimated
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.md
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.md
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/states-events.mdx
Due: none

Backfill the being callback when skipped by native recognizer
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/stateChangeHandler.ts
Due: prettier --write, eslint

Add Animated
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-composition.md
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.md
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/states-events.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
Due: none

Add use cases
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
Due: none

Move reusing gestures to redbox
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
Due: none

[General] Fix layout jumps with native detector (#3930)
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerDetectorShadowNode.h
Due: yarn format:cpp

Update packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
Due: none

Update packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
  packages/docs-gesture-handler/docs/fundamentals/gesture-detector.mdx
Due: none

Update packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
Due: none

Turning off reanimated
  packages/docs-gesture-handler/docs/fundamentals/reanimated-interactions.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
Due: none

Mention all detectors
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
Due: none

Update examples
  packages/docs-gesture-handler/docs/fundamentals/state-manager.md
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
Due: none

Update packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-rotation-gesture.mdx
Due: none

Update packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
  packages/docs-gesture-handler/docs/gestures/use-pinch-gesture.mdx
Due: none

Review 1
  packages/docs-gesture-handler/docs/fundamentals/callbacks-events.mdx
  packages/docs-gesture-handler/docs/fundamentals/state-manager.mdx
  packages/docs-gesture-handler/docs/under-the-hood/state.md
Due: none

Use the same layout mechanism as the detector in buttons
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.cpp
  packages/react-native-gesture-handler/shared/shadowNodes/react/renderer/components/rngesturehandler_codegen/RNGestureHandlerButtonWrapperShadowNode.h
Due: yarn format:cpp

Update packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerDetector.mm
Due: yarn format:apple

Add useAnimated flag
  packages/docs-gesture-handler/docs/fundamentals/animated-interactions.mdx
  packages/docs-gesture-handler/docs/gestures/_shared/base-gesture-config.md
Due: none

Fix crash
  packages/docs-gesture-handler/docs/guides/upgrading-to-3.mdx
  packages/docs-gesture-handler/src/theme/MDXComponents/Details.js
Due: none

Fix link
  packages/docs-gesture-handler/docs/guides/troubleshooting.md
Due: none
