Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

.lintstagedrc.json:

{
  "{apps/basic-example,packages/react-native-gesture-handler}/package.json": "node scripts/check-rn-versions.js",
  "**/*.{ts,tsx}": ["prettier --write", "eslint"],
  "packages/react-native-gesture-handler/android/**/*.kt": [
    "node scripts/check-android-dirs.js",
    "yarn format:android"
  ],
  "packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}": "yarn format:apple",
  "packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}": "yarn format:cpp",
  "packages/react-native-gesture-handler/src/specs/*.ts": "yarn workspace react-native-gesture-handler sync-architectures"
}

Extarct CALLBACK_TYPE
  packages/react-native-gesture-handler/src/CallbackType.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

Rename to CallbackType
  packages/react-native-gesture-handler/src/CallbackType.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

Don't evaluate __DEV__ or Reanimated at module scope
  .eslintrc.json
  packages/react-native-gesture-handler/src/__tests__/propsWhiteList.test.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Extract the RN-free half of ScrollView interop from ScrollViewResponderInterceptor
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
  packages/react-native-gesture-handler/src/v3/scrollViewInterop.ts
Due: prettier --write, eslint

Replace react-native type imports in EventTypes/eventUtils with structural equivalents
  packages/react-native-gesture-handler/src/__tests__/eventTypes.test.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

Extract HoverEffect to a standalone module
  packages/react-native-gesture-handler/src/HoverEffect.ts
  packages/react-native-gesture-handler/src/handlers/gestures/hoverGesture.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverTypes.ts
Due: prettier --write, eslint

Use globalThis instead of bare global in utils
  .eslintrc.json
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

De-couple the web handlers from react-native
  .eslintrc.json
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Lift ButtonEvent out of the codegen spec into shared types
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/typeUtils.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/ButtonEvents.ts
Due: prettier --write, eslint

Review
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Types import
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/ButtonEvents.ts
Due: prettier --write, eslint

Extract `CALLBACK_TYPE` to shared module (#4374)
  packages/react-native-gesture-handler/src/CallbackType.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useAnimatedGesture.ts
  packages/react-native-gesture-handler/src/handlers/gestures/gesture.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/eventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventHandlersUtils.ts
Due: prettier --write, eslint

Stub the Windows module's Gestures map
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
Due: prettier --write, eslint

commment
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
Due: prettier --write, eslint

Don't evaluate `__DEV__` or `Reanimated` at module scope (#4375)
  .eslintrc.json
  packages/react-native-gesture-handler/src/__tests__/propsWhiteList.test.ts
  packages/react-native-gesture-handler/src/v3/hooks/callbacks/useReanimatedEventHandler.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/propsWhiteList.ts
Due: prettier --write, eslint

Replace React Native type imports in `EventTypes`/`eventUtils` with structural equivalents (#4377)
  packages/react-native-gesture-handler/src/__tests__/eventTypes.test.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/eventUtils.ts
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
Due: prettier --write, eslint

De-couple the web handlers from React Native (#4381)
  .eslintrc.json
  packages/react-native-gesture-handler/src/web/handlers/LongPressGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/TapGestureHandler.ts
  packages/react-native-gesture-handler/src/web/utils.ts
Due: prettier --write, eslint

Use `globalThis` instead of bare `global` in utils (#4380)
  .eslintrc.json
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

Extract the RN-free half of `ScrollView` interop from `ScrollViewResponderInterceptor` (#4376)
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
  packages/react-native-gesture-handler/src/v3/components/ScrollViewResponderInterceptor.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
  packages/react-native-gesture-handler/src/v3/hooks/useJSResponderHandler.ts
  packages/react-native-gesture-handler/src/v3/scrollViewInterop.ts
Due: prettier --write, eslint

Bump to rc.4
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Type tests
  packages/react-native-gesture-handler/__typetests__/buttonEventTest.ts
  packages/react-native-gesture-handler/__typetests__/tsconfig.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/typeUtils.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint

newline
  packages/react-native-gesture-handler/__typetests__/tsconfig.json
Due: none

Fix `Touchable` not respecting `keyboardShouldPersistTaps="handled"` (#4372)
  packages/react-native-gesture-handler/src/__tests__/api_v3.test.tsx
  packages/react-native-gesture-handler/src/v3/components/Touchable/Touchable.tsx
Due: prettier --write, eslint

Upload built applications
  .github/workflows/android-build.yml
  .github/workflows/android.yml
  .github/workflows/ios-build.yml
  .github/workflows/ios.yml
Due: none

Extract `HoverEffect` to a standalone module (#4379)
  packages/react-native-gesture-handler/src/HoverEffect.ts
  packages/react-native-gesture-handler/src/handlers/gestures/hoverGesture.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/v3/hooks/gestures/hover/HoverTypes.ts
Due: prettier --write, eslint

Lift `ButtonEvent` out of the codegen spec into shared types (#4382)
  packages/react-native-gesture-handler/__typetests__/buttonEventTest.ts
  packages/react-native-gesture-handler/__typetests__/tsconfig.json
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/v3/types/EventTypes.ts
  packages/react-native-gesture-handler/src/v3/types/index.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/tools/ButtonEvents.ts
Due: node scripts/check-rn-versions.js, prettier --write, eslint

init
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandler.kt
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerButtonComponentView.mm
  packages/react-native-gesture-handler/src/__tests__/hitSlop.test.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/handlers/hitSlop.ts
  packages/react-native-gesture-handler/src/handlers/utils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/configUtils.ts
  packages/react-native-gesture-handler/src/v3/hooks/utils/reanimatedUtils.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple

ref forwarding to child in wrap v2
  packages/react-native-gesture-handler/src/__tests__/legacyWrapRef.test.tsx
  packages/react-native-gesture-handler/src/getShadowNodeFromRef.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
  packages/react-native-gesture-handler/src/hostInstance.ts
Due: prettier --write, eslint

review suggestions'
  packages/react-native-gesture-handler/src/__tests__/legacyWrapRef.test.tsx
Due: prettier --write, eslint

Bring back commonjs
  packages/react-native-gesture-handler/jestSetup.js
  packages/react-native-gesture-handler/package.json
  packages/react-native-gesture-handler/scripts/mark-commonjs-build.js
  packages/react-native-gesture-handler/src/cjsBuildFlavor.ts
  packages/react-native-gesture-handler/src/cjsGuard.ts
  packages/react-native-gesture-handler/src/index.ts
  packages/react-native-gesture-handler/src/mocks/nativeComponentSpec.tsx
Due: node scripts/check-rn-versions.js, prettier --write, eslint

shared code
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/hostInstance.ts
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/Wrap.tsx
Due: prettier --write, eslint

Chore: ref forwarding to child in wrap v2 (#4385)
  packages/react-native-gesture-handler/src/__tests__/legacyWrapRef.test.tsx
  packages/react-native-gesture-handler/src/getShadowNodeFromRef.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/Wrap.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/index.tsx
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useDetectorUpdater.ts
  packages/react-native-gesture-handler/src/handlers/gestures/GestureDetector/useViewRefHandler.ts
  packages/react-native-gesture-handler/src/hostInstance.ts
  packages/react-native-gesture-handler/src/v3/detectors/VirtualDetector/Wrap.tsx
Due: prettier --write, eslint

Stub the Windows module's `Gestures` map (#4383)
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
Due: prettier --write, eslint

make normalizeHitSlop idempotent
  packages/react-native-gesture-handler/src/__tests__/hitSlop.test.ts
  packages/react-native-gesture-handler/src/handlers/hitSlop.ts
Due: prettier --write, eslint

reject negative sizes
  packages/react-native-gesture-handler/src/__tests__/hitSlop.test.ts
  packages/react-native-gesture-handler/src/handlers/hitSlop.ts
Due: prettier --write, eslint

test on native side wiring
  packages/react-native-gesture-handler/src/__tests__/hitSlopSharedValue.test.ts
  packages/react-native-gesture-handler/src/__tests__/hitSlopWiring.test.ts
Due: prettier --write, eslint

Wait for custom criteria
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

comment
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
Due: yarn format:apple

log error in worklet
  packages/react-native-gesture-handler/src/__tests__/hitSlop.test.ts
  packages/react-native-gesture-handler/src/handlers/hitSlop.ts
  packages/react-native-gesture-handler/src/utils.ts
Due: prettier --write, eslint

Fix manual activation
  packages/react-native-gesture-handler/apple/RNManualActivationRecognizer.m
Due: yarn format:apple
