Repository software-mansion/react-native-gesture-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-rn-versions.js, prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn format:cpp, yarn workspace react-native-gesture-handler sync-architectures

Refactor: Move `unbindFromView` calls outside synchronized blocks in `RNGestureHandlerRegistry` to reduce lock contention.
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Bump to 0.85.0-rc.1
  apps/basic-example/Gemfile
  apps/basic-example/Gemfile.lock
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.jar
  apps/basic-example/android/gradle/wrapper/gradle-wrapper.properties
  apps/basic-example/android/gradlew
  apps/basic-example/android/gradlew.bat
  apps/basic-example/ios/Podfile.lock
  apps/basic-example/jest.config.js
  apps/basic-example/package.json
  packages/react-native-gesture-handler/package.json
  yarn.lock
Due: node scripts/check-rn-versions.js

Remove deprecated API
  apps/common-app/src/legacy/basic/pagerAndDrawer/index.android.tsx
  apps/common-app/src/legacy/recipes/scaleAndRotate/index.tsx
  apps/common-app/src/legacy/showcase/bottomSheet/index.tsx
  apps/common-app/src/legacy/v2_api/bottom_sheet/index.tsx
  apps/common-app/src/new_api/showcase/bottom_sheet/index.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedDrawerLayout.tsx
  packages/react-native-gesture-handler/src/components/ReanimatedSwipeable/ReanimatedSwipeable.tsx
Due: prettier --write, eslint

Update preset
  packages/react-native-gesture-handler/jest.config.js
Due: none

Move @types/react-test-renderer to dependencies
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Remove unnecessary non-null assertions
  packages/react-native-gesture-handler/src/components/touchables/GenericTouchable.tsx
Due: prettier --write, eslint

Move @types/react-test-renderer to dependencies (#4015)
  packages/react-native-gesture-handler/package.json
Due: node scripts/check-rn-versions.js

Enable `exactOptionalPropertyTypes` support (#4012)
  packages/react-native-gesture-handler/src/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/Pressable/PressableProps.tsx
  packages/react-native-gesture-handler/src/components/touchables/ExtraButtonProps.ts
  packages/react-native-gesture-handler/src/components/touchables/TouchableHighlight.tsx
  packages/react-native-gesture-handler/src/handlers/GestureHandlerEventPayload.ts
  packages/react-native-gesture-handler/src/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/handlers/gestureHandlerCommon.ts
  packages/react-native-gesture-handler/src/specs/RNGestureHandlerDetectorNativeComponent.ts
  packages/react-native-gesture-handler/src/v3/components/GestureButtonsProps.ts
  packages/react-native-gesture-handler/src/v3/detectors/HostGestureDetector.web.tsx
  packages/react-native-gesture-handler/src/v3/detectors/common.ts
  packages/react-native-gesture-handler/src/v3/types/ConfigTypes.ts
  packages/react-native-gesture-handler/src/v3/types/DetectorTypes.ts
  packages/react-native-gesture-handler/src/v3/types/GestureTypes.ts
  packages/react-native-gesture-handler/src/v3/types/ReanimatedTypes.ts
  packages/react-native-gesture-handler/src/web/handlers/GestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/IGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/NativeViewGestureHandler.ts
  packages/react-native-gesture-handler/src/web/handlers/PanGestureHandler.ts
  packages/react-native-gesture-handler/src/web/interfaces.ts
  packages/react-native-gesture-handler/tsconfig.json
Due: prettier --write, eslint, yarn workspace react-native-gesture-handler sync-architectures

Remove synchronized from handlers getter
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

Use old button in LegacyPressable
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Web button
  apps/common-app/src/new_api/components/buttons/index.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

Extarct type
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
Due: prettier --write, eslint

[iOS] Fix concurrent modification crash (#4008)
  packages/react-native-gesture-handler/apple/RNGestureHandlerManager.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerRegistry.m
Due: yarn format:apple

[ios] not calling activation callback on inactive gestures (#3986)
  packages/react-native-gesture-handler/apple/Handlers/RNFlingHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNHoverHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNLongPressHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPanHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNPinchHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNRotationHandler.m
  packages/react-native-gesture-handler/apple/Handlers/RNTapHandler.m
  packages/react-native-gesture-handler/apple/RNGestureHandler.h
  packages/react-native-gesture-handler/apple/RNGestureHandler.mm
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

fix finalise success
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

[android] dont cancel manually activated gestures (#4011)
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/core/GestureHandlerOrchestrator.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix `LegacyPressable` (#4016)
  apps/common-app/src/new_api/components/buttons/index.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.web.tsx
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Base implementation
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Do not use animated button if not necessary
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

Use props
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
  packages/react-native-gesture-handler/src/v3/components/index.ts
  packages/react-native-gesture-handler/src/v3/index.ts
Due: prettier --write, eslint

Types
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
  packages/react-native-gesture-handler/src/v3/components/GestureButtons.tsx
  packages/react-native-gesture-handler/src/v3/types/NativeWrapperType.ts
Due: prettier --write, eslint

poc
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn workspace react-native-gesture-handler sync-architectures

Additional props
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

Working component
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

Small refactor
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

Add example
  apps/common-app/src/new_api/components/clickable/index.tsx
Due: prettier --write, eslint

Looks good
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

Unified, without ripple
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

Rippleeeee
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

clear activeState also in onFinalize
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

module function on ios
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
Due: yarn format:apple

remove leftover console log
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
Due: prettier --write, eslint

web and windows
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
Due: prettier --write, eslint

only screen reader android
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
Due: node scripts/check-android-dirs.js, yarn format:android

Fix borderless
  packages/react-native-gesture-handler/src/components/GestureHandlerButton.tsx
Due: prettier --write, eslint

rename
  packages/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  packages/react-native-gesture-handler/apple/RNGestureHandlerModule.mm
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.web.ts
  packages/react-native-gesture-handler/src/RNGestureHandlerModule.windows.ts
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/specs/NativeRNGestureHandlerModule.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint, node scripts/check-android-dirs.js, yarn format:android, yarn format:apple, yarn workspace react-native-gesture-handler sync-architectures

Default ripple color
  packages/react-native-gesture-handler/src/v3/components/ClickableAG.tsx
Due: prettier --write, eslint

Rename file
  packages/react-native-gesture-handler/src/v3/components/Clickable.tsx
Due: prettier --write, eslint

cache
  packages/react-native-gesture-handler/src/components/Pressable/stateDefinitions.ts
  packages/react-native-gesture-handler/src/utils.ts
  packages/react-native-gesture-handler/src/v3/components/Pressable.tsx
Due: prettier --write, eslint

legacy
  packages/react-native-gesture-handler/src/components/Pressable/Pressable.tsx
Due: prettier --write, eslint

Path conditions:
  node scripts/check-rn-versions.js: any of: {apps/basic-example,packages/react-native-gesture-handler}/package.json
  prettier --write: any of: **/*.{ts,tsx}
  eslint: any of: **/*.{ts,tsx}
  node scripts/check-android-dirs.js: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:android: any of: packages/react-native-gesture-handler/android/**/*.kt
  yarn format:apple: any of: packages/react-native-gesture-handler/apple/**/*.{h,m,mm,cpp}
  yarn format:cpp: any of: packages/react-native-gesture-handler/{shared,android}/**/*.{h,cpp}
  yarn workspace react-native-gesture-handler sync-architectures: any of: packages/react-native-gesture-handler/src/specs/*.ts
